In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import datetime
%matplotlib inline

In [2]:
pd.options.display.max_columns = None

In [3]:
from datetime import date
from datetime import timedelta
from dateutil.relativedelta import relativedelta

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier

## Import Data

In [4]:
#Import Main Table
MAIN_MASTER = pd.read_excel('Source Data Thailand HR.xlsx','TH workforce')

In [5]:
#Import Entry Date
ENTRY_MASTER = pd.read_excel('Source Data Thailand HR.xlsx','Hiring date')

In [6]:
#Import Ed Allowance
EDU_ALLOW_MASTER = pd.read_excel('Source Data Thailand HR.xlsx','Education allowance')

In [7]:
#Import House Loan
HOUSE_MASTER = pd.read_excel('Source Data Thailand HR.xlsx','Housing Loan')

In [8]:
#Import Education
EDU_MASTER = pd.read_excel('Source Data Thailand HR.xlsx','Education')

In [9]:
#Import Vacation
VAC_MASTER = pd.read_excel('Source Data Thailand HR.xlsx','Absence')

*****************************************************************************************************

In [10]:
# Dump data

In [11]:
MAIN = MAIN_MASTER.copy()
MAIN.set_index('Serial Number', inplace=True)

In [12]:
ENTRY = ENTRY_MASTER.copy()
ENTRY.set_index('Serial Number', inplace=True)

In [13]:
EDU_ALLOW = EDU_ALLOW_MASTER.copy()
EDU_ALLOW.set_index('Serial Number', inplace=True)

In [14]:
HOUSE = HOUSE_MASTER.copy()
HOUSE.set_index('Serial Number', inplace=True)

In [15]:
EDU = EDU_MASTER.copy()
#EDU.set_index('Serial Number', inplace=True)

In [16]:
VAC = VAC_MASTER.copy()

In [17]:
MAIN.head()

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status,Employment Status Text,Chief Designation,A&D Designated Position,Corp Hierarchy Division Code (L0),Corp Hierarchy Division Text (L0),Corp Hierarchy Function Code (L1),Corp Hierarchy Function Text (L1),Corp Hierarchy Sub-Function Code (L2),Corp Hierarchy Sub-Function Text (L2),Corp Hierarchy Department Code (L3),Corp Hierarchy Department Text (L3),Corp Hierarchy Sub-Department Code (L4),Corp Hierarchy Sub-Department Text (L4),Corp Hierarchy Section Code (L5),Corp Hierarchy Section Text (L5),Career Steward (IT9604),Career Steward Text (IT9604),Home Company Code (IT0001),Company Code Name,Employee Job Type Code,Employee Job Type Text,Personnel Area,Personnel Area Text,Personnel Subarea,Personnel Subarea Text,Employee Group Code,Employee Group Text,Employee Sub Group Code,Employee Sub Group Text,Organization Unit Code,Organization Unit Abbreviation,Organization Unit Name,Functional Organization (1F),Functional Organization (1F) Text,Functional Department (1D – IT9504),Functional Department (1D – IT9504) Text,Headcount Grouping,Headcount Grouping Text,Organization Unit 0,Organization Unit 0 Text,Organization Unit 1,Organization Unit 1 Text,Organization Unit 2,Organization Unit 2 Text,Organization Unit 3,Organization Unit 3 Text,Organization Unit 4,Organization Unit 4 Text,Organization Unit 5,Organization Unit 5 Text,Organization Unit 6,Organization Unit 6 Text,Organization Unit 7,Organization Unit 7 Text,Organization Unit 8,Organization Unit 8 Text,Organization Unit 9,Organization Unit 9 Text,Functional Organization Unit 0,Functional Organization Unit 0 Text,Functional Organization Unit 1,Functional Organization Unit 1 Text,Functional Organization Unit 2,Functional Organization Unit 2 Text,Functional Organization Unit 3,Functional Organization Unit 3 Text,Functional Organization Unit 4,Functional Organization Unit 4 Text,Functional Organization Unit 5,Functional Organization Unit 5 Text,Functional Organization Unit 6,Functional Organization Unit 6 Text,Functional Organization Unit 7,Functional Organization Unit 7 Text,Functional Organization Unit 8,Functional Organization Unit 8 Text,Functional Organization Unit 9,Functional Organization Unit 9 Text,Department (OU),Department (OU) Text,Home Cost Center (IT0001),Cost Center Description,Payroll Area,Payroll Area Text,Business Area,Business Area Text,Employee Main Address - City,Employee Main Address - Zip Code,District,Employee Main Address - Country,Work Schedule,Work Schedule Text,Personnel Action Type Code,Personnel Action Text,Personnel Action Reason Code,Personnel Action Reason Description,Personnel action - Month,Personnel action - Year,Previous Organization Unit,Previous Organization Abbreviation,Previous Organization Unit Text,Function before withdrawn,BSC Indicator,Outlier - Resigned
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THHT,HEAD OFFICE ETL,TH00,ETL HeadOffice,1,Regular,I0,MPT-monthly,80000295.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1511,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,NaN,NaN,NaN,NaN,NORM,normal,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,11,1998,0.0,NaN,NaN,NaN,NaN,NaN
2,NaN,M,3,1942,NaT,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THHT,HEAD OFFICE ETL,TH00,ETL HeadOffice,1,Regular,I0,MPT-monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1511,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,5,1998,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,M,6,1938,NaT,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THUB,UBOL,TH00,Ubol B/P,1,Regular,60,Non-MPT-monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2290,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,6,1998,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,F,1,1942,1961-12-01,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THHT,HEAD OFFICE ETL,TH00,ETL HeadOffice,1,Regular,I0,MPT-monthly,80000327.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2216,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,NaN,NaN,NaN,NaN,NORM,normal,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,0.0,NaN,NaN,NaN,NaN,NaN
5,NaN,M,2,1939,1961-02-01,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THHT,HEAD OFFICE ETL,TH00,ETL HeadOffice,1,Regular,I0,MPT-monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2216,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,BANGKOK,10700.0,BANGPLAD,TH,NORM,normal,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,80000739.0,THTRMDO8,SALES SUPPORT,NaN,NaN,NaN

In [18]:
len(MAIN[MAIN['Supervisor Serial'].isnull()])

974

In [19]:


Columns = MAIN.columns.tolist()
Columns

['Supervisor Serial',
 'Gender',
 'Month of Birth',
 'Year of Birth',
 'Tech Date of Entry',
 'Employment Status',
 'Employment Status Text',
 'Chief Designation',
 'A&D Designated Position',
 'Corp Hierarchy Division Code (L0)',
 'Corp Hierarchy Division Text (L0)',
 'Corp Hierarchy Function Code (L1)',
 'Corp Hierarchy Function Text (L1)',
 'Corp Hierarchy Sub-Function Code (L2)',
 'Corp Hierarchy Sub-Function Text (L2)',
 'Corp Hierarchy Department Code (L3)',
 'Corp Hierarchy Department Text (L3)',
 'Corp Hierarchy Sub-Department Code (L4)',
 'Corp Hierarchy Sub-Department Text (L4)',
 'Corp Hierarchy Section Code (L5)',
 'Corp Hierarchy Section Text (L5)',
 'Career Steward (IT9604)',
 'Career Steward Text (IT9604)',
 'Home Company Code (IT0001)',
 'Company Code Name',
 'Employee Job Type Code',
 'Employee Job Type Text',
 'Personnel Area',
 'Personnel Area Text',
 'Personnel Subarea',
 'Personnel Subarea Text',
 'Employee Group Code',
 'Employee Group Text',
 'Employee Sub Group Code',
 'Employee Sub Group Text',
 'Organization Unit Code',
 'Organization Unit Abbreviation',
 'Organization Unit Name',
 'Functional Organization (1F)',
 'Functional Organization (1F) Text',
 'Functional Department (1D – IT9504)',
 'Functional Department (1D – IT9504) Text',
 'Headcount Grouping',
 'Headcount Grouping Text',
 'Organization Unit 0',
 'Organization Unit 0 Text',
 'Organization Unit 1',
 'Organization Unit 1 Text',
 'Organization Unit 2',
 'Organization Unit 2 Text',
 'Organization Unit 3',
 'Organization Unit 3 Text',
 'Organization Unit 4',
 'Organization Unit 4 Text',
 'Organization Unit 5',
 'Organization Unit 5 Text',
 'Organization Unit 6',
 'Organization Unit 6 Text',
 'Organization Unit 7',
 'Organization Unit 7 Text',
 'Organization Unit 8',
 'Organization Unit 8 Text',
 'Organization Unit 9',
 'Organization Unit 9 Text',
 'Functional Organization Unit 0',
 'Functional Organization Unit 0 Text',
 'Functional Organization Unit 1',
 'Functional Organization Unit 1 Text',
 'Functional Organization Unit 2',
 'Functional Organization Unit 2 Text',
 'Functional Organization Unit 3',
 'Functional Organization Unit 3 Text',
 'Functional Organization Unit 4',
 'Functional Organization Unit 4 Text',
 'Functional Organization Unit 5',
 'Functional Organization Unit 5 Text',
 'Functional Organization Unit 6',
 'Functional Organization Unit 6 Text',
 'Functional Organization Unit 7',
 'Functional Organization Unit 7 Text',
 'Functional Organization Unit 8',
 'Functional Organization Unit 8 Text',
 'Functional Organization Unit 9',
 'Functional Organization Unit 9 Text',
 'Department (OU)',
 'Department (OU) Text',
 'Home Cost Center (IT0001)',
 'Cost Center Description',
 'Payroll Area',
 'Payroll Area Text',
 'Business Area',
 'Business Area Text',
 'Employee Main Address - City',
 'Employee Main Address - Zip Code',
 'District',
 'Employee Main Address - Country',
 'Work Schedule',
 'Work Schedule Text',
 'Personnel Action Type Code',
 'Personnel Action Text',
 'Personnel Action Reason Code',
 'Personnel Action Reason Description',
 'Personnel action - Month',
 'Personnel action - Year',
 'Previous Organization Unit',
 'Previous Organization Abbreviation',
 'Previous Organization Unit Text',
 'Function before withdrawn',
 'BSC Indicator',
 'Outlier - Resigned']

In [20]:
DropColumns = [
 'Employment Status',
 'Chief Designation',
 'A&D Designated Position',
 'Corp Hierarchy Division Code (L0)',
 'Corp Hierarchy Division Text (L0)',
 'Corp Hierarchy Function Code (L1)',
 'Corp Hierarchy Function Text (L1)',
 'Corp Hierarchy Sub-Function Code (L2)',
 'Corp Hierarchy Sub-Function Text (L2)',
 'Corp Hierarchy Department Code (L3)',
 'Corp Hierarchy Department Text (L3)',
 'Corp Hierarchy Sub-Department Code (L4)',
 'Corp Hierarchy Sub-Department Text (L4)',
 'Corp Hierarchy Section Code (L5)',
 'Corp Hierarchy Section Text (L5)',
 'Career Steward (IT9604)',
 'Career Steward Text (IT9604)',
 'Home Company Code (IT0001)',
 'Company Code Name',
 'Employee Job Type Code',
 'Employee Job Type Text',
 'Personnel Area',
 'Personnel Area Text',
 'Personnel Subarea',
 'Personnel Subarea Text',
 'Employee Group Code',
 'Employee Group Text',
 'Employee Sub Group Code',
 'Organization Unit Code',
 'Organization Unit Abbreviation',
 'Organization Unit Name',
 'Functional Organization (1F)',
 'Functional Organization (1F) Text',
 'Functional Department (1D – IT9504)',
 'Functional Department (1D – IT9504) Text',
 'Headcount Grouping',
 'Headcount Grouping Text',
 'Organization Unit 0',
 'Organization Unit 0 Text',
 'Organization Unit 1',
 'Organization Unit 1 Text',
 'Organization Unit 2',
 'Organization Unit 2 Text',
 'Organization Unit 3',
 'Organization Unit 3 Text',
 'Organization Unit 4',
 'Organization Unit 4 Text',
 'Organization Unit 5',
 'Organization Unit 5 Text',
 'Organization Unit 6',
 'Organization Unit 6 Text',
 'Organization Unit 7',
 'Organization Unit 7 Text',
 'Organization Unit 8',
 'Organization Unit 8 Text',
 'Organization Unit 9',
 'Organization Unit 9 Text',
 'Functional Organization Unit 0',
 'Functional Organization Unit 0 Text',
 'Functional Organization Unit 1',
 'Functional Organization Unit 1 Text',
 'Functional Organization Unit 2',
 'Functional Organization Unit 2 Text',
 'Functional Organization Unit 3',
 'Functional Organization Unit 3 Text',
 'Functional Organization Unit 4',
 'Functional Organization Unit 4 Text',
 'Functional Organization Unit 5',
 'Functional Organization Unit 5 Text',
 'Functional Organization Unit 6',
 'Functional Organization Unit 6 Text',
 'Functional Organization Unit 7',
 'Functional Organization Unit 7 Text',
 'Functional Organization Unit 8',
 'Functional Organization Unit 8 Text',
 'Functional Organization Unit 9',
 'Functional Organization Unit 9 Text',
 'Department (OU)',
 'Department (OU) Text',
 'Home Cost Center (IT0001)',
 'Cost Center Description',
 'Payroll Area',
 'Payroll Area Text',
 'Business Area',
 'Business Area Text',
 'Employee Main Address - City',
 'Employee Main Address - Zip Code',
 'District',
 'Employee Main Address - Country',
 'Work Schedule',
 'Work Schedule Text',
 'Previous Organization Unit',
 'Previous Organization Abbreviation',
 'Previous Organization Unit Text',
 'Function before withdrawn',
 'Outlier - Resigned']

MAIN.drop(DropColumns, axis=1, inplace=True)
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel Action Type Code,Personnel Action Text,Personnel Action Reason Code,Personnel Action Reason Description,Personnel action - Month,Personnel action - Year,BSC Indicator
Serial Number,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,11,1998,NaN
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,5,1998,NaN
3,NaN,M,6,1938,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,6,1998,NaN
4,NaN,F,1,1942,1961-12-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,2000,NaN
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,2,2000,NaN
8,27.0,M,5,1939,1962-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN
9,NaN,M,1,1937,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,1,1998,NaN
10,NaN,M,1,1943,1962-06-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,5,2000,NaN
11,88.0,M,11,1939,1962-04-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,12,1999,NaN
12,NaN,M,12,1945,1964-01-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,4,1999,NaN
13,714.0,M,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,10,2005,NaN
14,NaN,M,9,1946,1964-10-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,2001,NaN
15,NaN,F,4,1944,1964-05-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN
16,NaN,M,10,1938,1964-09-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,11,1998,NaN
17,NaN,F,4,1943,1964-12-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
18,362.0,M,2,1938,1965-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,1999,NaN
19,NaN,F,12,1943,1965-06-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,10,1999,NaN
20,NaN,M,6,1941,1965-08-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,2,2000,NaN
21,NaN,M,9,1941,1965-10-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,10,2001,NaN
22,559.0,F,11,1940,1965-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,12,2000,NaN
23,NaN,M,9,1940,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,7,1998,NaN
24,1557.0,M,4,1942,NaT,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,7,1999,NaN
25,NaN,M,2,1944,NaT,Withdrawn,MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,8,1998,NaN
26,342.0,M,11,1940,1966-08-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,5,2000,NaN
27,NaN,M,4,1939,1966-09-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN
28,475.0,M,7,1940,1966-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
29,455.0,M,10,1941,1966-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
30,707.0,M,6,1942,1966-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,7,2002,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057.0,F,6,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5010,1957.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5011,1957.0,F,5,1995,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5012,3196.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5013,1957.0,F,2,1992,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5014,2492.0,M,2,1991,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5015,3185.0,F,6,1990,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5016,809.0,F,7,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5017,2454.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5018,1957.0,F,1,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5019,2216.0,F,7,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5020,3062.0,F,12,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5021,2124.0,F,9,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5022,583.0,M,10,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5023,2330.0,F,5,1995,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5024,3448.0,F,8,1991,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,NaN
5025,3594.0,F,7,1995,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5026,NaN,F,9,1986,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5027,3245.0,F,4,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5028,891.0,M,4,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,NaN
5029,2913.0,F,8,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5030,1809.0,F,5,1991,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5031,2635.0,F,7,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5032,1605.0,F,11,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5033,2492.0,F,9,1991,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5034,2492.0,F,1,1993,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5035,1605.0,M,9,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5036,2124.0,M,1,1993,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5037,3185.0,F,5,1990,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5038,820.0,F,12,1991,2018-01-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X

In [21]:
MAIN.dtypes

Supervisor Serial                             float64
Gender                                         object
Month of Birth                                  int64
Year of Birth                                   int64
Tech Date of Entry                     datetime64[ns]
Employment Status Text                         object
Employee Sub Group Text                        object
Personnel Action Type Code                     object
Personnel Action Text                          object
Personnel Action Reason Code                   object
Personnel Action Reason Description            object
Personnel action - Month                        int64
Personnel action - Year                         int64
BSC Indicator                                  object
dtype: object

## Define target - Resigned

In [22]:
MAIN.loc[:,'Action Reason'] = MAIN['Personnel Action Type Code'].astype('str')+'-'+ MAIN['Personnel Action Text'].astype('str')+' : '+ MAIN['Personnel Action Reason Code'].astype('str')+'-'+ MAIN['Personnel Action Reason Description'].astype('str')

In [23]:
LeaveReason = MAIN['Action Reason'].unique()
sorted(LeaveReason)

['1-ENTRY IN THE COMPANY : 0-Hiring-New position',
 '1-ENTRY IN THE COMPANY : 1-Hiring-Existing position',
 '11-INTERNAL MOVE : 70-Change Company/New Pos.',
 '11-INTERNAL MOVE : 71-Change Company/Exist.Pos.',
 '11-INTERNAL MOVE : 72-Change Pers.Area/New Pos.',
 '11-INTERNAL MOVE : 73-Change Pers.Area/Exist. Pos.',
 '11-INTERNAL MOVE : 74-Change Organization/New Pos.',
 '11-INTERNAL MOVE : 75-Change Organization/Exist Pos.',
 '11-INTERNAL MOVE : 76-Change Position/New Pos.',
 '11-INTERNAL MOVE : 77-Change Position/Exist Pos.',
 '11-INTERNAL MOVE : 82-Reorganization',
 '11-INTERNAL MOVE : ZZ-Technical upload',
 '15-RETURN TO HOME COMPANY : C0-Return home Cy-new position',
 '15-RETURN TO HOME COMPANY : C1-Return home Cy- Existing pos.',
 '21-CHANGE EMPLOYEE SITUATION : E6-Temporary to Regular',
 '21-CHANGE EMPLOYEE SITUATION : G0-Promotion (change in position)',
 '21-CHANGE EMPLOYEE SITUATION : G1-Reclassification',
 '3-RE-ENTRY IN THE COMPANY : 0-Hiring-New position',
 '3-RE-ENTRY IN THE COMPANY : 1-Hiring-Existing position',
 '31-LEAVE THE COMPANY : 82-Reorganization',
 '31-LEAVE THE COMPANY : M0-Discharge',
 '31-LEAVE THE COMPANY : M1-Discharge during Prob.Period',
 '31-LEAVE THE COMPANY : M2-Discharge - Just Cause',
 '31-LEAVE THE COMPANY : N0-Resignation-Regretted',
 '31-LEAVE THE COMPANY : N1-Resignation-Non regretted',
 '31-LEAVE THE COMPANY : N2-Resignation during Prob.Period',
 '31-LEAVE THE COMPANY : N4-Resignation - Just Cause',
 '31-LEAVE THE COMPANY : O0-Redundancy Prg-Cy Initiate',
 '31-LEAVE THE COMPANY : P0-Disability',
 '31-LEAVE THE COMPANY : P1-Death',
 '31-LEAVE THE COMPANY : P6-Transfer to another Molga',
 '31-LEAVE THE COMPANY : TE-Leave',
 '35-RETIREMENT NOT PAID : Q0-Early retirement-EE Initiated',
 '35-RETIREMENT NOT PAID : Q3-Early retmt-Redundancy-Cy ini',
 '35-RETIREMENT NOT PAID : R1-Normal retirement-Cy Initiated',
 'Y3-Hiring Active (Migration) : ZZ-Migration Upload',
 'Y4-Withdrawn Chg. (Migration) : ZZ-Migration Upload']

In [24]:
DEF_RESIGNED = [
    '31-LEAVE THE COMPANY : N0-Resignation-Regretted',
    '31-LEAVE THE COMPANY : N1-Resignation-Non regretted',
    '31-LEAVE THE COMPANY : N2-Resignation during Prob.Period',
    '31-LEAVE THE COMPANY : N4-Resignation - Just Cause',
]

MAIN.loc[:, 'Resigned'] = 0
MAIN.loc[MAIN['Action Reason'].isin(DEF_RESIGNED), 'Resigned'] = 1

MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel Action Type Code,Personnel Action Text,Personnel Action Reason Code,Personnel Action Reason Description,Personnel action - Month,Personnel action - Year,BSC Indicator,Action Reason,Resigned
Serial Number,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,11,1998,NaN,31-LEAVE THE COMPANY : N1-Resignation-Non regr...,1
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,5,1998,NaN,Y4-Withdrawn Chg. (Migration) : ZZ-Migration U...,0
3,NaN,M,6,1938,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,6,1998,NaN,Y4-Withdrawn Chg. (Migration) : ZZ-Migration U...,0
4,NaN,F,1,1942,1961-12-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,2,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
8,27.0,M,5,1939,1962-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
9,NaN,M,1,1937,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,1,1998,NaN,Y4-Withdrawn Chg. (Migration) : ZZ-Migration U...,0
10,NaN,M,1,1943,1962-06-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,5,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
11,88.0,M,11,1939,1962-04-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,12,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
12,NaN,M,12,1945,1964-01-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,4,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
13,714.0,M,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,10,2005,NaN,31-LEAVE THE COMPANY : N1-Resignation-Non regr...,1
14,NaN,M,9,1946,1964-10-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,2001,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
15,NaN,F,4,1944,1964-05-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
16,NaN,M,10,1938,1964-09-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,11,1998,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
17,NaN,F,4,1943,1964-12-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
18,362.0,M,2,1938,1965-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
19,NaN,F,12,1943,1965-06-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,10,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
20,NaN,M,6,1941,1965-08-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,2,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
21,NaN,M,9,1941,1965-10-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,10,2001,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
22,559.0,F,11,1940,1965-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,12,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
23,NaN,M,9,1940,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,7,1998,NaN,Y4-Withdrawn Chg. (Migration) : ZZ-Migration U...,0
24,1557.0,M,4,1942,NaT,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,7,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
25,NaN,M,2,1944,NaT,Withdrawn,MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,8,1998,NaN,Y4-Withdrawn Chg. (Migration) : ZZ-Migration U...,0
26,342.0,M,11,1940,1966-08-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,5,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
27,NaN,M,4,1939,1966-09-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
28,475.0,M,7,1940,1966-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
29,455.0,M,10,1941,1966-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
30,707.0,M,6,1942,1966-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,7,2002,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057.0,F,6,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5010,1957.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5011,1957.0,F,5,1995,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5012,3196.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5013,1957.0,F,2,1992,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5014,2492.0,M,2,1991,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5015,3185.0,F,6,1990,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5016,809.0,F,7,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5017,2454.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5018,1957.0,F,1,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5019,2216.0,F,7,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5020,3062.0,F,12,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5021,2124.0,F,9,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5022,583.0,M,10,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5023,2330.0,F,5,1995,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5024,3448.0,F,8,1991,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,NaN,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5025,3594.0,F,7,1995,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5026,NaN,F,9,1986,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5027,3245.0,F,4,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5028,891.0,M,4,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,NaN,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5029,2913.0,F,8,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5030,1809.0,F,5,1991,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5031,2635.0,F,7,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5032,1605.0,F,11,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5033,2492.0,F,9,1991,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5034,2492.0,F,1,1993,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5035,1605.0,M,9,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5036,2124.0,M,1,1993,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5037,3185.0,F,5,1990,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5038,820.0,F,12,1991,2018-01-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0

In [25]:
#Drop records of Withdrawn : Migration Upload
UNIDENTIFY = [
    'Y4-Withdrawn Chg. (Migration) : ZZ-Migration Upload',
]

DROP_RECORDS = MAIN[MAIN['Action Reason'].isin(UNIDENTIFY)].index.tolist()
len(DROP_RECORDS)

210

In [26]:
MAIN.drop(MAIN.index[DROP_RECORDS], inplace=True)
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel Action Type Code,Personnel Action Text,Personnel Action Reason Code,Personnel Action Reason Description,Personnel action - Month,Personnel action - Year,BSC Indicator,Action Reason,Resigned
Serial Number,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,11,1998,NaN,31-LEAVE THE COMPANY : N1-Resignation-Non regr...,1
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,5,1998,NaN,Y4-Withdrawn Chg. (Migration) : ZZ-Migration U...,0
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,2,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
8,27.0,M,5,1939,1962-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
9,NaN,M,1,1937,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,1,1998,NaN,Y4-Withdrawn Chg. (Migration) : ZZ-Migration U...,0
11,88.0,M,11,1939,1962-04-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,12,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
12,NaN,M,12,1945,1964-01-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,4,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
13,714.0,M,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,10,2005,NaN,31-LEAVE THE COMPANY : N1-Resignation-Non regr...,1
14,NaN,M,9,1946,1964-10-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,2001,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
15,NaN,F,4,1944,1964-05-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
16,NaN,M,10,1938,1964-09-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,11,1998,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
17,NaN,F,4,1943,1964-12-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
18,362.0,M,2,1938,1965-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
19,NaN,F,12,1943,1965-06-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,10,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
20,NaN,M,6,1941,1965-08-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,2,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
21,NaN,M,9,1941,1965-10-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,10,2001,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
22,559.0,F,11,1940,1965-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,12,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
23,NaN,M,9,1940,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,7,1998,NaN,Y4-Withdrawn Chg. (Migration) : ZZ-Migration U...,0
25,NaN,M,2,1944,NaT,Withdrawn,MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,8,1998,NaN,Y4-Withdrawn Chg. (Migration) : ZZ-Migration U...,0
27,NaN,M,4,1939,1966-09-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
28,475.0,M,7,1940,1966-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
29,455.0,M,10,1941,1966-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
30,707.0,M,6,1942,1966-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,7,2002,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
31,231.0,M,2,1942,1966-07-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,7,1999,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
32,493.0,F,7,1944,1966-01-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,6,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
33,346.0,F,7,1940,1967-03-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,8,2000,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
34,687.0,M,5,1949,1967-02-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,2,2005,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
35,122.0,M,11,1941,1967-03-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,8,2001,NaN,31-LEAVE THE COMPANY : N0-Resignation-Regretted,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057.0,F,6,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5010,1957.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5011,1957.0,F,5,1995,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5012,3196.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5013,1957.0,F,2,1992,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5014,2492.0,M,2,1991,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5015,3185.0,F,6,1990,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5016,809.0,F,7,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5017,2454.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5018,1957.0,F,1,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5019,2216.0,F,7,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5020,3062.0,F,12,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5021,2124.0,F,9,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5022,583.0,M,10,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5023,2330.0,F,5,1995,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5024,3448.0,F,8,1991,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,NaN,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5025,3594.0,F,7,1995,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5026,NaN,F,9,1986,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5027,3245.0,F,4,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5028,891.0,M,4,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,NaN,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5029,2913.0,F,8,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5030,1809.0,F,5,1991,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5031,2635.0,F,7,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5032,1605.0,F,11,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5033,2492.0,F,9,1991,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5034,2492.0,F,1,1993,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5035,1605.0,M,9,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5036,2124.0,M,1,1993,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5037,3185.0,F,5,1990,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0
5038,820.0,F,12,1991,2018-01-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X,1-ENTRY IN THE COMPANY : 0-Hiring-New position,0

In [27]:
DropColumns = [
'Personnel Action Type Code',
'Personnel Action Text',
'Personnel Action Reason Code',
'Personnel Action Reason Description',
'Action Reason']

MAIN.drop(DropColumns, axis=1, inplace=True)

In [28]:
MAIN.head()

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned
Serial Number,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,NaN,1
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,NaN,0
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,3,2000,NaN,1
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,NaN,1
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,2,2000,NaN,1

In [29]:
#Create Is-MPT flag
MAIN['Is MPT'] = 0
MAIN.loc[MAIN['Employee Sub Group Text']=='MPT-monthly','Is MPT'] = 1

In [30]:
#Create Is BSC Indicator flag
MAIN.loc[MAIN['BSC Indicator'].isnull(), 'BSC Indicator'] = 0
MAIN.loc[MAIN['BSC Indicator']=='X', 'BSC Indicator'] = 1
MAIN.loc[:,'BSC Indicator'] = MAIN['BSC Indicator'].astype('int64')

## Reference Date

In [31]:
len(MAIN[MAIN['Supervisor Serial'].isnull()])

882

In [32]:
#Define Ref date and prediction period
RefDate = '2017-12-31'
Prediction_Period =-90 #days

MAIN['Reference Date'] = pd.to_datetime(RefDate)

In [33]:
MAIN['Personnel action - Year'] = MAIN['Personnel action - Year'].astype('str')
MAIN['Personnel action - Month'] = MAIN['Personnel action - Month'].astype('str')
MAIN['temp Action Date'] = pd.to_datetime(MAIN['Personnel action - Year']+'-'+MAIN['Personnel action - Month']+'-01')

MAIN['Year of Birth'] = MAIN['Year of Birth'].astype('str')
MAIN['Month of Birth'] = MAIN['Month of Birth'].astype('str')
MAIN['Birth Date'] = pd.to_datetime(MAIN['Year of Birth']+'-'+MAIN['Month of Birth']+'-01')

In [34]:
(MAIN['temp Action Date'] + timedelta(days=Prediction_Period)).head()

Serial Number
1   1998-08-03
2   1998-01-31
5   1999-12-02
6   1999-10-03
7   1999-11-03
Name: temp Action Date, dtype: datetime64[ns]

In [35]:
MAIN.head()

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date
Serial Number,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,1,1,2017-12-31,1998-11-01,1938-10-01
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1942-03-01
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,3,2000,0,1,1,2017-12-31,2000-03-01,1939-02-01
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,1,0,2017-12-31,2000-01-01,1939-12-01
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,2,2000,0,1,1,2017-12-31,2000-02-01,1939-01-01

In [36]:
MAIN['Action Date'] = MAIN['Reference Date']
#MAIN.loc[MAIN['Resigned'] == 1,'Action Date'] = MAIN['temp Action Date']
MAIN.loc[MAIN['Employment Status Text'] == 'Withdrawn','Action Date'] = MAIN['temp Action Date']
MAIN['Action Date'] = (MAIN['Action Date'] + timedelta(days=Prediction_Period))

In [37]:
MAIN.head()

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date
Serial Number,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,1,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1942-03-01,1998-01-31
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,3,2000,0,1,1,2017-12-31,2000-03-01,1939-02-01,1999-12-02
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,1,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,2,2000,0,1,1,2017-12-31,2000-02-01,1939-01-01,1999-11-03

## Entry Date + Experience Calculation

In [38]:
ENTRY.drop(['End Date (0000)','Action type (0000)','Action type (0000) Text','Reason for Action text (0000)'], axis=1, inplace=True)

In [39]:
ENTRY.head()

              Start Date (0000)
Serial Number
1                    1955-02-01
2                    1960-01-01
3                    1958-10-15
4                    1961-12-01
5                    1961-02-10

In [40]:
##ENTRY.groupby('Serial Number').agg('max')
#(ENTRY.groupby(ENTRY.index).agg('max')).head()

In [41]:
MAIN.loc[:,'Entry Date']= MAIN['Tech Date of Entry']

In [42]:
MAIN[MAIN['Entry Date'].isnull()]

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date
Serial Number,,,,,,,,,,,,,,,,,
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1942-03-01,1998-01-31,NaT
9,NaN,M,1,1937,NaT,Withdrawn,Non-MPT-monthly,1,1998,0,0,0,2017-12-31,1998-01-01,1937-01-01,1997-10-03,NaT
23,NaN,M,9,1940,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1940-09-01,1998-04-02,NaT
25,NaN,M,2,1944,NaT,Withdrawn,MPT-monthly,8,1998,0,0,1,2017-12-31,1998-08-01,1944-02-01,1998-05-03,NaT
37,NaN,M,10,1944,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1944-10-01,1998-01-31,NaT
43,NaN,M,12,1943,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1943-12-01,1998-04-02,NaT
58,NaN,M,7,1945,NaT,Withdrawn,Non-MPT-monthly,6,1998,0,0,0,2017-12-31,1998-06-01,1945-07-01,1998-03-03,NaT
94,NaN,M,9,1938,NaT,Withdrawn,MPT-monthly,9,1998,0,0,1,2017-12-31,1998-09-01,1938-09-01,1998-06-03,NaT
103,NaN,M,10,1943,NaT,Withdrawn,Non-MPT-monthly,2,1998,0,0,0,2017-12-31,1998-02-01,1943-10-01,1997-11-03,NaT
124,NaN,M,1,1937,NaT,Withdrawn,MPT-monthly,1,1998,0,0,1,2017-12-31,1998-01-01,1937-01-01,1997-10-03,NaT
131,NaN,M,7,1943,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1943-07-01,1998-04-02,NaT
137,NaN,M,4,1938,NaT,Withdrawn,Non-MPT-monthly,4,1998,0,0,0,2017-12-31,1998-04-01,1938-04-01,1998-01-01,NaT
145,NaN,M,6,1938,NaT,Withdrawn,MPT-monthly,6,1998,0,0,1,2017-12-31,1998-06-01,1938-06-01,1998-03-03,NaT
154,NaN,M,7,1943,NaT,Withdrawn,MPT-monthly,1,1998,0,0,1,2017-12-31,1998-01-01,1943-07-01,1997-10-03,NaT
161,NaN,M,1,1949,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1949-01-01,1998-04-02,NaT
166,NaN,M,7,1945,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1945-07-01,1998-04-02,NaT
175,NaN,F,3,1937,NaT,Withdrawn,MPT-monthly,3,1998,0,0,1,2017-12-31,1998-03-01,1937-03-01,1997-12-01,NaT
186,NaN,M,11,1938,NaT,Withdrawn,MPT-monthly,3,1998,0,0,1,2017-12-31,1998-03-01,1938-11-01,1997-12-01,NaT
202,NaN,M,1,1946,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1946-01-01,1998-04-02,NaT
210,NaN,M,12,1948,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1948-12-01,1998-04-02,NaT
221,NaN,M,9,1946,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1946-09-01,1998-04-02,NaT
227,NaN,M,4,1949,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1949-04-01,1998-04-02,NaT
229,NaN,M,10,1940,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1940-10-01,1998-04-02,NaT
244,NaN,M,4,1944,NaT,Withdrawn,Non-MPT-monthly,2,1998,0,0,0,2017-12-31,1998-02-01,1944-04-01,1997-11-03,NaT
250,NaN,M,3,1948,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1948-03-01,1998-04-02,NaT
254,NaN,M,9,1944,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1944-09-01,1998-04-02,NaT
256,NaN,M,1,1945,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1945-01-01,1998-04-02,NaT
261,NaN,M,1,1937,NaT,Withdrawn,Non-MPT-monthly,1,1998,0,0,0,2017-12-31,1998-01-01,1937-01-01,1997-10-03,NaT
263,NaN,M,10,1943,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1943-10-01,1998-04-02,NaT
267,NaN,M,7,1948,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1948-07-01,1998-04-02,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392,NaN,M,6,1966,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1966-06-01,1998-04-02,NaT
1400,NaN,M,6,1961,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1961-06-01,1998-04-02,NaT
1402,NaN,M,11,1963,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1963-11-01,1998-04-02,NaT
1405,NaN,M,1,1968,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1968-01-01,1998-04-02,NaT
1427,NaN,F,3,1974,NaT,Withdrawn,Non-MPT-monthly,5,1998,0,0,0,2017-12-31,1998-05-01,1974-03-01,1998-01-31,NaT
1430,NaN,M,5,1959,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1959-05-01,1998-04-02,NaT
1432,NaN,M,1,1965,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1965-01-01,1998-04-02,NaT
1434,NaN,M,5,1963,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1963-05-01,1998-04-02,NaT
1440,841.0,M,3,1973,NaT,Withdrawn,Non-MPT-monthly,1,1998,0,0,0,2017-12-31,1998-01-01,1973-03-01,1997-10-03,NaT
1444,NaN,M,6,1968,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1968-06-01,1998-04-02,NaT
1449,NaN,M,12,1966,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1966-12-01,1998-04-02,NaT
1466,NaN,M,3,1967,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1967-03-01,1998-04-02,NaT
1470,NaN,M,6,1967,NaT,Withdrawn,MPT-monthly,6,1998,0,0,1,2017-12-31,1998-06-01,1967-06-01,1998-03-03,NaT
1476,NaN,M,11,1953,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1953-11-01,1998-04-02,NaT
1480,NaN,M,3,1969,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1969-03-01,1998-04-02,NaT
1483,NaN,M,8,1955,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1955-08-01,1998-04-02,NaT
1497,NaN,M,2,1969,NaT,Withdrawn,MPT-monthly,4,1998,0,0,1,2017-12-31,1998-04-01,1969-02-01,1998-01-01,NaT
1504,NaN,M,3,1962,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1962-03-01,1998-04-02,NaT
1532,NaN,M,11,1967,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1967-11-01,1998-04-02,NaT
1537,NaN,M,1,1966,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1966-01-01,1998-04-02,NaT
1540,NaN,M,5,1961,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1961-05-01,1998-04-02,NaT
1545,NaN,M,4,1968,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1968-04-01,1998-04-02,NaT
1554,NaN,F,8,1968,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1968-08-01,1998-01-31,NaT
1564,NaN,M,8,1966,NaT,Withdrawn,MPT-monthly,8,1998,0,0,1,2017-12-31,1998-08-01,1966-08-01,1998-05-03,NaT
1572,NaN,M,3,1971,NaT,Withdrawn,MPT-monthly,8,1998,0,0,1,2017-12-31,1998-08-01,1971-03-01,1998-05-03,NaT
1574,NaN,M,8,1972,NaT,Withdrawn,MPT-monthly,7,1998,0,0,1,2017-12-31,1998-07-01,1972-08-01,1998-04-02,NaT
1632,NaN,M,6,1955,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1955-06-01,1998-04-02,NaT
1641,NaN,M,4,1971,NaT,Withdrawn,MPT-monthly,7,1998,0,0,1,2017-12-31,1998-07-01,1971-04-01,1998-04-02,NaT
2099,NaN,M,12,1982,NaT,Withdrawn,MPT-monthly,8,2006,0,1,1,2017-12-31,2006-08-01,1982-12-01,2006-05-03,NaT
2937,NaN,F,2,1983,NaT,Withdrawn,MPT-monthly,5,2010,0,1,1,2017-12-31,2010-05-01,1983-02-01,2010-01-31,NaT

In [43]:
#Set Max Entry Date -- for re-entry case
ENTRY = ENTRY.groupby(ENTRY.index).agg('max')
MAIN['Max Entry Date'] = ENTRY['Start Date (0000)']

In [44]:
#Set flag for Re-entry
ENTRYCNT = ENTRY_MASTER.groupby('Serial Number').agg('count')
ENTRYCNT.drop(['End Date (0000)','Action type (0000)','Action type (0000) Text','Reason for Action text (0000)'], axis=1, inplace=True)
ENTRYCNT['Is Re-Entry'] = 0
ENTRYCNT.loc[ENTRYCNT['Start Date (0000)']> 1,'Is Re-Entry'] = 1
MAIN['Is Re-Entry'] = ENTRYCNT['Is Re-Entry']

In [45]:
MAIN.loc[MAIN['Entry Date'].isnull(),'Entry Date']= MAIN['Max Entry Date']

In [46]:
len(MAIN[MAIN['Entry Date'].isnull()])

0

In [47]:
MAIN.head()

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date,Is Re-Entry
Serial Number,,,,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,1,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1942-03-01,1998-01-31,1960-01-01,1960-01-01,0
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,3,2000,0,1,1,2017-12-31,2000-03-01,1939-02-01,1999-12-02,1961-02-01,1961-02-10,0
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,1,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,2,2000,0,1,1,2017-12-31,2000-02-01,1939-01-01,1999-11-03,1962-03-01,1962-03-01,0

In [48]:
#How to handle the case when Entry date is greater than Tech Date of Entry?

##MAIN.loc[:,'Entry Date'] = MAIN['Max Entry Date'] 
##MAIN.loc[MAIN['Tech Date of Entry'] > MAIN['Max Entry Date'],'Entry Date'] = MAIN['Tech Date of Entry']

#MAIN.loc[MAIN['Tech Date of Entry'].notnull(),'Entry Date'] = MAIN['Tech Date of Entry']

In [49]:
#How about Last Entry Date is greater than Tech Date of Entry more than 6 months?
#DateDiff = MAIN.loc[(MAIN['Max Entry Date'] > MAIN['Tech Date of Entry']), ['Max Entry Date','Tech Date of Entry']]
#DateDiff.loc[:,'DateDiff'] = MAIN['Max Entry Date'] - MAIN['Tech Date of Entry']

#DateDiff[DateDiff['DateDiff']>datetime.timedelta(days=180)].sort_values("DateDiff",ascending=False)

In [50]:
#DateDiff = MAIN.loc[(MAIN['Entry Date'] > MAIN['Action Date']), ['Entry Date','Action Date']]
#DateDiff.loc[:,'DateDiff'] = MAIN['Entry Date'] - MAIN['Action Date']

#DateDiff[DateDiff['DateDiff']>datetime.timedelta(days=1)].sort_values("DateDiff",ascending=False)

In [51]:
#Calculate Experience
#MAIN['Exp at Action'] = pd.to_numeric((MAIN['Action Date']-MAIN['Entry Date'])/(60*60*24*1000000000), downcast='float')/365
MAIN['Exp at Action'] = (MAIN['Action Date']-MAIN['Entry Date'])

In [52]:
MAIN.loc[:,'Exp at Action'] = MAIN['Exp at Action']/np.timedelta64(1, 'Y')
MAIN.head()

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date,Is Re-Entry,Exp at Action
Serial Number,,,,,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,1,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1942-03-01,1998-01-31,1960-01-01,1960-01-01,0,38.084286
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,3,2000,0,1,1,2017-12-31,2000-03-01,1939-02-01,1999-12-02,1961-02-01,1961-02-10,0,38.831735
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,1,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,2,2000,0,1,1,2017-12-31,2000-02-01,1939-01-01,1999-11-03,1962-03-01,1962-03-01,0,37.676338

In [53]:
MAIN['Exp at Action'].sort_values()

Serial Number
3491    -7.833152
5038    -0.249150
3447    -0.246412
2110    -0.246412
4953    -0.246412
3342    -0.246412
2210    -0.246412
4697    -0.246412
3179    -0.246412
2299    -0.246412
2310    -0.246412
2318    -0.246412
3146    -0.246412
3113    -0.246412
3095    -0.246412
2465    -0.246412
2642    -0.246412
2769    -0.246412
2312    -0.246412
4647    -0.246412
4987    -0.246412
2025    -0.246412
4384    -0.246412
4321    -0.246412
4279    -0.246412
4089    -0.246412
4032    -0.246412
3989    -0.246412
1641    -0.246412
4049    -0.246412
          ...
135     36.920676
243     37.000075
68      37.169826
299     37.172563
295     37.257439
297     37.257439
182     37.342314
298     37.342314
77      37.421713
11      37.421713
269     37.501112
6       37.668125
7       37.676338
34      37.755738
74      38.002149
2       38.084286
281     38.089762
341     38.092500
288     38.588061
47      38.588061
5       38.831735
208     39.089098
1670    39.171236
134     39.839285
40      39.921422
13      40.586733
136     40.586733
72      40.918020
121     41.588807
1       43.502604
Name: Exp at Action, dtype: float64

In [54]:
len(MAIN[MAIN['Exp at Action']<0])

163

In [55]:
MAIN.drop(MAIN.index[MAIN['Exp at Action']<0],inplace=1)

In [56]:
len(MAIN[MAIN['Exp at Action']<0])

0

In [57]:
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date,Is Re-Entry,Exp at Action
Serial Number,,,,,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,1,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1942-03-01,1998-01-31,1960-01-01,1960-01-01,0,38.084286
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,3,2000,0,1,1,2017-12-31,2000-03-01,1939-02-01,1999-12-02,1961-02-01,1961-02-10,0,38.831735
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,1,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,2,2000,0,1,1,2017-12-31,2000-02-01,1939-01-01,1999-11-03,1962-03-01,1962-03-01,0,37.676338
8,27.0,M,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,1,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127
9,NaN,M,1,1937,NaT,Withdrawn,Non-MPT-monthly,1,1998,0,0,0,2017-12-31,1998-01-01,1937-01-01,1997-10-03,1962-04-01,1962-04-01,0,35.507916
11,88.0,M,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,1,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713
12,NaN,M,12,1945,1964-01-01,Withdrawn,MPT-monthly,4,1999,0,1,1,2017-12-31,1999-04-01,1945-12-01,1999-01-01,1964-01-01,1964-01-06,0,35.001403
13,714.0,M,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,1,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733
14,NaN,M,9,1946,1964-10-01,Withdrawn,Non-MPT-monthly,1,2001,0,1,0,2017-12-31,2001-01-01,1946-09-01,2000-10-03,1964-10-01,1964-09-17,0,36.006215
15,NaN,F,4,1944,1964-05-01,Withdrawn,MPT-monthly,1,1999,0,1,1,2017-12-31,1999-01-01,1944-04-01,1998-10-03,1964-05-01,1964-05-07,0,34.423705
16,NaN,M,10,1938,1964-09-01,Withdrawn,MPT-monthly,11,1998,0,1,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1964-09-01,1964-08-27,0,33.919930
17,NaN,F,4,1943,1964-12-01,Withdrawn,MPT-monthly,3,2000,0,1,1,2017-12-31,2000-03-01,1943-04-01,1999-12-02,1964-12-01,1964-11-24,0,35.001403
18,362.0,M,2,1938,1965-03-01,Withdrawn,MPT-monthly,3,1999,0,1,1,2017-12-31,1999-03-01,1938-02-01,1998-12-01,1965-03-01,1965-03-04,0,33.752918
19,NaN,F,12,1943,1965-06-01,Withdrawn,MPT-monthly,10,1999,0,1,1,2017-12-31,1999-10-01,1943-12-01,1999-07-03,1965-06-01,1965-06-01,0,34.086942
20,NaN,M,6,1941,1965-08-01,Withdrawn,MPT-monthly,2,2000,0,1,1,2017-12-31,2000-02-01,1941-06-01,1999-11-03,1965-08-01,1965-07-16,0,34.256692
21,NaN,M,9,1941,1965-10-01,Withdrawn,MPT-monthly,10,2001,0,1,1,2017-12-31,2001-10-01,1941-09-01,2001-07-03,1965-10-01,1965-10-01,0,35.754328
22,559.0,F,11,1940,1965-11-01,Withdrawn,MPT-monthly,12,2000,0,1,1,2017-12-31,2000-12-01,1940-11-01,2000-09-02,1965-11-01,1965-11-01,0,34.837129
23,NaN,M,9,1940,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1940-09-01,1998-04-02,1965-07-12,1965-07-12,0,32.723465
25,NaN,M,2,1944,NaT,Withdrawn,MPT-monthly,8,1998,0,0,1,2017-12-31,1998-08-01,1944-02-01,1998-05-03,1966-07-18,1966-07-18,0,31.792576
27,NaN,M,4,1939,1966-09-01,Withdrawn,MPT-monthly,1,1999,0,1,1,2017-12-31,1999-01-01,1939-04-01,1998-10-03,1966-09-01,1966-08-24,0,32.088270
28,475.0,M,7,1940,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,1,1,2017-12-31,2000-03-01,1940-07-01,1999-12-02,1966-11-01,1966-10-19,0,33.084868
29,455.0,M,10,1941,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,1,1,2017-12-31,2000-03-01,1941-10-01,1999-12-02,1966-11-01,1966-11-08,0,33.084868
30,707.0,M,6,1942,1966-03-01,Withdrawn,MPT-monthly,7,2002,0,1,1,2017-12-31,2002-07-01,1942-06-01,2002-04-02,1966-03-01,1966-03-15,0,36.088352
31,231.0,M,2,1942,1966-07-01,Withdrawn,Non-MPT-monthly,7,1999,0,1,0,2017-12-31,1999-07-01,1942-02-01,1999-04-02,1966-07-01,1966-07-11,0,32.753582
32,493.0,F,7,1944,1966-01-01,Withdrawn,MPT-monthly,6,2000,0,1,1,2017-12-31,2000-06-01,1944-07-01,2000-03-03,1966-01-01,1966-01-07,0,34.169079
33,346.0,F,7,1940,1967-03-01,Withdrawn,Non-MPT-monthly,8,2000,0,1,0,2017-12-31,2000-08-01,1940-07-01,2000-05-03,1967-03-01,1967-03-01,0,33.175219
34,687.0,M,5,1949,1967-02-01,Withdrawn,Non-MPT-monthly,2,2005,0,1,0,2017-12-31,2005-02-01,1949-05-01,2004-11-03,1967-02-01,1967-02-01,0,37.755738
35,122.0,M,11,1941,1967-03-01,Withdrawn,Non-MPT-monthly,8,2001,0,1,0,2017-12-31,2001-08-01,1941-11-01,2001-05-03,1967-03-01,1967-03-01,0,34.174555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,3665.0,F,7,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4961,2913.0,F,2,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4962,2042.0,M,4,1994,2017-09-01,Active,MPT-monthly,8,2017,1,0,1,2017-12-31,2017-08-01,1994-04-01,2017-10-02,2017-09-01,2017-08-21,0,0.084875
4963,2913.0,M,4,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4964,2913.0,F,7,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4965,2151.0,M,9,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-09-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875
4966,3481.0,F,1,1997,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1997-01-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4967,2492.0,M,8,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-08-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4968,3185.0,F,2,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4969,3189.0,F,10,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4970,2550.0,F,5,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-05-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4972,2913.0,F,11,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-11-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4973,1809.0,F,10,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4974,1556.0,M,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4975,2753.0,F,4,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875
4976,2215.0,F,2,1995,2017-09-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1995-02-01,2017-10-02,2017-09-01,2017-09-05,0,0.084875
4977,741.0,F,11,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4978,1469.0,F,11,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4979,2633.0,F,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875
4980,3196.0,M,12,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-12-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4981,3185.0,F,7,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-07-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875
4982,643.0,M,2,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-02-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4984,2531.0,F,4,1997,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1997-04-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4985,3541.0,F,7,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-07-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4986,3299.0,F,9,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-09-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4988,2511.0,F,8,1983,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1983-08-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4989,1809.0,F,10,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-10-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4991,2511.0,F,1,1985,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1985-01-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738
4993,1328.0,F,7,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-07-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738
4995,2064.0,F,11,1994,2017-10-01,Active,MPT-monthly,10,2017,0,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738

In [58]:
#MAIN.loc[3491,:]
#MAIN.drop(3491, inplace=True)

## Remove Retirement Case (which show as resign)

In [59]:
#Resigned after (age > 55 years & exp > 20 years) == non-resign
CutOffResignAge = 55
CutOffResignExp = 20

MAIN['Age at Action'] = (MAIN['Action Date']-MAIN['Birth Date'])/np.timedelta64(1, 'Y')
#MAIN['Age at Action'] = pd.to_numeric(MAIN['Age at Action'], errors='coerce')

In [60]:
len(MAIN.loc[(MAIN['Resigned'] == 1) & (MAIN['Age at Action']>CutOffResignAge) & (MAIN['Exp at Action']>CutOffResignExp),'Resigned'])

148

In [61]:
#MAIN.drop(MAIN.loc[(MAIN['Resigned'] == 1) & (MAIN['Age at Action']>CutOffResignAge) & (MAIN['Exp at Action']>CutOffResignExp),'Resigned'])

MAIN.loc[(MAIN['Resigned'] == 1) & (MAIN['Age at Action']>CutOffResignAge) & (MAIN['Exp at Action']>CutOffResignExp),'Resigned'] = 0

In [62]:
len(MAIN)

4665

In [63]:
MAIN.head()

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date,Is Re-Entry,Exp at Action,Age at Action
Serial Number,,,,,,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1942-03-01,1998-01-31,1960-01-01,1960-01-01,0,38.084286,55.921751
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1939-02-01,1999-12-02,1961-02-01,1961-02-10,0,38.831735,60.833556
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,2,2000,0,0,1,2017-12-31,2000-02-01,1939-01-01,1999-11-03,1962-03-01,1962-03-01,0,37.676338,60.839032

## Supervisor Data

In [64]:
len(MAIN[MAIN['Birth Date'].isnull()])

0

In [65]:
#Set Supervisor dataset
SUP = MAIN[MAIN.index.isin(MAIN['Supervisor Serial'])].copy()

In [66]:
RenameCol = {
    'Supervisor Serial':'Manager Serial',
    'Gender':'SUP Gender',
    'Birth Date':'SUP Birth Date',
    'Action Date':'SUP Action Date',
    'Entry Date':'SUP Entry Date',
    'Exp at Action':'SUP Exp at Action',
    'Age at Action':'SUP Age at Action',
    'Is MPT':'SUP Is MPT',
}
SUP.rename(columns=RenameCol, inplace=True)

In [67]:
SUP[SUP['SUP Birth Date'].isnull()]

Empty DataFrame
Columns: [Manager Serial, SUP Gender, Month of Birth, Year of Birth, Tech Date of Entry, Employment Status Text, Employee Sub Group Text, Personnel action - Month, Personnel action - Year, BSC Indicator, Resigned, SUP Is MPT, Reference Date, temp Action Date, SUP Birth Date, SUP Action Date, SUP Entry Date, Max Entry Date, Is Re-Entry, SUP Exp at Action, SUP Age at Action]
Index: []

In [68]:
SUP.loc[:, 'Supervisor Serial'] = SUP.index

In [69]:
Columns = SUP.columns.tolist()
Columns

['Manager Serial',
 'SUP Gender',
 'Month of Birth',
 'Year of Birth',
 'Tech Date of Entry',
 'Employment Status Text',
 'Employee Sub Group Text',
 'Personnel action - Month',
 'Personnel action - Year',
 'BSC Indicator',
 'Resigned',
 'SUP Is MPT',
 'Reference Date',
 'temp Action Date',
 'SUP Birth Date',
 'SUP Action Date',
 'SUP Entry Date',
 'Max Entry Date',
 'Is Re-Entry',
 'SUP Exp at Action',
 'SUP Age at Action',
 'Supervisor Serial']

In [70]:
DropColumns = [
'Manager Serial',
 'Month of Birth',
 'Year of Birth',
 'Tech Date of Entry',
 'Employee Sub Group Text',
 'Personnel action - Month',
 'Personnel action - Year',
 'BSC Indicator',
 'Resigned',
 'Reference Date',
 'temp Action Date',
 'Is Re-Entry',]

In [71]:
SUP.drop(DropColumns, axis=1, inplace=True)

In [72]:
SUP['Supervisor Serial'] = SUP['Supervisor Serial'].astype(float)

In [73]:
SUP.head()

,SUP Gender,Employment Status Text,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date,SUP Exp at Action,SUP Age at Action,Supervisor Serial
Serial Number,,,,,,,,,,
7,M,Withdrawn,1,1939-01-01,1999-11-03,1962-03-01,1962-03-01,37.676338,60.839032,7.0
27,M,Withdrawn,1,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,27.0
52,M,Withdrawn,1,1945-09-01,2002-12-01,1967-03-01,1967-02-16,35.754328,57.249636,52.0
55,M,Withdrawn,1,1940-09-01,2000-07-03,1968-01-01,1967-12-21,32.504432,59.836958,55.0
56,M,Withdrawn,1,1944-05-01,2004-03-03,1968-01-01,1967-12-21,36.170489,59.839696,56.0

In [74]:
SUP[SUP['SUP Gender'].isnull()]

Empty DataFrame
Columns: [SUP Gender, Employment Status Text, SUP Is MPT, SUP Birth Date, SUP Action Date, SUP Entry Date, Max Entry Date, SUP Exp at Action, SUP Age at Action, Supervisor Serial]
Index: []

In [75]:
SUP[SUP['SUP Birth Date'].isnull()]

Empty DataFrame
Columns: [SUP Gender, Employment Status Text, SUP Is MPT, SUP Birth Date, SUP Action Date, SUP Entry Date, Max Entry Date, SUP Exp at Action, SUP Age at Action, Supervisor Serial]
Index: []

In [76]:
SUP2 = MAIN[MAIN.index.isin(MAIN['Supervisor Serial'])].copy()
Columns = SUP2.columns.tolist()

In [77]:
DropColumns = ['Supervisor Serial',
 'Gender',
 'Month of Birth',
 'Year of Birth',
 'Tech Date of Entry',
 'Employee Sub Group Text',                 
 'Personnel action - Month',
 'Personnel action - Year',
 'BSC Indicator',
 'Resigned',
 'Reference Date',
 'temp Action Date',
 'Birth Date',
 'Action Date',
 'Is Re-Entry',
 'Entry Date',
 'Exp at Action',
 'Age at Action',
 'Is MPT',
'Employment Status Text']

In [78]:
SUP2.drop(DropColumns, axis=1, inplace=True)

In [79]:
SUP2['Is SUP'] = 1

In [80]:
len(MAIN)

4665

In [81]:
len(MAIN[MAIN['Supervisor Serial'].isnull()])

850

In [82]:
len(SUP[SUP['SUP Gender'].isnull()])

0

In [83]:
len((MAIN.dropna(subset=['Supervisor Serial']))['Birth Date'].isnull() )

3815

In [84]:
# Join supervisor data back to main table 

#Something strange with this join, it cause some missing data happen despite it's confirmed that no null data in both df
MAIN = MAIN.reset_index().merge(SUP, on='Supervisor Serial', how="left").set_index(MAIN.index)
##TMAIN = pd.merge(MAIN, SUP, on='Supervisor Serial', how='left')
MAIN

,Serial Number,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,SUP Gender,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,M,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,20.339911,47.839449
2,2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,0,0,1,2017-12-31,1998-05-01,1942-03-01,1998-01-31,1960-01-01,1960-01-01,0,38.084286,55.921751,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
5,5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1939-02-01,1999-12-02,1961-02-01,1961-02-10,0,38.831735,60.833556,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
6,6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,F,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,27.420139,59.839696
7,7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,2,2000,0,0,1,2017-12-31,2000-02-01,1939-01-01,1999-11-03,1962-03-01,1962-03-01,0,37.676338,60.839032,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
8,8,27.0,M,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,M,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409
9,9,NaN,M,1,1937,NaT,Withdrawn,Non-MPT-monthly,1,1998,0,0,0,2017-12-31,1998-01-01,1937-01-01,1997-10-03,1962-04-01,1962-04-01,0,35.507916,60.754156,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
11,11,88.0,M,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,M,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,33.084868,59.836958
12,12,NaN,M,12,1945,1964-01-01,Withdrawn,MPT-monthly,4,1999,0,1,1,2017-12-31,1999-04-01,1945-12-01,1999-01-01,1964-01-01,1964-01-06,0,35.001403,53.085279,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
13,13,714.0,M,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,M,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,26.086778,54.005216
14,14,NaN,M,9,1946,1964-10-01,Withdrawn,Non-MPT-monthly,1,2001,0,1,0,2017-12-31,2001-01-01,1946-09-01,2000-10-03,1964-10-01,1964-09-17,0,36.006215,54.090091,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
15,15,NaN,F,4,1944,1964-05-01,Withdrawn,MPT-monthly,1,1999,0,1,1,2017-12-31,1999-01-01,1944-04-01,1998-10-03,1964-05-01,1964-05-07,0,34.423705,54.506253,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
16,16,NaN,M,10,1938,1964-09-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1964-09-01,1964-08-27,0,33.919930,59.839696,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
17,17,NaN,F,4,1943,1964-12-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1943-04-01,1999-12-02,1964-12-01,1964-11-24,0,35.001403,56.671937,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
18,18,362.0,M,2,1938,1965-03-01,Withdrawn,MPT-monthly,3,1999,0,0,1,2017-12-31,1999-03-01,1938-02-01,1998-12-01,1965-03-01,1965-03-04,0,33.752918,60.830818,M,Withdrawn,1.0,1958-07-01,2017-05-03,1981-04-01,1981-04-01,36.088352,58.840359
19,19,NaN,F,12,1943,1965-06-01,Withdrawn,MPT-monthly,10,1999,0,0,1,2017-12-31,1999-10-01,1943-12-01,1999-07-03,1965-06-01,1965-06-01,0,34.086942,55.587726,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
20,20,NaN,M,6,1941,1965-08-01,Withdrawn,MPT-monthly,2,2000,0,0,1,2017-12-31,2000-02-01,1941-06-01,1999-11-03,1965-08-01,1965-07-16,0,34.256692,58.424198,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
21,21,NaN,M,9,1941,1965-10-01,Withdrawn,MPT-monthly,10,2001,0,0,1,2017-12-31,2001-10-01,1941-09-01,2001-07-03,1965-10-01,1965-10-01,0,35.754328,59.836958,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
22,22,559.0,F,11,1940,1965-11-01,Withdrawn,MPT-monthly,12,2000,0,0,1,2017-12-31,2000-12-01,1940-11-01,2000-09-02,1965-11-01,1965-11-01,0,34.837129,59.836958,M,Active,1.0,1961-02-01,2017-10-02,1989-11-01,1989-11-06,27.918438,56.666461
23,23,NaN,M,9,1940,NaT,Withdrawn,Non-MPT-monthly,7,1998,0,0,0,2017-12-31,1998-07-01,1940-09-01,1998-04-02,1965-07-12,1965-07-12,0,32.723465,57.583660,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
25,25,NaN,M,2,1944,NaT,Withdrawn,MPT-monthly,8,1998,0,0,1,2017-12-31,1998-08-01,1944-02-01,1998-05-03,1966-07-18,1966-07-18,0,31.792576,54.251627,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
27,27,NaN,M,4,1939,1966-09-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-04-01,1998-10-03,1966-09-01,1966-08-24,0,32.088270,59.508409,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN
28,28,475.0,M,7,1940,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1940-07-01,1999-12-02,1966-11-01,1966-10-19,0,33.084868,59.420796,M,Withdrawn,1.0,1948-05-01,2006-10-03,1970-01-01,1985-12-02,36.753664,58.424198
29,29,455.0,M,10,1941,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1941-10-01,1999-12-02,1966-11-01,1966-11-08,0,33.084868,58.169572,M,Active,1.0,1957-12-01,2017-10-02,1985-04-01,1985-03-19,32.504432,59.836958
30,30,707.0,M,6,1942,1966-03-01,Withdrawn,MPT-monthly,7,2002,0,0,1,2017-12-31,2002-07-01,1942-06-01,2002-04-02,1966-03-01,1966-03-15,0,36.088352,59.836958,M,Active,1.0,1961-06-01,2017-10-02,1991-08-01,1991-08-01,26.171653,56.337912
31,31,231.0,M,2,1942,1966-07-01,Withdrawn,Non-MPT-monthly,7,1999,0,0,0,2017-12-31,1999-07-01,1942-02-01,1999-04-02,1966-07-01,1966-07-11,0,32.753582,57.164760,M,Withdrawn,1.0,1952-02-01,2002-10-03,1971-09-01,1971-08-17,31.088934,50.670445
32,32,493.0,F,7,1944,1966-01-01,Withdrawn,MPT-monthly,6,2000,0,0,1,2017-12-31,2000-06-01,1944-07-01,2000-03-03,1966-01-01,1966-01-07,0,34.169079,55.672601,F,Active,1.0,1961-09-01,2017-10-02,1986-08-01,1986-07-16,31.171071,56.086025
33,33,346.0,F,7,1940,1967-03-01,Withdrawn,Non-MPT-monthly,8,2000,0,0,0,2017-12-31,2000-08-01,1940-07-01,2000-05-03,1967-03-01,1967-03-01,0,33.175219,59.839696,F,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,27.420139,59.839696
34,34,687.0,M,5,1949,1967-02-01,Withdrawn,Non-MPT-monthly,2,2005,0,0,0,2017-12-31,2005-02-01,1949-05-01,2004-11-03,1967-02-01,1967-02-01,0,37.755738,55.511065,M,Withdrawn,1.0,1952-10-01,2012-08-03,1991-06-01,1991-06-01,21.174973,59.839696
35,35,122.0,M,11,1941,1967-03-01,Withdrawn,Non-MPT-monthly,8,2001,0,0,0,2017-12-31,2001-08-01,1941-11-01,2001-05-03,1967-03-01,1967-03-01,0,34.174555,59.502933,F,Withdrawn,1.0,1947-06-01,2001-09-02,1969-07-01,1969-06-24,32.173145,54.257103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,4960,3665.0,F,7,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.254536,F,Active,1.0,1983-11-01,2017-10-02,2010-01-01,2010-01-01,7.751015,33.919930
4961,4961,2913.0,F,2,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.667132,F,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024
4962,4962,2042.0,M,4,1994,2017-09-01,Active,MPT-monthly,8,2017,1,0,1,2017-12-31,2017-08-01,1994-04-01,2017-10-02,2017-09-01,2017-08-21,0,0.084875,23.504932,F,Active,1.0,1978-09-01,2017-10-02,2003-08-01,2003-07-21,14.171407,39.086360
4963,4963,2913.0,M,4,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.503686,F,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024
4964,4964,2913.0,F,7,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.256446,F,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024
4965,4965,2151.0,M,9,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-09-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,24.085368,M,Active,1.0,1979-08-01,2017-10-02,2005-03-01,2009-10-19,12.588896,38.171899
4966,4966,3481.0,F,1,1997,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1997-01-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,20.750597,F,Active,1.0,1983-11-01,2017-10-02,2008-11-01,2008-11-15,8.917363,33.919930
4967,4967,2492.0,M,8,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-08-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,24.170243,F,Active,1.0,1971-12-01,2017-10-02,2005-07-01,2005-07-01,12.254872,45.838039
4968,4968,3185.0,F,2,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.667878,F,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817
4969,4969,3189.0,F,10,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.002567,F,Active,1.0,1983-10-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.004805
4970,4970,2550.0,F,5,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-05-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.422794,F,Active,1.0,1977-11-01,2017-10-02,2005-09-01,2005-09-15,12.085122,39.918684
4972,4972,2913.0,F,11,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-11-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.918356,F,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024
4973,4973,1809.0,F,10,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,26.004641,M,Active,1.0,1976-11-01,2017-10-02,2000-06-01,2000-06-12,17.336427,40.918020
4974,4974,1556.0,M,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.337919,M,Active,1.0,1966-08-01,2017-10-02,1996-10-01,1996-10-01,21.002485,51.171482
4975,4975,2753.0,F,4,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.505596,F,Active,1.0,1982-04-01,2017-10-02,2006-08-01,2006-08-01,11.170661,35.505178
4976,4976,2215.0,F,2,1995,2017-09-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1995-02-01,2017-10-02,2017-09-01,2017-09-05,0,0.084875,22.667132,F,Active,1.0,1979-06-01,2017-10-02,2004-08-01,2004-08-01,13.169333,38.338912
4977,4977,741.0,F,11,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.918356,F,Active,1.0,1968-09-01,2017-10-02,1991-10-01,1991-10-01,26.004641,49.085197
4978,4978,1469.0,F,11,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,22.919020,F,Active,1.0,1966-01-01,2017-10-02,1995-09-01,1995-09-01,22.086696,51.751918
4979,4979,2633.0,F,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,23.337919,F,Active,1.0,1980-03-01,2017-10-02,2006-03-01,2006-03-01,11.589560,37.588725
4980,4980,3196.0,M,12,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-12-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.836218,M,Active,1.0,1984-06-01,2017-10-02,2007-10-01,2007-10-08,10.004312,33.336756
4981,4981,3185.0,F,7,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-07-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,26.256528,F,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817
4982,4982,643.0,M,2,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-02-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,24.665804,F,Active,1.0,1966-07-01,2017-10-02,1991-02-01,1991-02-01,26.667214,51.256357
4984,4984,2531.0,F,4,1997,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1997-04-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,20.504186,F,Active,1.0,1983-02-01,2017-10-02,2005-08-01,2005-08-01,12.169997,34.667379
4985,4985,3541.0,F,7,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-07-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.255782,M,Active,1.0,1981-01-01,2017-10-02,2009-05-01,2009-05-01,8.421802,36.750926
4986,4986,3299.0,F,9,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-09-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,27.086114,M,Active,1.0,1981-10-01,2017-10-02,2008-04-01,2008-04-01,9.503275,36.003477
4988,4988,2511.0,F,8,1983,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1983-08-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,34.171817,F,Active,1.0,1982-10-01,2017-10-02,2005-08-01,2005-08-01,12.169997,35.004141
4989,4989,1809.0,F,10,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-10-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,24.003231,M,Active,1.0,1976-11-01,2017-10-02,2000-06-01,2000-06-12,17.336427,40.918020
4991,4991,2511.0,F,1,1985,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1985-01-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,32.750844,F,Active,1.0,1982-10-01,2017-10-02,2005-08-01,2005-08-01,12.169997,35.004141
4993,4993,1328.0,F,7,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-07-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738,27.255864,M,Active,1.0,1964-12-01,2017-10-02,1994-07-01,1994-07-15,23.255782,52.836129
4995,4995,2064.0,F,11,1994,2017-10-01,Active,MPT-monthly,10,2017,0,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738,22.919020,F,Active,1.0,1978-01-01,2017-10-02,2004-01-01,2004-01-01,13.752507,39.751672

In [85]:
MAIN.dropna(subset=['SUP Gender'],inplace=True)

In [86]:
MAIN[MAIN['SUP Birth Date'].isnull()]

Empty DataFrame
Columns: [Serial Number, Supervisor Serial, Gender, Month of Birth, Year of Birth, Tech Date of Entry, Employment Status Text_x, Employee Sub Group Text, Personnel action - Month, Personnel action - Year, BSC Indicator, Resigned, Is MPT, Reference Date, temp Action Date, Birth Date, Action Date, Entry Date, Max Entry Date_x, Is Re-Entry, Exp at Action, Age at Action, SUP Gender, Employment Status Text_y, SUP Is MPT, SUP Birth Date, SUP Action Date, SUP Entry Date, Max Entry Date_y, SUP Exp at Action, SUP Age at Action]
Index: []

In [87]:
MAIN[MAIN['SUP Exp at Action'].isnull()]

Empty DataFrame
Columns: [Serial Number, Supervisor Serial, Gender, Month of Birth, Year of Birth, Tech Date of Entry, Employment Status Text_x, Employee Sub Group Text, Personnel action - Month, Personnel action - Year, BSC Indicator, Resigned, Is MPT, Reference Date, temp Action Date, Birth Date, Action Date, Entry Date, Max Entry Date_x, Is Re-Entry, Exp at Action, Age at Action, SUP Gender, Employment Status Text_y, SUP Is MPT, SUP Birth Date, SUP Action Date, SUP Entry Date, Max Entry Date_y, SUP Exp at Action, SUP Age at Action]
Index: []

In [88]:
MAIN[MAIN['SUP Age at Action'].isnull()]

Empty DataFrame
Columns: [Serial Number, Supervisor Serial, Gender, Month of Birth, Year of Birth, Tech Date of Entry, Employment Status Text_x, Employee Sub Group Text, Personnel action - Month, Personnel action - Year, BSC Indicator, Resigned, Is MPT, Reference Date, temp Action Date, Birth Date, Action Date, Entry Date, Max Entry Date_x, Is Re-Entry, Exp at Action, Age at Action, SUP Gender, Employment Status Text_y, SUP Is MPT, SUP Birth Date, SUP Action Date, SUP Entry Date, Max Entry Date_y, SUP Exp at Action, SUP Age at Action]
Index: []

In [89]:
# Join isSup flag back to main table
MAIN = MAIN.join(SUP2)
MAIN.head()

,Serial Number,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,SUP Gender,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,M,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,20.339911,47.839449,NaT,NaN
6,6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,F,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,27.420139,59.839696,NaT,NaN
8,8,27.0,M,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,M,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,NaN
11,11,88.0,M,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,M,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,33.084868,59.836958,NaT,NaN
13,13,714.0,M,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,M,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,26.086778,54.005216,NaT,NaN

In [90]:
MAIN.loc[MAIN['Is SUP'].isnull(), 'Is SUP'] = 0

In [91]:
MAIN

,Serial Number,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,SUP Gender,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,M,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,20.339911,47.839449,NaT,0.0
6,6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,F,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,27.420139,59.839696,NaT,0.0
8,8,27.0,M,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,M,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0
11,11,88.0,M,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,M,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,33.084868,59.836958,NaT,0.0
13,13,714.0,M,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,M,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,26.086778,54.005216,NaT,0.0
18,18,362.0,M,2,1938,1965-03-01,Withdrawn,MPT-monthly,3,1999,0,0,1,2017-12-31,1999-03-01,1938-02-01,1998-12-01,1965-03-01,1965-03-04,0,33.752918,60.830818,M,Withdrawn,1.0,1958-07-01,2017-05-03,1981-04-01,1981-04-01,36.088352,58.840359,NaT,0.0
22,22,559.0,F,11,1940,1965-11-01,Withdrawn,MPT-monthly,12,2000,0,0,1,2017-12-31,2000-12-01,1940-11-01,2000-09-02,1965-11-01,1965-11-01,0,34.837129,59.836958,M,Active,1.0,1961-02-01,2017-10-02,1989-11-01,1989-11-06,27.918438,56.666461,NaT,0.0
28,28,475.0,M,7,1940,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1940-07-01,1999-12-02,1966-11-01,1966-10-19,0,33.084868,59.420796,M,Withdrawn,1.0,1948-05-01,2006-10-03,1970-01-01,1985-12-02,36.753664,58.424198,NaT,0.0
29,29,455.0,M,10,1941,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1941-10-01,1999-12-02,1966-11-01,1966-11-08,0,33.084868,58.169572,M,Active,1.0,1957-12-01,2017-10-02,1985-04-01,1985-03-19,32.504432,59.836958,NaT,0.0
30,30,707.0,M,6,1942,1966-03-01,Withdrawn,MPT-monthly,7,2002,0,0,1,2017-12-31,2002-07-01,1942-06-01,2002-04-02,1966-03-01,1966-03-15,0,36.088352,59.836958,M,Active,1.0,1961-06-01,2017-10-02,1991-08-01,1991-08-01,26.171653,56.337912,NaT,0.0
31,31,231.0,M,2,1942,1966-07-01,Withdrawn,Non-MPT-monthly,7,1999,0,0,0,2017-12-31,1999-07-01,1942-02-01,1999-04-02,1966-07-01,1966-07-11,0,32.753582,57.164760,M,Withdrawn,1.0,1952-02-01,2002-10-03,1971-09-01,1971-08-17,31.088934,50.670445,NaT,0.0
32,32,493.0,F,7,1944,1966-01-01,Withdrawn,MPT-monthly,6,2000,0,0,1,2017-12-31,2000-06-01,1944-07-01,2000-03-03,1966-01-01,1966-01-07,0,34.169079,55.672601,F,Active,1.0,1961-09-01,2017-10-02,1986-08-01,1986-07-16,31.171071,56.086025,NaT,0.0
33,33,346.0,F,7,1940,1967-03-01,Withdrawn,Non-MPT-monthly,8,2000,0,0,0,2017-12-31,2000-08-01,1940-07-01,2000-05-03,1967-03-01,1967-03-01,0,33.175219,59.839696,F,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,27.420139,59.839696,NaT,0.0
34,34,687.0,M,5,1949,1967-02-01,Withdrawn,Non-MPT-monthly,2,2005,0,0,0,2017-12-31,2005-02-01,1949-05-01,2004-11-03,1967-02-01,1967-02-01,0,37.755738,55.511065,M,Withdrawn,1.0,1952-10-01,2012-08-03,1991-06-01,1991-06-01,21.174973,59.839696,NaT,0.0
35,35,122.0,M,11,1941,1967-03-01,Withdrawn,Non-MPT-monthly,8,2001,0,0,0,2017-12-31,2001-08-01,1941-11-01,2001-05-03,1967-03-01,1967-03-01,0,34.174555,59.502933,F,Withdrawn,1.0,1947-06-01,2001-09-02,1969-07-01,1969-06-24,32.173145,54.257103,NaT,0.0
36,36,109.0,M,9,1943,1967-05-01,Withdrawn,MPT-monthly,7,1999,0,0,1,2017-12-31,1999-07-01,1943-09-01,1999-04-02,1967-05-01,1967-04-25,0,31.921258,55.584988,M,Withdrawn,1.0,1943-02-01,2002-12-01,1968-12-01,1968-11-25,33.999329,59.831482,NaT,0.0
39,39,342.0,F,4,1945,1967-04-01,Withdrawn,MPT-monthly,5,2000,0,1,1,2017-12-31,2000-05-01,1945-04-01,2000-02-01,1967-04-01,1967-04-03,0,32.838457,54.837539,M,Withdrawn,1.0,1954-06-01,2005-09-02,1979-05-01,1979-04-16,26.341403,51.256357,NaT,0.0
40,40,925.0,M,11,1947,1967-10-01,Withdrawn,MPT-monthly,12,2007,0,0,1,2017-12-31,2007-12-01,1947-11-01,2007-09-02,1967-10-01,1967-09-18,0,39.921422,59.836958,M,Withdrawn,1.0,1970-05-01,2008-08-03,1992-07-01,1992-07-01,16.090679,38.259513,NaT,0.0
41,41,231.0,M,12,1941,1967-10-01,Withdrawn,Non-MPT-monthly,7,1999,0,0,0,2017-12-31,1999-07-01,1941-12-01,1999-04-02,1967-10-01,1967-10-09,0,31.502358,57.334511,M,Withdrawn,1.0,1952-02-01,2002-10-03,1971-09-01,1971-08-17,31.088934,50.670445,NaT,0.0
45,45,231.0,M,2,1939,1967-10-01,Withdrawn,Non-MPT-monthly,7,1999,0,0,0,2017-12-31,1999-07-01,1939-02-01,1999-04-02,1967-10-01,1967-10-09,0,31.502358,60.165506,M,Withdrawn,1.0,1952-02-01,2002-10-03,1971-09-01,1971-08-17,31.088934,50.670445,NaT,0.0
46,46,1501.0,M,6,1940,1966-01-01,Withdrawn,MPT-monthly,7,2000,0,0,1,2017-12-31,2000-07-01,1940-06-01,2000-04-02,1966-01-01,1966-01-01,0,34.251217,59.836958,M,Withdrawn,1.0,1958-09-01,2005-11-03,1996-05-01,1996-04-16,9.508751,47.174138,NaT,0.0
47,47,453.0,M,10,1946,1968-01-01,Withdrawn,Non-MPT-monthly,11,2006,0,0,0,2017-12-31,2006-11-01,1946-10-01,2006-08-03,1968-01-01,1967-12-21,0,38.588061,59.839696,M,Withdrawn,1.0,1957-01-01,2012-10-03,1985-02-01,1985-02-15,27.669288,55.754738,NaT,0.0
48,48,1442.0,M,4,1940,1967-11-01,Withdrawn,Non-MPT-monthly,1,1999,0,0,0,2017-12-31,1999-01-01,1940-04-01,1998-10-03,1967-11-01,1967-10-26,0,30.921922,58.506335,M,Active,1.0,1970-03-01,2017-10-02,1995-09-01,1995-09-01,22.086696,47.590300,NaT,0.0
49,49,1740.0,M,5,1941,1968-01-01,Withdrawn,MPT-monthly,6,2001,0,0,1,2017-12-31,2001-06-01,1941-05-01,2001-03-03,1968-01-01,1967-12-21,0,33.169743,59.839696,M,Withdrawn,1.0,1962-02-01,2001-08-03,1995-05-01,1995-04-17,6.258855,39.502522,NaT,0.0
50,50,349.0,M,1,1938,1968-01-01,Withdrawn,MPT-monthly,2,1999,0,0,1,2017-12-31,1999-02-01,1938-01-01,1998-11-03,1968-01-01,1967-12-21,0,30.839785,60.839032,M,Withdrawn,1.0,1957-07-01,2013-11-03,1980-05-01,1980-05-15,33.509244,56.343388,NaT,0.0
51,51,52.0,M,6,1942,1967-02-01,Withdrawn,Non-MPT-monthly,5,1999,0,0,0,2017-12-31,1999-05-01,1942-06-01,1999-01-31,1967-02-01,1967-02-10,0,31.997919,56.669199,M,Withdrawn,1.0,1945-09-01,2002-12-01,1967-03-01,1967-02-16,35.754328,57.249636,NaT,0.0
53,53,630.0,M,6,1944,1967-03-01,Withdrawn,Non-MPT-monthly,5,2000,0,0,0,2017-12-31,2000-05-01,1944-06-01,2000-02-01,1967-03-01,1967-02-16,0,32.923332,55.669863,M,Withdrawn,1.0,1959-09-01,2003-01-01,1991-01-01,1991-01-01,12.000246,43.335592,NaT,0.0
54,54,1557.0,M,2,1942,1967-03-01,Withdrawn,Non-MPT-monthly,7,1999,0,0,0,2017-12-31,1999-07-01,1942-02-01,1999-04-02,1967-03-01,1967-02-16,0,32.088270,57.164760,M,Active,1.0,1965-11-01,2017-10-02,1989-05-01,2011-02-01,28.422213,51.918931,NaT,0.0
55,55,351.0,M,9,1940,1968-01-01,Withdrawn,MPT-monthly,10,2000,0,0,1,2017-12-31,2000-10-01,1940-09-01,2000-07-03,1968-01-01,1967-12-21,0,32.504432,59.836958,M,Withdrawn,1.0,1956-10-01,2005-11-03,1980-08-01,1980-08-01,25.257192,49.090673,1967-12-21,1.0
56,56,487.0,M,5,1944,1968-01-01,Withdrawn,MPT-monthly,6,2004,0,0,1,2017-12-31,2004-06-01,1944-05-01,2004-03-03,1968-01-01,1967-12-21,0,36.170489,59.839696,M,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,29.172399,50.752582,1967-12-21,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,4960,3665.0,F,7,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.254536,F,Active,1.0,1983-11-01,2017-10-02,2010-01-01,2010-01-01,7.751015,33.919930,NaT,0.0
4961,4961,2913.0,F,2,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.667132,F,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0
4962,4962,2042.0,M,4,1994,2017-09-01,Active,MPT-monthly,8,2017,1,0,1,2017-12-31,2017-08-01,1994-04-01,2017-10-02,2017-09-01,2017-08-21,0,0.084875,23.504932,F,Active,1.0,1978-09-01,2017-10-02,2003-08-01,2003-07-21,14.171407,39.086360,NaT,0.0
4963,4963,2913.0,M,4,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.503686,F,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0
4964,4964,2913.0,F,7,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.256446,F,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0
4965,4965,2151.0,M,9,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-09-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,24.085368,M,Active,1.0,1979-08-01,2017-10-02,2005-03-01,2009-10-19,12.588896,38.171899,NaT,0.0
4966,4966,3481.0,F,1,1997,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1997-01-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,20.750597,F,Active,1.0,1983-11-01,2017-10-02,2008-11-01,2008-11-15,8.917363,33.919930,NaT,0.0
4967,4967,2492.0,M,8,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-08-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,24.170243,F,Active,1.0,1971-12-01,2017-10-02,2005-07-01,2005-07-01,12.254872,45.838039,NaT,0.0
4968,4968,3185.0,F,2,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.667878,F,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817,NaT,0.0
4969,4969,3189.0,F,10,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.002567,F,Active,1.0,1983-10-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.004805,NaT,0.0
4970,4970,2550.0,F,5,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-05-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.422794,F,Active,1.0,1977-11-01,2017-10-02,2005-09-01,2005-09-15,12.085122,39.918684,NaT,0.0
4972,4972,2913.0,F,11,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-11-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.918356,F,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0
4973,4973,1809.0,F,10,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,26.004641,M,Active,1.0,1976-11-01,2017-10-02,2000-06-01,2000-06-12,17.336427,40.918020,NaT,0.0
4974,4974,1556.0,M,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.337919,M,Active,1.0,1966-08-01,2017-10-02,1996-10-01,1996-10-01,21.002485,51.171482,NaT,0.0
4975,4975,2753.0,F,4,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.505596,F,Active,1.0,1982-04-01,2017-10-02,2006-08-01,2006-08-01,11.170661,35.505178,NaT,0.0
4976,4976,2215.0,F,2,1995,2017-09-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1995-02-01,2017-10-02,2017-09-01,2017-09-05,0,0.084875,22.667132,F,Active,1.0,1979-06-01,2017-10-02,2004-08-01,2004-08-01,13.169333,38.338912,NaT,0.0
4977,4977,741.0,F,11,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.918356,F,Active,1.0,1968-09-01,2017-10-02,1991-10-01,1991-10-01,26.004641,49.085197,NaT,0.0
4978,4978,1469.0,F,11,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,22.919020,F,Active,1.0,1966-01-01,2017-10-02,1995-09-01,1995-09-01,22.086696,51.751918,NaT,0.0
4979,4979,2633.0,F,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,23.337919,F,Active,1.0,1980-03-01,2017-10-02,2006-03-01,2006-03-01,11.589560,37.588725,NaT,0.0
4980,4980,3196.0,M,12,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-12-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.836218,M,Active,1.0,1984-06-01,2017-10-02,2007-10-01,2007-10-08,10.004312,33.336756,NaT,0.0
4981,4981,3185.0,F,7,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-07-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,26.256528,F,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817,NaT,0.0
4982,4982,643.0,M,2,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-02-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,24.665804,F,Active,1.0,1966-07-01,2017-10-02,1991-02-01,1991-02-01,26.667214,51.256357,NaT,0.0
4984,4984,2531.0,F,4,1997,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1997-04-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,20.504186,F,Active,1.0,1983-02-01,2017-10-02,2005-08-01,2005-08-01,12.169997,34.667379,NaT,0.0
4985,4985,3541.0,F,7,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-07-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.255782,M,Active,1.0,1981-01-01,2017-10-02,2009-05-01,2009-05-01,8.421802,36.750926,NaT,0.0
4986,4986,3299.0,F,9,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-09-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,27.086114,M,Active,1.0,1981-10-01,2017-10-02,2008-04-01,2008-04-01,9.503275,36.003477,NaT,0.0
4988,4988,2511.0,F,8,1983,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1983-08-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,34.171817,F,Active,1.0,1982-10-01,2017-10-02,2005-08-01,2005-08-01,12.169997,35.004141,NaT,0.0
4989,4989,1809.0,F,10,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-10-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,24.003231,M,Active,1.0,1976-11-01,2017-10-02,2000-06-01,2000-06-12,17.336427,40.918020,NaT,0.0
4991,4991,2511.0,F,1,1985,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1985-01-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,32.750844,F,Active,1.0,1982-10-01,2017-10-02,2005-08-01,2005-08-01,12.169997,35.004141,NaT,0.0
4993,4993,1328.0,F,7,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-07-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738,27.255864,M,Active,1.0,1964-12-01,2017-10-02,1994-07-01,1994-07-15,23.255782,52.836129,NaT,0.0
4995,4995,2064.0,F,11,1994,2017-10-01,Active,MPT-monthly,10,2017,0,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738,22.919020,F,Active,1.0,1978-01-01,2017-10-02,2004-01-01,2004-01-01,13.752507,39.751672,NaT,0.0

# Placeholder to handle outlier

In [92]:
#Unusual resigned spike in Jun-Jul 1999, Apr 2000, Jan 2001, Jan 2002 - total 200 ppl.

UnusualLeave = pd.DataFrame({'Serial Number':[
24, 31, 38, 41, 42, 45, 54, 87, 95, 97, 99, 107, 113, 114, 123, 128, 129, 132, 133, 143, 163, 165, 171, 172, 179, 181, 191, 198, 199, 214, 215, 225, 228, 235, 236, 237, 245, 247, 252, 253, 255, 259, 260, 264, 268, 276, 278, 284, 290, 291, 302, 304, 306, 307, 308, 309, 310, 315, 321, 322, 327, 328, 330, 333, 334, 335, 383, 384, 385, 393, 396, 397, 411, 412, 444, 458, 468, 477, 492, 513, 514, 558, 562, 564, 584, 693, 730, 733, 740, 742, 747, 757, 790, 791, 793, 883, 967, 973, 975, 1003, 1004, 1005, 1006, 1007, 1039, 1060, 1225, 1226, 1227, 1240, 1326, 1342, 1344, 1352, 1357, 1360, 1361, 1362, 1363, 1372, 1377, 1429, 1448, 1456, 1458, 1461, 1464, 1472, 1473, 1474, 1490, 1539, 1541, 1559, 1562, 1563, 1565, 1567, 1568, 1569, 1570, 1571, 1573, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1640, 1642, 1643, 1644, 1645, 1658, 1738, 1774, 1820, 1822, 1823, 1828, 1829, 1830, 1831, 1832, 1835, 1836, 1837, 1838, 1841, 1842, 1843, 1844, 1847, 1848, 1849, 1851, 1852, 1853, 1854, 1855, 1856, 1858, 1860, 1861, 1862, 1863, 1864, 1865, 1867, 1868, 1873, 1874, 1875
]})

In [93]:
MAIN.index[MAIN.index.isin(UnusualLeave['Serial Number'])]

Int64Index([  31,   41,   45,   54,  107,  113,  123,  128,  129,  133,
            ...
            1853, 1854, 1855, 1856, 1858, 1860, 1861, 1862, 1867, 1868],
           dtype='int64', name='Serial Number', length=109)

In [94]:
# Remove Outlier
MAIN.drop(MAIN.index[MAIN.index.isin(UnusualLeave['Serial Number'])],inplace=True)

In [95]:
len(MAIN)

3517

## (Additional Features) Compare SUP VS EMP

In [96]:
#Create Dummies Sup Gender

In [97]:
MAIN = pd.get_dummies(MAIN, columns=['SUP Gender'])

In [98]:
MAIN = pd.get_dummies(MAIN, columns=['Gender'])

In [99]:
MAIN.loc[MAIN['SUP Birth Date'].notnull() , 'SUP Age at Action'] = (MAIN['Action Date']-MAIN['SUP Birth Date'])/np.timedelta64(1, 'Y')
MAIN.loc[MAIN['SUP Entry Date'].notnull() , 'SUP Exp at Action'] = (MAIN['Action Date']-MAIN['SUP Entry Date'])/np.timedelta64(1, 'Y')

MAIN.loc[:,'SUP Older Than EMP'] = 0
MAIN.loc[(MAIN['SUP Birth Date']>MAIN['Birth Date']), 'SUP Older Than EMP'] = 1

MAIN.loc[:,'Age Diff SUPvsEMP'] = 0
MAIN.loc[MAIN['SUP Birth Date'].notnull() , 'Age Diff SUPvsEMP'] = (MAIN['Birth Date']-MAIN['SUP Birth Date'])/np.timedelta64(1, 'Y')

MAIN

,Serial Number,Supervisor Serial,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,17.339165,44.838703,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.000992
6,6,346.0,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.005887,52.425443,NaT,0.0,1.0,0.0,0.0,1.0,1,-7.414252
8,8,27.0,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0,0.0,1.0,0.0,1.0,0,0.082137
11,11,88.0,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,31.669370,58.421460,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.415498
13,13,714.0,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,13.837382,41.755820,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.081138
18,18,362.0,2,1938,1965-03-01,Withdrawn,MPT-monthly,3,1999,0,0,1,2017-12-31,1999-03-01,1938-02-01,1998-12-01,1965-03-01,1965-03-04,0,33.752918,60.830818,Withdrawn,1.0,1958-07-01,2017-05-03,1981-04-01,1981-04-01,17.667714,40.419721,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.411097
22,22,559.0,11,1940,1965-11-01,Withdrawn,MPT-monthly,12,2000,0,0,1,2017-12-31,2000-12-01,1940-11-01,2000-09-02,1965-11-01,1965-11-01,0,34.837129,59.836958,Active,1.0,1961-02-01,2017-10-02,1989-11-01,1989-11-06,10.836636,39.584660,NaT,0.0,0.0,1.0,1.0,0.0,1,-20.252298
28,28,475.0,7,1940,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1940-07-01,1999-12-02,1966-11-01,1966-10-19,0,33.084868,59.420796,Withdrawn,1.0,1948-05-01,2006-10-03,1970-01-01,1985-12-02,29.917110,51.587644,NaT,0.0,0.0,1.0,0.0,1.0,1,-7.833152
29,29,455.0,10,1941,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1941-10-01,1999-12-02,1966-11-01,1966-11-08,0,33.084868,58.169572,Active,1.0,1957-12-01,2017-10-02,1985-04-01,1985-03-19,14.669706,42.002231,NaT,0.0,0.0,1.0,0.0,1.0,1,-16.167341
30,30,707.0,6,1942,1966-03-01,Withdrawn,MPT-monthly,7,2002,0,0,1,2017-12-31,2002-07-01,1942-06-01,2002-04-02,1966-03-01,1966-03-15,0,36.088352,59.836958,Active,1.0,1961-06-01,2017-10-02,1991-08-01,1991-08-01,10.669624,40.835883,NaT,0.0,0.0,1.0,0.0,1.0,1,-19.001075
32,32,493.0,7,1944,1966-01-01,Withdrawn,MPT-monthly,6,2000,0,0,1,2017-12-31,2000-06-01,1944-07-01,2000-03-03,1966-01-01,1966-01-07,0,34.169079,55.672601,Active,1.0,1961-09-01,2017-10-02,1986-08-01,1986-07-16,13.588232,38.503186,NaT,0.0,1.0,0.0,1.0,0.0,1,-17.169415
33,33,346.0,7,1940,1967-03-01,Withdrawn,Non-MPT-monthly,8,2000,0,0,0,2017-12-31,2000-08-01,1940-07-01,2000-05-03,1967-03-01,1967-03-01,0,33.175219,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.589061,53.008618,NaT,0.0,1.0,0.0,1.0,0.0,1,-6.831078
34,34,687.0,5,1949,1967-02-01,Withdrawn,Non-MPT-monthly,2,2005,0,0,0,2017-12-31,2005-02-01,1949-05-01,2004-11-03,1967-02-01,1967-02-01,0,37.755738,55.511065,Withdrawn,1.0,1952-10-01,2012-08-03,1991-06-01,1991-06-01,13.426696,52.091419,NaT,0.0,0.0,1.0,0.0,1.0,1,-3.419646
35,35,122.0,11,1941,1967-03-01,Withdrawn,Non-MPT-monthly,8,2001,0,0,0,2017-12-31,2001-08-01,1941-11-01,2001-05-03,1967-03-01,1967-03-01,0,34.174555,59.502933,Withdrawn,1.0,1947-06-01,2001-09-02,1969-07-01,1969-06-24,31.839121,53.923079,NaT,0.0,1.0,0.0,0.0,1.0,1,-5.579854
36,36,109.0,9,1943,1967-05-01,Withdrawn,MPT-monthly,7,1999,0,0,1,2017-12-31,1999-07-01,1943-09-01,1999-04-02,1967-05-01,1967-04-25,0,31.921258,55.584988,Withdrawn,1.0,1943-02-01,2002-12-01,1968-12-01,1968-11-25,30.333272,56.165424,NaT,0.0,0.0,1.0,0.0,1.0,0,0.580436
39,39,342.0,4,1945,1967-04-01,Withdrawn,MPT-monthly,5,2000,0,1,1,2017-12-31,2000-05-01,1945-04-01,2000-02-01,1967-04-01,1967-04-03,0,32.838457,54.837539,Withdrawn,1.0,1954-06-01,2005-09-02,1979-05-01,1979-04-16,20.756073,45.671027,NaT,0.0,0.0,1.0,1.0,0.0,1,-9.166513
40,40,925.0,11,1947,1967-10-01,Withdrawn,MPT-monthly,12,2007,0,0,1,2017-12-31,2007-12-01,1947-11-01,2007-09-02,1967-10-01,1967-09-18,0,39.921422,59.836958,Withdrawn,1.0,1970-05-01,2008-08-03,1992-07-01,1992-07-01,15.170743,37.339576,NaT,0.0,0.0,1.0,0.0,1.0,1,-22.497382
46,46,1501.0,6,1940,1966-01-01,Withdrawn,MPT-monthly,7,2000,0,0,1,2017-12-31,2000-07-01,1940-06-01,2000-04-02,1966-01-01,1966-01-01,0,34.251217,59.836958,Withdrawn,1.0,1958-09-01,2005-11-03,1996-05-01,1996-04-16,3.920683,41.586070,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.250888
47,47,453.0,10,1946,1968-01-01,Withdrawn,Non-MPT-monthly,11,2006,0,0,0,2017-12-31,2006-11-01,1946-10-01,2006-08-03,1968-01-01,1967-12-21,0,38.588061,59.839696,Withdrawn,1.0,1957-01-01,2012-10-03,1985-02-01,1985-02-15,21.500784,49.586234,NaT,0.0,0.0,1.0,0.0,1.0,1,-10.253462
48,48,1442.0,4,1940,1967-11-01,Withdrawn,Non-MPT-monthly,1,1999,0,0,0,2017-12-31,1999-01-01,1940-04-01,1998-10-03,1967-11-01,1967-10-26,0,30.921922,58.506335,Active,1.0,1970-03-01,2017-10-02,1995-09-01,1995-09-01,3.088359,28.591963,NaT,0.0,0.0,1.0,0.0,1.0,1,-29.914372
49,49,1740.0,5,1941,1968-01-01,Withdrawn,MPT-monthly,6,2001,0,0,1,2017-12-31,2001-06-01,1941-05-01,2001-03-03,1968-01-01,1967-12-21,0,33.169743,59.839696,Withdrawn,1.0,1962-02-01,2001-08-03,1995-05-01,1995-04-17,5.839956,39.083623,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.756073
50,50,349.0,1,1938,1968-01-01,Withdrawn,MPT-monthly,2,1999,0,0,1,2017-12-31,1999-02-01,1938-01-01,1998-11-03,1968-01-01,1967-12-21,0,30.839785,60.839032,Withdrawn,1.0,1957-07-01,2013-11-03,1980-05-01,1980-05-15,18.508251,41.342396,NaT,0.0,0.0,1.0,0.0,1.0,1,-19.496636
51,51,52.0,6,1942,1967-02-01,Withdrawn,Non-MPT-monthly,5,1999,0,0,0,2017-12-31,1999-05-01,1942-06-01,1999-01-31,1967-02-01,1967-02-10,0,31.997919,56.669199,Withdrawn,1.0,1945-09-01,2002-12-01,1967-03-01,1967-02-16,31.921258,53.416566,NaT,0.0,0.0,1.0,0.0,1.0,1,-3.252634
53,53,630.0,6,1944,1967-03-01,Withdrawn,Non-MPT-monthly,5,2000,0,0,0,2017-12-31,2000-05-01,1944-06-01,2000-02-01,1967-03-01,1967-02-16,0,32.923332,55.669863,Withdrawn,1.0,1959-09-01,2003-01-01,1991-01-01,1991-01-01,9.084375,40.419721,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.250142
55,55,351.0,9,1940,1968-01-01,Withdrawn,MPT-monthly,10,2000,0,0,1,2017-12-31,2000-10-01,1940-09-01,2000-07-03,1968-01-01,1967-12-21,0,32.504432,59.836958,Withdrawn,1.0,1956-10-01,2005-11-03,1980-08-01,1980-08-01,19.921011,43.754492,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-16.082466
56,56,487.0,5,1944,1968-01-01,Withdrawn,MPT-monthly,6,2004,0,0,1,2017-12-31,2004-06-01,1944-05-01,2004-03-03,1968-01-01,1967-12-21,0,36.170489,59.839696,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,17.840202,39.420385,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-20.419310
57,57,481.0,10,1940,1968-01-01,Withdrawn,MPT-monthly,11,2000,0,0,1,2017-12-31,2000-11-01,1940-10-01,2000-08-03,1968-01-01,1967-12-21,0,32.589307,59.839696,Withdrawn,1.0,1961-02-01,2015-01-31,1986-04-01,1986-03-17,14.341157,39.502522,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.337173
60,60,487.0,3,1943,1968-01-01,Withdrawn,MPT-monthly,4,2003,0,0,1,2017-12-31,2003-04-01,1943-03-01,2003-01-01,1968-01-01,1967-12-21,0,35.001403,59.839696,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,16.671116,38.251299,NaT,0.0,0.0,1.0,0.0,1.0,1,-21.588397
61,61,324.0,1,1943,1968-01-01,Withdrawn,MPT-monthly,2,2003,0,0,1,2017-12-31,2003-02-01,1943-01-01,2002-11-03,1968-01-01,1967-12-21,0,34.839867,59.839696,Withdrawn,1.0,1950-06-01,2010-04-02,1977-11-01,1977-10-17,25.005305,52.425443,NaT,0.0,0.0,1.0,0.0,1.0,1,-7.414252
62,62,832.0,1,1944,1968-01-01,Withdrawn,MPT-monthly,2,2004,0,0,1,2017-12-31,2004-02-01,1944-01-01,2003-11-03,1968-01-01,1967-12-21,0,35.839203,59.839696,Active,1.0,1970-03-01,2017-10-02,1992-05-01,1992-05-01,11.507423,33.676256,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-26.163439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,4960,3665.0,7,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.254536,Active,1.0,1983-11-01,2017-10-02,2010-01-01,2010-01-01,7.751015,33.919930,NaT,0.0,1.0,0.0,1.0,0.0,0,4.665394
4961,4961,2913.0,2,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.667132,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,1.0,0.0,0,15.419892
4962,4962,2042.0,4,1994,2017-09-01,Active,MPT-monthly,8,2017,1,0,1,2017-12-31,2017-08-01,1994-04-01,2017-10-02,2017-09-01,2017-08-21,0,0.084875,23.504932,Active,1.0,1978-09-01,2017-10-02,2003-08-01,2003-07-21,14.171407,39.086360,NaT,0.0,1.0,0.0,0.0,1.0,0,15.581429
4963,4963,2913.0,4,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.503686,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,0.0,1.0,0,8.583338
4964,4964,2913.0,7,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.256446,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,1.0,0.0,0,15.830578
4965,4965,2151.0,9,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-09-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,24.085368,Active,1.0,1979-08-01,2017-10-02,2005-03-01,2009-10-19,12.588896,38.171899,NaT,0.0,0.0,1.0,0.0,1.0,0,14.086532
4966,4966,3481.0,1,1997,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1997-01-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,20.750597,Active,1.0,1983-11-01,2017-10-02,2008-11-01,2008-11-15,8.917363,33.919930,NaT,0.0,1.0,0.0,1.0,0.0,0,13.169333
4967,4967,2492.0,8,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-08-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,24.170243,Active,1.0,1971-12-01,2017-10-02,2005-07-01,2005-07-01,12.254872,45.838039,NaT,0.0,1.0,0.0,0.0,1.0,0,21.667796
4968,4968,3185.0,2,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.667878,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817,NaT,0.0,1.0,0.0,1.0,0.0,0,8.503939
4969,4969,3189.0,10,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.002567,Active,1.0,1983-10-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.004805,NaT,0.0,1.0,0.0,1.0,0.0,0,9.002238
4970,4970,2550.0,5,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-05-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.422794,Active,1.0,1977-11-01,2017-10-02,2005-09-01,2005-09-15,12.085122,39.918684,NaT,0.0,1.0,0.0,1.0,0.0,0,16.495890
4972,4972,2913.0,11,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-11-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.918356,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,1.0,0.0,0,14.168669
4973,4973,1809.0,10,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,26.004641,Active,1.0,1976-11-01,2017-10-02,2000-06-01,2000-06-12,17.336427,40.918020,NaT,0.0,0.0,1.0,1.0,0.0,0,14.913379
4974,4974,1556.0,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.337919,Active,1.0,1966-08-01,2017-10-02,1996-10-01,1996-10-01,21.002485,51.171482,NaT,0.0,0.0,1.0,0.0,1.0,0,27.833563
4975,4975,2753.0,4,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.505596,Active,1.0,1982-04-01,2017-10-02,2006-08-01,2006-08-01,11.170661,35.505178,NaT,0.0,1.0,0.0,1.0,0.0,0,12.999582
4976,4976,2215.0,2,1995,2017-09-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1995-02-01,2017-10-02,2017-09-01,2017-09-05,0,0.084875,22.667132,Active,1.0,1979-06-01,2017-10-02,2004-08-01,2004-08-01,13.169333,38.338912,NaT,0.0,1.0,0.0,1.0,0.0,0,15.671780
4977,4977,741.0,11,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.918356,Active,1.0,1968-09-01,2017-10-02,1991-10-01,1991-10-01,26.004641,49.085197,NaT,0.0,1.0,0.0,1.0,0.0,0,25.166841
4978,4978,1469.0,11,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,22.919020,Active,1.0,1966-01-01,2017-10-02,1995-09-01,1995-09-01,22.086696,51.751918,NaT,0.0,1.0,0.0,1.0,0.0,0,28.832899
4979,4979,2633.0,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,23.337919,Active,1.0,1980-03-01,2017-10-02,2006-03-01,2006-03-01,11.589560,37.588725,NaT,0.0,1.0,0.0,1.0,0.0,0,14.250806
4980,4980,3196.0,12,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-12-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.836218,Active,1.0,1984-06-01,2017-10-02,2007-10-01,2007-10-08,10.004312,33.336756,NaT,0.0,0.0,1.0,0.0,1.0,0,9.500537
4981,4981,3185.0,7,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-07-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,26.256528,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817,NaT,0.0,1.0,0.0,1.0,0.0,0,7.915289
4982,4982,643.0,2,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-02-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,24.665804,Active,1.0,1966-07-01,2017-10-02,1991-02-01,1991-02-01,26.667214,51.256357,NaT,0.0,1.0,0.0,0.0,1.0,0,26.590553
4984,4984,2531.0,4,1997,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1997-04-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,20.504186,Active,1.0,1983-02-01,2017-10-02,2005-08-01,2005-08-01,12.169997,34.667379,NaT,0.0,1.0,0.0,1.0,0.0,0,14.163193
4985,4985,3541.0,7,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-07-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.255782,Active,1.0,1981-01-01,2017-10-02,2009-05-01,2009-05-01,8.421802,36.750926,NaT,0.0,0.0,1.0,1.0,0.0,0,13.495144
4986,4986,3299.0,9,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-09-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,27.086114,Active,1.0,1981-10-01,2017-10-02,2008-04-01,2008-04-01,9.503275,36.003477,NaT,0.0,0.0,1.0,1.0,0.0,0,8.917363
4988,4988,2511.0,8,1983,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1983-08-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,34.171817,Active,1.0,1982-10-01,2017-10-02,2005-08-01,2005-08-01,12.169997,35.004141,NaT,0.0,1.0,0.0,1.0,0.0,0,0.832324
4989,4989,1809.0,10,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-10-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,24.003231,Active,1.0,1976-11-01,2017-10-02,2000-06-01,2000-06-12,17.336427,40.918020,NaT,0.0,0.0,1.0,1.0,0.0,0,16.914789
4991,4991,2511.0,1,1985,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1985-01-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,32.750844,Active,1.0,1982-10-01,2017-10-02,2005-08-01,2005-08-01,12.169997,35.004141,NaT,0.0,1.0,0.0,1.0,0.0,0,2.253297
4993,4993,1328.0,7,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-07-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738,27.255864,Active,1.0,1964-12-01,2017-10-02,1994-07-01,1994-07-15,23.255782,52.836129,NaT,0.0,0.0,1.0,1.0,0.0,0,25.580265
4995,4995,2064.0,11,1994,2017-10-01,Active,MPT-monthly,10,2017,0,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738,22.919020,Active,1.0,1978-01-01,2017-10-02,2004-01-01,2004-01-01,13.752507,39.751672,NaT,0.0,1.0,0.0,1.0,0.0,0,16.832652

In [100]:
MAIN.head()

,Serial Number,Supervisor Serial,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,17.339165,44.838703,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.000992
6,6,346.0,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.005887,52.425443,NaT,0.0,1.0,0.0,0.0,1.0,1,-7.414252
8,8,27.0,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0,0.0,1.0,0.0,1.0,0,0.082137
11,11,88.0,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,31.669370,58.421460,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.415498
13,13,714.0,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,13.837382,41.755820,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.081138

## (Additional Features) Resign within X year after Edu Allowance used

In [101]:
EDU_ALLOW = EDU_ALLOW_MASTER.copy()
EDU_ALLOW.set_index('Serial Number', inplace=True)

In [102]:
feature_eduallow = EDU_ALLOW.reset_index().groupby('Serial Number').max()#.reset_index()
# feature_eduallow = pd.merge(feature_eduallow, MAIN[['Serial Number', 'Last Action Date']], how='left', on='Serial Number')
feature_eduallow = feature_eduallow.join(MAIN[['Action Date']])

In [103]:
# create feature --- if an employee resigns within 1 year after finishing a reimbursed degree ---
# flag 1 : if last Education Allowance is in 1 year before last action
# flag 0 : if not
feature_eduallow['EduAllowFinishedIn1y'] = 0
feature_eduallow.loc[feature_eduallow['Action Date']-feature_eduallow['Start date'] < datetime.timedelta(365,0,0), 'EduAllowFinishedIn1y'] = 1

# create feature --- # of year that EE already finished a reimbursed degree ---
feature_eduallow['EduAllowYearDiff'] = (feature_eduallow['Action Date'].dt.year - feature_eduallow['Start date'].dt.year)

feature_eduallow = feature_eduallow[['EduAllowFinishedIn1y', 'EduAllowYearDiff']]
# df[1].fillna(0, inplace=True)
feature_eduallow['EduAllowFinishedIn1y'].fillna(0, inplace=True)
feature_eduallow['EduAllowYearDiff'].fillna(0, inplace=True)
MAIN = MAIN.join(feature_eduallow)
MAIN.head()

,Serial Number,Supervisor Serial,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP,EduAllowFinishedIn1y,EduAllowYearDiff
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,17.339165,44.838703,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.000992,NaN,NaN
6,6,346.0,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.005887,52.425443,NaT,0.0,1.0,0.0,0.0,1.0,1,-7.414252,NaN,NaN
8,8,27.0,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0,0.0,1.0,0.0,1.0,0,0.082137,NaN,NaN
11,11,88.0,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,31.669370,58.421460,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.415498,NaN,NaN
13,13,714.0,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,13.837382,41.755820,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.081138,NaN,NaN

## Education Allowance

In [104]:
EDU_ALLOW = EDU_ALLOW_MASTER.copy()
EDU_ALLOW.set_index('Serial Number', inplace=True)

In [105]:
#Set Ed Allowance Flag
EDU_ALLOW.drop(['End date','Start date'], axis=1, inplace=True)
EDU_ALLOW = EDU_ALLOW.reset_index().groupby('Serial Number').agg('count')
EDU_ALLOW['EDU Allowance'] = 1
EDU_ALLOW.drop(['Wage Type'], axis=1, inplace=True)
MAIN = MAIN.join(EDU_ALLOW)

MAIN.head(50)

,Serial Number,Supervisor Serial,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP,EduAllowFinishedIn1y,EduAllowYearDiff,EDU Allowance
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,17.339165,44.838703,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.000992,NaN,NaN,NaN
6,6,346.0,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.005887,52.425443,NaT,0.0,1.0,0.0,0.0,1.0,1,-7.414252,NaN,NaN,NaN
8,8,27.0,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0,0.0,1.0,0.0,1.0,0,0.082137,NaN,NaN,NaN
11,11,88.0,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,31.669370,58.421460,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.415498,NaN,NaN,NaN
13,13,714.0,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,13.837382,41.755820,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.081138,NaN,NaN,NaN
18,18,362.0,2,1938,1965-03-01,Withdrawn,MPT-monthly,3,1999,0,0,1,2017-12-31,1999-03-01,1938-02-01,1998-12-01,1965-03-01,1965-03-04,0,33.752918,60.830818,Withdrawn,1.0,1958-07-01,2017-05-03,1981-04-01,1981-04-01,17.667714,40.419721,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.411097,NaN,NaN,NaN
22,22,559.0,11,1940,1965-11-01,Withdrawn,MPT-monthly,12,2000,0,0,1,2017-12-31,2000-12-01,1940-11-01,2000-09-02,1965-11-01,1965-11-01,0,34.837129,59.836958,Active,1.0,1961-02-01,2017-10-02,1989-11-01,1989-11-06,10.836636,39.584660,NaT,0.0,0.0,1.0,1.0,0.0,1,-20.252298,NaN,NaN,NaN
28,28,475.0,7,1940,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1940-07-01,1999-12-02,1966-11-01,1966-10-19,0,33.084868,59.420796,Withdrawn,1.0,1948-05-01,2006-10-03,1970-01-01,1985-12-02,29.917110,51.587644,NaT,0.0,0.0,1.0,0.0,1.0,1,-7.833152,NaN,NaN,NaN
29,29,455.0,10,1941,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1941-10-01,1999-12-02,1966-11-01,1966-11-08,0,33.084868,58.169572,Active,1.0,1957-12-01,2017-10-02,1985-04-01,1985-03-19,14.669706,42.002231,NaT,0.0,0.0,1.0,0.0,1.0,1,-16.167341,NaN,NaN,NaN
30,30,707.0,6,1942,1966-03-01,Withdrawn,MPT-monthly,7,2002,0,0,1,2017-12-31,2002-07-01,1942-06-01,2002-04-02,1966-03-01,1966-03-15,0,36.088352,59.836958,Active,1.0,1961-06-01,2017-10-02,1991-08-01,1991-08-01,10.669624,40.835883,NaT,0.0,0.0,1.0,0.0,1.0,1,-19.001075,NaN,NaN,NaN
32,32,493.0,7,1944,1966-01-01,Withdrawn,MPT-monthly,6,2000,0,0,1,2017-12-31,2000-06-01,1944-07-01,2000-03-03,1966-01-01,1966-01-07,0,34.169079,55.672601,Active,1.0,1961-09-01,2017-10-02,1986-08-01,1986-07-16,13.588232,38.503186,NaT,0.0,1.0,0.0,1.0,0.0,1,-17.169415,NaN,NaN,NaN
33,33,346.0,7,1940,1967-03-01,Withdrawn,Non-MPT-monthly,8,2000,0,0,0,2017-12-31,2000-08-01,1940-07-01,2000-05-03,1967-03-01,1967-03-01,0,33.175219,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.589061,53.008618,NaT,0.0,1.0,0.0,1.0,0.0,1,-6.831078,NaN,NaN,NaN
34,34,687.0,5,1949,1967-02-01,Withdrawn,Non-MPT-monthly,2,2005,0,0,0,2017-12-31,2005-02-01,1949-05-01,2004-11-03,1967-02-01,1967-02-01,0,37.755738,55.511065,Withdrawn,1.0,1952-10-01,2012-08-03,1991-06-01,1991-06-01,13.426696,52.091419,NaT,0.0,0.0,1.0,0.0,1.0,1,-3.419646,NaN,NaN,NaN
35,35,122.0,11,1941,1967-03-01,Withdrawn,Non-MPT-monthly,8,2001,0,0,0,2017-12-31,2001-08-01,1941-11-01,2001-05-03,1967-03-01,1967-03-01,0,34.174555,59.502933,Withdrawn,1.0,1947-06-01,2001-09-02,1969-07-01,1969-06-24,31.839121,53.923079,NaT,0.0,1.0,0.0,0.0,1.0,1,-5.579854,NaN,NaN,NaN
36,36,109.0,9,1943,1967-05-01,Withdrawn,MPT-monthly,7,1999,0,0,1,2017-12-31,1999-07-01,1943-09-01,1999-04-02,1967-05-01,1967-04-25,0,31.921258,55.584988,Withdrawn,1.0,1943-02-01,2002-12-01,1968-12-01,1968-11-25,30.333272,56.165424,NaT,0.0,0.0,1.0,0.0,1.0,0,0.580436,NaN,NaN,NaN
39,39,342.0,4,1945,1967-04-01,Withdrawn,MPT-monthly,5,2000,0,1,1,2017-12-31,2000-05-01,1945-04-01,2000-02-01,1967-04-01,1967-04-03,0,32.838457,54.837539,Withdrawn,1.0,1954-06-01,2005-09-02,1979-05-01,1979-04-16,20.756073,45.671027,NaT,0.0,0.0,1.0,1.0,0.0,1,-9.166513,NaN,NaN,NaN
40,40,925.0,11,1947,1967-10-01,Withdrawn,MPT-monthly,12,2007,0,0,1,2017-12-31,2007-12-01,1947-11-01,2007-09-02,1967-10-01,1967-09-18,0,39.921422,59.836958,Withdrawn,1.0,1970-05-01,2008-08-03,1992-07-01,1992-07-01,15.170743,37.339576,NaT,0.0,0.0,1.0,0.0,1.0,1,-22.497382,NaN,NaN,NaN
46,46,1501.0,6,1940,1966-01-01,Withdrawn,MPT-monthly,7,2000,0,0,1,2017-12-31,2000-07-01,1940-06-01,2000-04-02,1966-01-01,1966-01-01,0,34.251217,59.836958,Withdrawn,1.0,1958-09-01,2005-11-03,1996-05-01,1996-04-16,3.920683,41.586070,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.250888,NaN,NaN,NaN
47,47,453.0,10,1946,1968-01-01,Withdrawn,Non-MPT-monthly,11,2006,0,0,0,2017-12-31,2006-11-01,1946-10-01,2006-08-03,1968-01-01,1967-12-21,0,38.588061,59.839696,Withdrawn,1.0,1957-01-01,2012-10-03,1985-02-01,1985-02-15,21.500784,49.586234,NaT,0.0,0.0,1.0,0.0,1.0,1,-10.253462,NaN,NaN,NaN
48,48,1442.0,4,1940,1967-11-01,Withdrawn,Non-MPT-monthly,1,1999,0,0,0,2017-12-31,1999-01-01,1940-04-01,1998-10-03,1967-11-01,1967-10-26,0,30.921922,58.506335,Active,1.0,1970-03-01,2017-10-02,1995-09-01,1995-09-01,3.088359,28.591963,NaT,0.0,0.0,1.0,0.0,1.0,1,-29.914372,NaN,NaN,NaN
49,49,1740.0,5,1941,1968-01-01,Withdrawn,MPT-monthly,6,2001,0,0,1,2017-12-31,2001-06-01,1941-05-01,2001-03-03,1968-01-01,1967-12-21,0,33.169743,59.839696,Withdrawn,1.0,1962-02-01,2001-08-03,1995-05-01,1995-04-17,5.839956,39.083623,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.756073,NaN,NaN,NaN
50,50,349.0,1,1938,1968-01-01,Withdrawn,MPT-monthly,2,1999,0,0,1,2017-12-31,1999-02-01,1938-01-01,1998-11-03,1968-01-01,1967-12-21,0,30.839785,60.839032,Withdrawn,1.0,1957-07-01,2013-11-03,1980-05-01,1980-05-15,18.508251,41.342396,NaT,0.0,0.0,1.0,0.0,1.0,1,-19.496636,NaN,NaN,NaN
51,51,52.0,6,1942,1967-02-01,Withdrawn,Non-MPT-monthly,5,1999,0,0,0,2017-12-31,1999-05-01,1942-06-01,1999-01-31,1967-02-01,1967-02-10,0,31.997919,56.669199,Withdrawn,1.0,1945-09-01,2002-12-01,1967-03-01,1967-02-16,31.921258,53.416566,NaT,0.0,0.0,1.0,0.0,1.0,1,-3.252634,NaN,NaN,NaN
53,53,630.0,6,1944,1967-03-01,Withdrawn,Non-MPT-monthly,5,2000,0,0,0,2017-12-31,2000-05-01,1944-06-01,2000-02-01,1967-03-01,1967-02-16,0,32.923332,55.669863,Withdrawn,1.0,1959-09-01,2003-01-01,1991-01-01,1991-01-01,9.084375,40.419721,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.250142,NaN,NaN,NaN
55,55,351.0,9,1940,1968-01-01,Withdrawn,MPT-monthly,10,2000,0,0,1,2017-12-31,2000-10-01,1940-09-01,2000-07-03,1968-01-01,1967-12-21,0,32.504432,59.836958,Withdrawn,1.0,1956-10-01,2005-11-03,1980-08-01,1980-08-01,19.921011,43.754492,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-16.082466,NaN,NaN,NaN
56,56,487.0,5,1944,1968-01-01,Withdrawn,MPT-monthly,6,2004,0,0,1,2017-12-31,2004-06-01,1944-05-01,2004-03-03,1968-01-01,1967-12-21,0,36.170489,59.839696,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,17.840202,39.420385,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-20.419310,NaN,NaN,NaN
57,57,481.0,10,1940,1968-01-01,Withdrawn,MPT-monthly,11,2000,0,0,1,2017-12-31,2000-11-01,1940-10-01,2000-08-03,1968-01-01,1967-12-21,0,32.589307,59.839696,Withdrawn,1.0,1961-02-01,2015-01-31,1986-04-01,1986-03-17,14.341157,39.502522,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.337173,NaN,NaN,NaN
60,60,487.0,3,1943,1968-01-01,Withdrawn,MPT-monthly,4,2003,0,0,1,2017-12-31,2003-04-01,1943-03-01,2003-01-01,1968-01-01,1967-12-21,0,35.001403,59.839696,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,16.671116,38.251299,NaT,0.0,0.0,1.0,0.0,1.0,1,-21.588397,NaN,NaN,NaN
61,61,324.0,1,1943,1968-01-01,Withdrawn,MPT-monthly,2,2003,0,0,1,2017-12-31,2003-02-01,1943-01-01,2002-11-03,1968-01-01,1967-12-21,0,34.839867,59.839696,Withdrawn,1.0,1950-06-01,2010-04-02,1977-11-01,1977-10-17,25.005305,52.425443,NaT,0.0,0.0,1.0,0.0,1.0,1,-7.414252,NaN,NaN,NaN
62,62,832.0,1,1944,1968-01-01,Withdrawn,MPT-monthly,2,2004,0,0,1,2017-12-31,2004-02-01,1944-01-01,2003-11-03,1968-01-01,1967-12-21,0,35.839203,59.839696,Active,1.0,1970-03-01,2017-10-02,1992-05-01,1992-05-01,11.507423,33.676256,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-26.163439,NaN,NaN,NaN
63,63,476.0,5,1943,1968-01-01,Withdrawn,MPT-monthly,6,2003,0,0,1,2017-12-31,2003-06-01,1943-05-01,2003-03-03,1968-01-01,1967-12-21,0,35.168416,59.839696,Withdrawn,1.0,1957-05-01,2007-09-02,1986-01-01,1985-12-16,17.166677,45.838039,NaT,0.0,0.0,1.0,0.0,1.0,1,-14.001656,NaN,NaN,NaN
64,64,367.0,6,1943,1968-01-01,Withdrawn,Non-MPT-monthly,7,2003,0,0,0,2017-12-31,2003-07-01,1943-06-01,2003-04-02,1968-01-01,1967-12-21,0,35.250553,59.836958,Withdrawn,1.0,1958-12-01,2015-12-02,1981-05-01,1981-05-06,21.919683,44.334928,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.502029,NaN,NaN,NaN
65,65,294.0,2,1943,1968-01-01,Withdrawn,MPT-monthly,3,2003,0,0,1,2017-12-31,2003-03-01,1943-02-01,2002-12-01,1968-01-01,1967-12-21,0,34.916528,59.831482,Withdrawn,1.0,1953-03-01,2005-09-02,1974-07-01,1974-07-01,28.419475,49.753246,NaT,0.0,0.0,1.0,0.0,1.0,1,-10.078236,NaN,NaN,NaN
66,66,544.0,8,1942,1968-01-01,Withdrawn,MPT-monthly,2,2000,0,0,1,2017-12-31,2000-02-01,1942-08-01,1999-11-03,1968-01-01,1967-12-21,0,31.839121,57.257849,Active,1.0,1967-12-01,2017-10-02,1989-08-01,1989-08-01,10.256200,31.923996,NaT,0.0,0.0,1.0,0.0,1.0,1,-25.333854,NaN,NaN,NaN
67,67,55.0,7,1940,1968-01-01,Withdrawn,MPT-monthly,8,2000,0,0,1,2017-12-31,2000-08-01,1940-07-01,2000-05-03,1968-01-01,1967-12-21,0,32.337420,59.839696,Withdrawn,1.0,1940-09-01,2000-07-03,1968-01-01,1967-12-21,32.337420,59.669945,NaT,0.0,0.0,1.0,0.0,1.0,1,-0.169750,NaN,NaN,NaN
68,68,800.0,5,1945,1968-01-01,Withdrawn,MPT-monthly,6,2005,0,0,1,2017-12-31,2005-06-01,1945-05-01,2005-03-03,1968-01-01,1967-12-21,0,37.169826,59.839696,Withdrawn,1.0,1967-08-01,2007-01-31,1992-03-01,1992-03-12,13.005058,37.588725,NaT,0.0,0.0,1.0,0.0,1.0,1,-22.250970,NaN,NaN,NaN
69,69,832.0,11,1942,1968-01-01,Withdrawn,MPT-monthly,12,2002,0,0,1,2017-12-31,2002-12-01,1942-11-01,2002-09-02,1968-01-01,1967-12-21,0,34.670116,59.836958,Active,1.0,1970-03-01,2017-10-02,1992-05-01,1992-05-01,10.338337,32.507170,NaT,0.0,0.0,1.0,0.0,1.0,1,-27.329788,NaN,NaN,NaN
70,70,487.0,1,1942,1968-01-01,Withdrawn,Non-MPT-monthly,2,2002,0,0,0,2017-12-31,2002-02-01,1942-01-01,2001-11-03,1968-01-01,1967-12-21,0,33.840531,59.839696,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,15.510243,37.090426,NaT,0.0,0.0,1.0,0.0,1.0,1,-22.749269,NaN,NaN,NaN
71,71,832.0,12,1942,1968-01-01,Withdrawn,MPT-monthly,1,2003,0,0,1,2017-12-31,2003-01-01,1942-12-01,2002-10-03,1968-01-01,1967-12-21,0,34.754992,59.839696,Active,1.0,1970-03-01,2017-10-02,1992-05-01,1992-05-01,10.423212,32.592045,NaT,0.0,0.0,1.0,0.0,1.0,1,-27.247651,NaN,NaN,NaN
72,72,1071.0,2,1949,1968-01-01,Withdrawn,MPT-monthly,3,2009,0,0,1,2017-12-31,2009-03-01,1949-02-01,2008-12-01,1968-01-01,1967-12-21,0,40.918020,59.831482,Withdrawn,1.0,1972-09-01,2012-05-03,1993-04-01,1993-04-01,15.669042,36.249889,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-23.581593,NaN,NaN,NaN
73,73,55.0,4,1940,1968-01-01,Withdrawn,MPT-monthly,5,2000,0,0,1,2017-12-31,2000-05-01,1940-04-01,2000-02-01,1968-01-01,1967-12-21,0,32.085532,59.836958,Withdrawn,1.0,1940-09-01,2000-07-03,1968-01-01,1967-12-21,32.085532,59.418058,NaT,0.0,0.0,1.0,0.0,1.0,1,-0.418900,NaN,NaN,NaN
74,74,281.0,3,1946,1968-01-01,Withdrawn,Non-MPT-monthly,4,2006,0,0,0,2017-12-31,2006-04-01,1946-03-01,2006-01-01,1968-01-01,1967-12-21,0,38.002149,59.839696,Withdrawn,1.0,1951-10-01,2011-08-03,1973-07-01,1973-07-01,32.504432,54.254365,NaT,0.0,0.0,1.0,0.0,1.0,1,-5.585330,NaN,NaN,NaN
75,75,72.0,7,1942,1968-01-01,Withdrawn,Non-MPT-monthly,8,2002,0,0,0,2017-12-31,2002-08-01,1942-07-01,2002-05-03,1968-01-01,1967-12-21,0,34.336092,59.839696,Withdrawn,1.0,1949-02-01,2008-12-01,1968-01-01,1967-12-21,34.336092,53.249553,NaT,0.0,0.0,1.0,0.0,1.0,1,-6.590142,NaN,NaN,NaN
76,76,62.0,7,1939,1968-01-01,Withdrawn,Non-MPT-monthly,8,1999,0,0,0,2017-12-31,1999-08-01,1939-07-01,1999-05-03,1968-01-01,1967-12-21,0,31.335346,59.839696,Withdrawn,1.0,1944-01-01,2003-11-03,1968-01-01,1967-12-21,31.335346,55.335839,NaT,0.0,0.0,1.0,0.0,1.0,1,-4.503857,NaN,NaN,NaN
77,77,1630.0,8,1945,1968-01-01,Withdrawn,Non-MPT-monthly,9,2005,0,0,0,2017-12-31,2005-09-01,1945-08-01,2005-06-03,1968-01-01,1967-12-21,0,37.421713,59.839696,Active,1.0,1968-10-01,2017-10-02,1997-11-01,1997-11-01,7.586740,36.671526,NaT,0.0,0.0,1.0,0.0,1.0,1,-23.168169,NaN,NaN,NaN
78,78,62.0,4,1939,1968-01-01,Withdrawn,Non-MPT-monthly,5,1999,0,0,0,2017-12-31,1999-05-01,1939-04-01,1999-01-31,1968-01-01,1967-12-21,0,31.083458,59.836958,Withdrawn,1.0,1944-01-01,2003-11-03,1968-01-01,1967-12-21,31.083458,55.083951,NaT,0.0,0.0,1.0,0.0,1.0,1,-4.753007,NaN,NaN,NaN
79,79,594.0,1,1942,1968-01-01,Withdrawn,Non-MPT-monthly,2,2002,0,0,0,2017-12-31,2002-02-01,1942-01-01,2001-11-03,1968-01-01,1967-12-21,0,33.840531,59.839696,Active,1.0,1966-07-01,2017-10-02,1990-10-01,1990-10-01,11.091261,35.343642,NaT,0.0,0.0,1.0,0.0,1.0,1,-24.496054,NaN,NaN,NaN
81,81,542.0,2,1942,1968-01-01,Withdrawn,MPT-monthly,3,2002,0,0,1,2017-12-31,2002-03-01,1942-02-01,2001-12-01,1968-01-01,1967-12-21,0,33.917192,59.831482,Active,1.0,1968-12-01,2017-10-02,1989-08-01,1989-08-01,12.334271,32.999993,NaT,0.0,0.0,1.0,0.0,1.0,1,-26.831489,NaN,NaN,NaN
82,82,234.0,4,1944,1968-01-01,Withdrawn,MPT-monthly,5,2004,0,0,1,2017-12-31,2004-05-01,1944-04-01,2004-02-01,1968-01-01,1967-12-21,0,36.085614,59.836958,Withdrawn,1.0,1945-11-01,2005-09-02,1971-04-01,1971-04-01,32.838457,58.251709,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.585248,NaN,NaN,NaN
83,83,1557.0,5,1939,1968-01-01,Withdrawn,Non-MPT-monthly,6,1999,0,0,0,2017-12-31,1999-06-01,1939-05-01,1999-03-03,1968-01-01,1967-12-21,0,31.168333,59.839696,Active,1.0,1965-11-01,2017-10-02,1989-05-01,2011-02-01,9.837300,33.334018,NaT,0.0,0.0,1.0,0.0,1.0,1,-26.505678,NaN,NaN,NaN

## Housing Loan

In [106]:
HOUSE = HOUSE_MASTER.copy()
HOUSE.set_index('Serial Number', inplace=True)

In [107]:
HOUSE.head(0)

Empty DataFrame
Columns: [Start date, End date, Wage Type]
Index: []

In [108]:
#Set House Loan Flag
HOUSE.drop(['End date','Start date'], axis=1, inplace=True)

In [109]:
HOUSE = HOUSE.reset_index().groupby('Serial Number').agg('count')
HOUSE['House Loan'] = 1
HOUSE.drop(['Wage Type'], axis=1, inplace=True)
MAIN = MAIN.join(HOUSE)

MAIN.head()

,Serial Number,Supervisor Serial,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP,EduAllowFinishedIn1y,EduAllowYearDiff,EDU Allowance,House Loan
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,17.339165,44.838703,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.000992,NaN,NaN,NaN,NaN
6,6,346.0,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.005887,52.425443,NaT,0.0,1.0,0.0,0.0,1.0,1,-7.414252,NaN,NaN,NaN,NaN
8,8,27.0,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0,0.0,1.0,0.0,1.0,0,0.082137,NaN,NaN,NaN,NaN
11,11,88.0,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,31.669370,58.421460,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.415498,NaN,NaN,NaN,NaN
13,13,714.0,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,13.837382,41.755820,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.081138,NaN,NaN,NaN,NaN

## Education

In [110]:
#Set Education records
RenameCol = {
    'Start Date (0022)':'Start Date',
    'End Date (0022)':'End Date',
}
EDU.rename(columns=RenameCol, inplace=True)

EDU['Start Date'] = EDU['Start Date'].astype('datetime64[ns]')
EDU['End Date'] = EDU['End Date'].astype('datetime64[ns]')

In [111]:
EDU['Branch of study 1 Text'].unique()

array(['General Studies', 'No Specific Branch', 'Education',
       'Business-Economics', 'Other Degree', 'Finance/Accounting',
       'Business-Admin', 'Engineer-Mechanical', 'Law',
       'Computer Science/IT', 'Mathematics', 'Engineer-Chemical',
       'Technical-Other', 'Metallurgy', 'Engineer-Electrical', 'Chemistry',
       'Engineer-Manufacturing Tech', 'Engineer-Civil', 'Science-Other',
       'Social Studies', 'Languages', 'Business-Marketing',
       'Engineer-Petroleum', 'Marine', 'Medical', 'Engineer-Industrial',
       'Engineer-Other', 'Geophysics', 'Physics', 'Architecture',
       'Psychology', 'Human Resources', 'Business-Other',
       'Engineer-Mechanical Tech', 'Engineer-Chemical Tech', 'Aeronautics',
       'Engineer-Environmental', 'Engineer-Computer', 'Engineer-Safety',
       'Science-Polymers', 'Logistics & Supply', 'Public Affairs',
       'Engineer-Petroleum Tech', 'Business-Commercial', 'Biology',
       'Engineer-Electronics Tech', 'Engineer-Materials',
       'Engineer-Tech Other', 'Chemistry-Analytical',
       'Engineer-Geological', 'Engineer-Civil Tech', 'Engineer-Aerospace',
       'Engineer-Electrical Tech', 'Liberal Arts', 'Science-Materials',
       'No Degree'], dtype=object)

In [112]:
#Set Is STEM Flag
NONSTEM = [
            'Business-Admin',
            'Business-Commercial',
            'Business-Economics',
            'Business-Marketing',
            'Business-Other',
            'Education',
            'Finance/Accounting',
            'General Studies',
            'Human Resources',
            'Languages',
            'Law',
            'Liberal Arts',
            'Logistics & Supply',
            'Marine',
            'No Degree',
            'No Specific Branch',
            'Other Degree',
            'Psychology',
            'Public Affairs',
            'Social Studies']

EDU.loc[:, 'Is STEM'] = 1
EDU.loc[EDU['Branch of study 1 Text'].isin(NONSTEM), 'Is STEM'] = 0

In [113]:
EDU['Certificate Text'].unique()

array(['Attended', 'Bachelor', 'Diploma', 'Masters', 'MBA', 'Pre-Diploma',
       'MD', 'PhD', 'Other Degree', 'Post-Graduate', 'Attended No Degree',
       'Attended Jr.College', 'Post-Doctorate',
       'Attended High Tech. School', 'Attended High School'], dtype=object)

In [114]:
#Set Degree column
B_DEGREE = ['Bachelor']
M_DEGREE = ['Masters','MBA','MD','Post-Graduate']
PHD_DEGREE = ['PhD','Post-Doctorate']

#Rank -- Ordering
EDU.loc[:, 'Degree'] = 1
EDU.loc[EDU['Certificate Text'].isin(B_DEGREE), 'Degree'] = 2
EDU.loc[EDU['Certificate Text'].isin(M_DEGREE), 'Degree'] = 3
EDU.loc[EDU['Certificate Text'].isin(PHD_DEGREE), 'Degree'] = 4

In [115]:
EDU.drop(['Institute/location','Branch of study 1 Text','Certificate Text'], axis=1, inplace=True)

In [116]:
#Correct End Date for Bachelor
EDU.loc[(EDU['End Date']> pd.to_datetime(RefDate)) & (EDU['Degree']==2), 'End Date'] = EDU['Start Date'].apply(lambda x: x + pd.DateOffset(years=4))

#Correct End Date for Master
EDU.loc[(EDU['End Date']> pd.to_datetime(RefDate)) & (EDU['Degree']==3), 'End Date'] = EDU['Start Date'].apply(lambda x: x + pd.DateOffset(years=2))

In [117]:
EDU = EDU.groupby('Serial Number').agg('max')

In [118]:
EDU.drop(['Start Date'], axis=1, inplace=True)
RenameCol = {
    'End Date':'Last Grad Date',
    'Degree':'MAX Degree',
}
EDU.rename(columns=RenameCol, inplace=True)
MAIN = MAIN.join(EDU)

In [119]:
MAIN.loc[:,'Year After Grad'] = 0
MAIN.loc[MAIN['Last Grad Date'].notnull() , 'Year After Grad'] = (MAIN['Action Date']-MAIN['Last Grad Date'])/np.timedelta64(1, 'Y')

In [120]:
MAIN

,Serial Number,Supervisor Serial,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP,EduAllowFinishedIn1y,EduAllowYearDiff,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,Year After Grad
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,17.339165,44.838703,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.000992,NaN,NaN,NaN,NaN,1953-01-01,0.0,1.0,45.586152
6,6,346.0,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.005887,52.425443,NaT,0.0,1.0,0.0,0.0,1.0,1,-7.414252,NaN,NaN,NaN,NaN,1953-01-01,0.0,1.0,46.752500
8,8,27.0,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0,0.0,1.0,0.0,1.0,0,0.082137,NaN,NaN,NaN,NaN,1961-01-01,0.0,1.0,37.753000
11,11,88.0,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,31.669370,58.421460,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.415498,NaN,NaN,NaN,NaN,1990-03-31,0.0,2.0,9.423876
13,13,714.0,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,13.837382,41.755820,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.081138,NaN,NaN,NaN,NaN,1962-01-01,0.0,1.0,43.502604
18,18,362.0,2,1938,1965-03-01,Withdrawn,MPT-monthly,3,1999,0,0,1,2017-12-31,1999-03-01,1938-02-01,1998-12-01,1965-03-01,1965-03-04,0,33.752918,60.830818,Withdrawn,1.0,1958-07-01,2017-05-03,1981-04-01,1981-04-01,17.667714,40.419721,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.411097,NaN,NaN,NaN,NaN,1961-01-01,1.0,1.0,37.914536
22,22,559.0,11,1940,1965-11-01,Withdrawn,MPT-monthly,12,2000,0,0,1,2017-12-31,2000-12-01,1940-11-01,2000-09-02,1965-11-01,1965-11-01,0,34.837129,59.836958,Active,1.0,1961-02-01,2017-10-02,1989-11-01,1989-11-06,10.836636,39.584660,NaT,0.0,0.0,1.0,1.0,0.0,1,-20.252298,NaN,NaN,NaN,NaN,1965-03-31,0.0,1.0,35.425779
28,28,475.0,7,1940,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1940-07-01,1999-12-02,1966-11-01,1966-10-19,0,33.084868,59.420796,Withdrawn,1.0,1948-05-01,2006-10-03,1970-01-01,1985-12-02,29.917110,51.587644,NaT,0.0,0.0,1.0,0.0,1.0,1,-7.833152,NaN,NaN,NaN,NaN,1975-05-31,0.0,2.0,24.507006
29,29,455.0,10,1941,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1941-10-01,1999-12-02,1966-11-01,1966-11-08,0,33.084868,58.169572,Active,1.0,1957-12-01,2017-10-02,1985-04-01,1985-03-19,14.669706,42.002231,NaT,0.0,0.0,1.0,0.0,1.0,1,-16.167341,NaN,NaN,NaN,NaN,1965-03-31,0.0,2.0,34.672854
30,30,707.0,6,1942,1966-03-01,Withdrawn,MPT-monthly,7,2002,0,0,1,2017-12-31,2002-07-01,1942-06-01,2002-04-02,1966-03-01,1966-03-15,0,36.088352,59.836958,Active,1.0,1961-06-01,2017-10-02,1991-08-01,1991-08-01,10.669624,40.835883,NaT,0.0,0.0,1.0,0.0,1.0,1,-19.001075,NaN,NaN,NaN,NaN,1961-03-31,0.0,1.0,41.005633
32,32,493.0,7,1944,1966-01-01,Withdrawn,MPT-monthly,6,2000,0,0,1,2017-12-31,2000-06-01,1944-07-01,2000-03-03,1966-01-01,1966-01-07,0,34.169079,55.672601,Active,1.0,1961-09-01,2017-10-02,1986-08-01,1986-07-16,13.588232,38.503186,NaT,0.0,1.0,0.0,1.0,0.0,1,-17.169415,NaN,NaN,NaN,NaN,1963-05-04,0.0,1.0,36.833063
33,33,346.0,7,1940,1967-03-01,Withdrawn,Non-MPT-monthly,8,2000,0,0,0,2017-12-31,2000-08-01,1940-07-01,2000-05-03,1967-03-01,1967-03-01,0,33.175219,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.589061,53.008618,NaT,0.0,1.0,0.0,1.0,0.0,1,-6.831078,NaN,NaN,NaN,NaN,1960-05-17,0.0,1.0,39.962491
34,34,687.0,5,1949,1967-02-01,Withdrawn,Non-MPT-monthly,2,2005,0,0,0,2017-12-31,2005-02-01,1949-05-01,2004-11-03,1967-02-01,1967-02-01,0,37.755738,55.511065,Withdrawn,1.0,1952-10-01,2012-08-03,1991-06-01,1991-06-01,13.426696,52.091419,NaT,0.0,0.0,1.0,0.0,1.0,1,-3.419646,NaN,NaN,NaN,1.0,1965-01-01,0.0,1.0,39.839285
35,35,122.0,11,1941,1967-03-01,Withdrawn,Non-MPT-monthly,8,2001,0,0,0,2017-12-31,2001-08-01,1941-11-01,2001-05-03,1967-03-01,1967-03-01,0,34.174555,59.502933,Withdrawn,1.0,1947-06-01,2001-09-02,1969-07-01,1969-06-24,31.839121,53.923079,NaT,0.0,1.0,0.0,0.0,1.0,1,-5.579854,NaN,NaN,NaN,NaN,1960-03-31,0.0,1.0,41.090508
36,36,109.0,9,1943,1967-05-01,Withdrawn,MPT-monthly,7,1999,0,0,1,2017-12-31,1999-07-01,1943-09-01,1999-04-02,1967-05-01,1967-04-25,0,31.921258,55.584988,Withdrawn,1.0,1943-02-01,2002-12-01,1968-12-01,1968-11-25,30.333272,56.165424,NaT,0.0,0.0,1.0,0.0,1.0,0,0.580436,NaN,NaN,NaN,NaN,1967-01-01,1.0,1.0,32.249807
39,39,342.0,4,1945,1967-04-01,Withdrawn,MPT-monthly,5,2000,0,1,1,2017-12-31,2000-05-01,1945-04-01,2000-02-01,1967-04-01,1967-04-03,0,32.838457,54.837539,Withdrawn,1.0,1954-06-01,2005-09-02,1979-05-01,1979-04-16,20.756073,45.671027,NaT,0.0,0.0,1.0,1.0,0.0,1,-9.166513,NaN,NaN,NaN,NaN,1967-03-22,0.0,1.0,32.865836
40,40,925.0,11,1947,1967-10-01,Withdrawn,MPT-monthly,12,2007,0,0,1,2017-12-31,2007-12-01,1947-11-01,2007-09-02,1967-10-01,1967-09-18,0,39.921422,59.836958,Withdrawn,1.0,1970-05-01,2008-08-03,1992-07-01,1992-07-01,15.170743,37.339576,NaT,0.0,0.0,1.0,0.0,1.0,1,-22.497382,NaN,NaN,NaN,NaN,1966-01-01,0.0,1.0,41.668207
46,46,1501.0,6,1940,1966-01-01,Withdrawn,MPT-monthly,7,2000,0,0,1,2017-12-31,2000-07-01,1940-06-01,2000-04-02,1966-01-01,1966-01-01,0,34.251217,59.836958,Withdrawn,1.0,1958-09-01,2005-11-03,1996-05-01,1996-04-16,3.920683,41.586070,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.250888,NaN,NaN,NaN,NaN,1966-03-31,0.0,1.0,34.007543
47,47,453.0,10,1946,1968-01-01,Withdrawn,Non-MPT-monthly,11,2006,0,0,0,2017-12-31,2006-11-01,1946-10-01,2006-08-03,1968-01-01,1967-12-21,0,38.588061,59.839696,Withdrawn,1.0,1957-01-01,2012-10-03,1985-02-01,1985-02-15,21.500784,49.586234,NaT,0.0,0.0,1.0,0.0,1.0,1,-10.253462,NaN,NaN,NaN,NaN,1959-01-01,0.0,1.0,47.587562
48,48,1442.0,4,1940,1967-11-01,Withdrawn,Non-MPT-monthly,1,1999,0,0,0,2017-12-31,1999-01-01,1940-04-01,1998-10-03,1967-11-01,1967-10-26,0,30.921922,58.506335,Active,1.0,1970-03-01,2017-10-02,1995-09-01,1995-09-01,3.088359,28.591963,NaT,0.0,0.0,1.0,0.0,1.0,1,-29.914372,NaN,NaN,NaN,NaN,1952-01-01,0.0,1.0,46.755238
49,49,1740.0,5,1941,1968-01-01,Withdrawn,MPT-monthly,6,2001,0,0,1,2017-12-31,2001-06-01,1941-05-01,2001-03-03,1968-01-01,1967-12-21,0,33.169743,59.839696,Withdrawn,1.0,1962-02-01,2001-08-03,1995-05-01,1995-04-17,5.839956,39.083623,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.756073,NaN,NaN,NaN,NaN,1960-03-31,0.0,1.0,40.923496
50,50,349.0,1,1938,1968-01-01,Withdrawn,MPT-monthly,2,1999,0,0,1,2017-12-31,1999-02-01,1938-01-01,1998-11-03,1968-01-01,1967-12-21,0,30.839785,60.839032,Withdrawn,1.0,1957-07-01,2013-11-03,1980-05-01,1980-05-15,18.508251,41.342396,NaT,0.0,0.0,1.0,0.0,1.0,1,-19.496636,NaN,NaN,NaN,NaN,1964-01-01,0.0,1.0,34.839867
51,51,52.0,6,1942,1967-02-01,Withdrawn,Non-MPT-monthly,5,1999,0,0,0,2017-12-31,1999-05-01,1942-06-01,1999-01-31,1967-02-01,1967-02-10,0,31.997919,56.669199,Withdrawn,1.0,1945-09-01,2002-12-01,1967-03-01,1967-02-16,31.921258,53.416566,NaT,0.0,0.0,1.0,0.0,1.0,1,-3.252634,NaN,NaN,NaN,NaN,1961-01-01,0.0,1.0,38.081549
53,53,630.0,6,1944,1967-03-01,Withdrawn,Non-MPT-monthly,5,2000,0,0,0,2017-12-31,2000-05-01,1944-06-01,2000-02-01,1967-03-01,1967-02-16,0,32.923332,55.669863,Withdrawn,1.0,1959-09-01,2003-01-01,1991-01-01,1991-01-01,9.084375,40.419721,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.250142,NaN,NaN,NaN,NaN,1963-05-31,0.0,1.0,36.674264
55,55,351.0,9,1940,1968-01-01,Withdrawn,MPT-monthly,10,2000,0,0,1,2017-12-31,2000-10-01,1940-09-01,2000-07-03,1968-01-01,1967-12-21,0,32.504432,59.836958,Withdrawn,1.0,1956-10-01,2005-11-03,1980-08-01,1980-08-01,19.921011,43.754492,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-16.082466,NaN,NaN,NaN,NaN,1961-05-01,1.0,1.0,39.173973
56,56,487.0,5,1944,1968-01-01,Withdrawn,MPT-monthly,6,2004,0,0,1,2017-12-31,2004-06-01,1944-05-01,2004-03-03,1968-01-01,1967-12-21,0,36.170489,59.839696,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,17.840202,39.420385,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-20.419310,NaN,NaN,NaN,NaN,1966-03-28,1.0,1.0,37.933702
57,57,481.0,10,1940,1968-01-01,Withdrawn,MPT-monthly,11,2000,0,0,1,2017-12-31,2000-11-01,1940-10-01,2000-08-03,1968-01-01,1967-12-21,0,32.589307,59.839696,Withdrawn,1.0,1961-02-01,2015-01-31,1986-04-01,1986-03-17,14.341157,39.502522,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.337173,NaN,NaN,NaN,NaN,1961-01-01,1.0,1.0,39.587397
60,60,487.0,3,1943,1968-01-01,Withdrawn,MPT-monthly,4,2003,0,0,1,2017-12-31,2003-04-01,1943-03-01,2003-01-01,1968-01-01,1967-12-21,0,35.001403,59.839696,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,16.671116,38.251299,NaT,0.0,0.0,1.0,0.0,1.0,1,-21.588397,NaN,NaN,NaN,NaN,1964-02-18,1.0,1.0,38.870066
61,61,324.0,1,1943,1968-01-01,Withdrawn,MPT-monthly,2,2003,0,0,1,2017-12-31,2003-02-01,1943-01-01,2002-11-03,1968-01-01,1967-12-21,0,34.839867,59.839696,Withdrawn,1.0,1950-06-01,2010-04-02,1977-11-01,1977-10-17,25.005305,52.425443,NaT,0.0,0.0,1.0,0.0,1.0,1,-7.414252,NaN,NaN,NaN,NaN,1964-03-30,1.0,1.0,38.596275
62,62,832.0,1,1944,1968-01-01,Withdrawn,MPT-monthly,2,2004,0,0,1,2017-12-31,2004-02-01,1944-01-01,2003-11-03,1968-01-01,1967-12-21,0,35.839203,59.839696,Active,1.0,1970-03-01,2017-10-02,1992-05-01,1992-05-01,11.507423,33.676256,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-26.163439,NaN,NaN,NaN,NaN,1964-01-01,1.0,1.0,39.839285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,4960,3665.0,7,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.254536,Active,1.0,1983-11-01,2017-10-02,2010-01-01,2010-01-01,7.751015,33.919930,NaT,0.0,1.0,0.0,1.0,0.0,0,4.665394,NaN,NaN,NaN,NaN,2009-03-31,0.0,2.0,8.506677
4961,4961,2913.0,2,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.667132,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,1.0,0.0,0,15.419892,NaN,NaN,NaN,NaN,NaT,NaN,NaN,0.000000
4962,4962,2042.0,4,1994,2017-09-01,Active,MPT-monthly,8,2017,1,0,1,2017-12-31,2017-08-01,1994-04-01,2017-10-02,2017-09-01,2017-08-21,0,0.084875,23.504932,Active,1.0,1978-09-01,2017-10-02,2003-08-01,2003-07-21,14.171407,39.086360,NaT,0.0,1.0,0.0,0.0,1.0,0,15.581429,NaN,NaN,NaN,NaN,2016-06-30,0.0,2.0,1.256699
4963,4963,2913.0,4,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.503686,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,0.0,1.0,0,8.583338,NaN,NaN,NaN,NaN,2014-06-30,0.0,3.0,3.258109
4964,4964,2913.0,7,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.256446,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,1.0,0.0,0,15.830578,NaN,NaN,NaN,NaN,2017-06-21,0.0,2.0,0.282004
4965,4965,2151.0,9,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-09-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,24.085368,Active,1.0,1979-08-01,2017-10-02,2005-03-01,2009-10-19,12.588896,38.171899,NaT,0.0,0.0,1.0,0.0,1.0,0,14.086532,NaN,NaN,NaN,NaN,2017-04-30,0.0,2.0,0.424376
4966,4966,3481.0,1,1997,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1997-01-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,20.750597,Active,1.0,1983-11-01,2017-10-02,2008-11-01,2008-11-15,8.917363,33.919930,NaT,0.0,1.0,0.0,1.0,0.0,0,13.169333,NaN,NaN,NaN,NaN,NaT,NaN,NaN,0.000000
4967,4967,2492.0,8,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-08-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,24.170243,Active,1.0,1971-12-01,2017-10-02,2005-07-01,2005-07-01,12.254872,45.838039,NaT,0.0,1.0,0.0,0.0,1.0,0,21.667796,NaN,NaN,NaN,NaN,2013-06-30,0.0,2.0,4.257445
4968,4968,3185.0,2,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.667878,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817,NaT,0.0,1.0,0.0,1.0,0.0,0,8.503939,NaN,NaN,NaN,NaN,2016-07-10,0.0,2.0,1.229320
4969,4969,3189.0,10,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.002567,Active,1.0,1983-10-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.004805,NaT,0.0,1.0,0.0,1.0,0.0,0,9.002238,NaN,NaN,NaN,NaN,2017-06-30,0.0,3.0,0.257363
4970,4970,2550.0,5,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-05-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.422794,Active,1.0,1977-11-01,2017-10-02,2005-09-01,2005-09-15,12.085122,39.918684,NaT,0.0,1.0,0.0,1.0,0.0,0,16.495890,NaN,NaN,NaN,NaN,2016-05-15,1.0,2.0,1.382643
4972,4972,2913.0,11,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-11-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.918356,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,1.0,0.0,0,14.168669,NaN,NaN,NaN,NaN,2017-05-31,0.0,2.0,0.339500
4973,4973,1809.0,10,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,26.004641,Active,1.0,1976-11-01,2017-10-02,2000-06-01,2000-06-12,17.336427,40.918020,NaT,0.0,0.0,1.0,1.0,0.0,0,14.913379,NaN,NaN,NaN,NaN,2014-03-17,0.0,2.0,3.545590
4974,4974,1556.0,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.337919,Active,1.0,1966-08-01,2017-10-02,1996-10-01,1996-10-01,21.002485,51.171482,NaT,0.0,0.0,1.0,0.0,1.0,0,27.833563,NaN,NaN,NaN,NaN,2017-06-30,1.0,2.0,0.257363
4975,4975,2753.0,4,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.505596,Active,1.0,1982-04-01,2017-10-02,2006-08-01,2006-08-01,11.170661,35.505178,NaT,0.0,1.0,0.0,1.0,0.0,0,12.999582,NaN,NaN,NaN,NaN,2017-06-30,0.0,2.0,0.257363
4976,4976,2215.0,2,1995,2017-09-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1995-02-01,2017-10-02,2017-09-01,2017-09-05,0,0.084875,22.667132,Active,1.0,1979-06-01,2017-10-02,2004-08-01,2004-08-01,13.169333,38.338912,NaT,0.0,1.0,0.0,1.0,0.0,0,15.671780,NaN,NaN,NaN,NaN,2017-05-25,0.0,2.0,0.355928
4977,4977,741.0,11,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.918356,Active,1.0,1968-09-01,2017-10-02,1991-10-01,1991-10-01,26.004641,49.085197,NaT,0.0,1.0,0.0,1.0,0.0,0,25.166841,NaN,NaN,NaN,NaN,2017-06-30,0.0,2.0,0.257363
4978,4978,1469.0,11,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,22.919020,Active,1.0,1966-01-01,2017-10-02,1995-09-01,1995-09-01,22.086696,51.751918,NaT,0.0,1.0,0.0,1.0,0.0,0,28.832899,NaN,NaN,NaN,NaN,2017-05-27,0.0,2.0,0.350452
4979,4979,2633.0,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,23.337919,Active,1.0,1980-03-01,2017-10-02,2006-03-01,2006-03-01,11.589560,37.588725,NaT,0.0,1.0,0.0,1.0,0.0,0,14.250806,NaN,NaN,NaN,NaN,2015-12-23,0.0,2.0,1.776902
4980,4980,3196.0,12,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-12-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.836218,Active,1.0,1984-06-01,2017-10-02,2007-10-01,2007-10-08,10.004312,33.336756,NaT,0.0,0.0,1.0,0.0,1.0,0,9.500537,NaN,NaN,NaN,NaN,2017-05-21,0.0,3.0,0.366880
4981,4981,3185.0,7,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-07-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,26.256528,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817,NaT,0.0,1.0,0.0,1.0,0.0,0,7.915289,NaN,NaN,NaN,NaN,2016-06-30,0.0,3.0,1.256699
4982,4982,643.0,2,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-02-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,24.665804,Active,1.0,1966-07-01,2017-10-02,1991-02-01,1991-02-01,26.667214,51.256357,NaT,0.0,1.0,0.0,0.0,1.0,0,26.590553,NaN,NaN,NaN,NaN,2015-05-25,0.0,2.0,2.357338
4984,4984,2531.0,4,1997,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1997-04-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,20.504186,Active,1.0,1983-02-01,2017-10-02,2005-08-01,2005-08-01,12.169997,34.667379,NaT,0.0,1.0,0.0,1.0,0.0,0,14.163193,NaN,NaN,NaN,NaN,2017-06-26,1.0,2.0,0.268315
4985,4985,3541.0,7,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-07-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.255782,Active,1.0,1981-01-01,2017-10-02,2009-05-01,2009-05-01,8.421802,36.750926,NaT,0.0,0.0,1.0,1.0,0.0,0,13.495144,NaN,NaN,NaN,NaN,2017-05-31,0.0,2.0,0.339500
4986,4986,3299.0,9,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-09-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,27.086114,Active,1.0,1981-10-01,2017-10-02,2008-04-01,2008-04-01,9.503275,36.003477,NaT,0.0,0.0,1.0,1.0,0.0,0,8.917363,NaN,NaN,NaN,NaN,2016-08-01,0.0,3.0,1.169086
4988,4988,2511.0,8,1983,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1983-08-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,34.171817,Active,1.0,1982-10-01,2017-10-02,2005-08-01,2005-08-01,12.169997,35.004141,NaT,0.0,1.0,0.0,1.0,0.0,0,0.832324,NaN,NaN,NaN,NaN,2011-03-27,0.0,3.0,6.518957
4989,4989,1809.0,10,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-10-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,24.003231,Active,1.0,1976-11-01,2017-10-02,2000-06-01,2000-06-12,17.336427,40.918020,NaT,0.0,0.0,1.0,1.0,0.0,0,16.914789,NaN,NaN,NaN,NaN,2017-07-07,0.0,2.0,0.238198
4991,4991,2511.0,1,1985,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1985-01-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,32.750844,Active,1.0,1982-10-01,2017-10-02,2005-08-01,2005-08-01,12.169997,35.004141,NaT,0.0,1.0,0.0,1.0,0.0,0,2.253297,NaN,NaN,NaN,NaN,2008-08-31,0.0,2.0,9.087113
4993,4993,1328.0,7,1990,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1990-07-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738,27.255864,Active,1.0,1964-12-01,2017-10-02,1994-07-01,1994-07-15,23.255782,52.836129,NaT,0.0,0.0,1.0,1.0,0.0,0,25.580265,NaN,NaN,NaN,NaN,2017-08-24,1.0,3.0,0.106778
4995,4995,2064.0,11,1994,2017-10-01,Active,MPT-monthly,10,2017,0,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-09,0,0.002738,22.919020,Active,1.0,1978-01-01,2017-10-02,2004-01-01,2004-01-01,13.752507,39.751672,NaT,0.0,1.0,0.0,1.0,0.0,0,16.832652,NaN,NaN,NaN,NaN,2017-06-01,0.0,2.0,0.336763

## Absence

In [121]:
absence_type = pd.read_excel('group_type.xlsx', sheetname='Absence')

feature_absence = VAC.set_index('Attendance or Absence Type')
feature_absence['AbsenceTypeGroup'] = absence_type.set_index('Attendance or Absence Type')['AbsenseTypeGroup']
feature_absence.columns = feature_absence.columns.str.strip()

feature_absence = feature_absence.reset_index()
feature_absence=feature_absence.set_index('Serial Number')
feature_absence = feature_absence.join(MAIN[[ 'Action Date']])

Absence_type = feature_absence['Attendance or Absence Type'].unique().tolist()
Absence_type = [item for item in Absence_type if 'Sick' in item] + [item for item in Absence_type if 'Vacation' in item]
Absence_type

# keep only type : Vacation and Sick
feature_absence=feature_absence[feature_absence['Attendance or Absence Type'].isin(Absence_type)]
# filter out , advance leave request
feature_absence=feature_absence[feature_absence['Action Date'].dt.year < datetime.datetime.now().year]
feature_absence.head()

# cal date
feature_absence['CalDays'] = feature_absence['End date'] - feature_absence['Start date']
feature_absence['CalDays'] = feature_absence['CalDays']/np.timedelta64(1, 'D') + 1
feature_absence.dtypes

feature_absence=feature_absence.reset_index()
feature_absence.loc[feature_absence['Attendance or Absence Type'].str.contains('Half day'), 'CalDays'] = feature_absence['CalDays'] * 0.5
feature_absence.head()

absence = pd.DataFrame()
# better compare in 1 year
absence['countAbsence1y']=feature_absence[feature_absence['Action Date']- feature_absence['End date']  < datetime.timedelta(365,0,0) ].groupby('Serial Number')['CalDays'].count()
absence['Absence1y']=feature_absence[feature_absence['Action Date']- feature_absence['End date']  < datetime.timedelta(365,0,0) ].groupby('Serial Number')['CalDays'].sum()
absence['countAbsenceLast3m']=feature_absence[feature_absence['Action Date']- feature_absence['End date']  < datetime.timedelta(90,0,0) ].groupby('Serial Number')['Serial Number'].count()
absence['AbsenceLast3m']=feature_absence[feature_absence['Action Date']- feature_absence['End date']  < datetime.timedelta(90,0,0) ].groupby('Serial Number')['CalDays'].sum()
absence.head()

# fill NA
absence=absence.fillna(0)
absence.head()

MAIN = MAIN.join(absence)
MAIN.head(20)

,Serial Number,Supervisor Serial,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP,EduAllowFinishedIn1y,EduAllowYearDiff,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,Year After Grad,countAbsence1y,Absence1y,countAbsenceLast3m,AbsenceLast3m
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,17.339165,44.838703,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.000992,NaN,NaN,NaN,NaN,1953-01-01,0.0,1.0,45.586152,NaN,NaN,NaN,NaN
6,6,346.0,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.005887,52.425443,NaT,0.0,1.0,0.0,0.0,1.0,1,-7.414252,NaN,NaN,NaN,NaN,1953-01-01,0.0,1.0,46.752500,NaN,NaN,NaN,NaN
8,8,27.0,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0,0.0,1.0,0.0,1.0,0,0.082137,NaN,NaN,NaN,NaN,1961-01-01,0.0,1.0,37.753000,NaN,NaN,NaN,NaN
11,11,88.0,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,31.669370,58.421460,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.415498,NaN,NaN,NaN,NaN,1990-03-31,0.0,2.0,9.423876,NaN,NaN,NaN,NaN
13,13,714.0,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,13.837382,41.755820,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.081138,NaN,NaN,NaN,NaN,1962-01-01,0.0,1.0,43.502604,11.0,16.0,4.0,6.0
18,18,362.0,2,1938,1965-03-01,Withdrawn,MPT-monthly,3,1999,0,0,1,2017-12-31,1999-03-01,1938-02-01,1998-12-01,1965-03-01,1965-03-04,0,33.752918,60.830818,Withdrawn,1.0,1958-07-01,2017-05-03,1981-04-01,1981-04-01,17.667714,40.419721,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.411097,NaN,NaN,NaN,NaN,1961-01-01,1.0,1.0,37.914536,NaN,NaN,NaN,NaN
22,22,559.0,11,1940,1965-11-01,Withdrawn,MPT-monthly,12,2000,0,0,1,2017-12-31,2000-12-01,1940-11-01,2000-09-02,1965-11-01,1965-11-01,0,34.837129,59.836958,Active,1.0,1961-02-01,2017-10-02,1989-11-01,1989-11-06,10.836636,39.584660,NaT,0.0,0.0,1.0,1.0,0.0,1,-20.252298,NaN,NaN,NaN,NaN,1965-03-31,0.0,1.0,35.425779,NaN,NaN,NaN,NaN
28,28,475.0,7,1940,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1940-07-01,1999-12-02,1966-11-01,1966-10-19,0,33.084868,59.420796,Withdrawn,1.0,1948-05-01,2006-10-03,1970-01-01,1985-12-02,29.917110,51.587644,NaT,0.0,0.0,1.0,0.0,1.0,1,-7.833152,NaN,NaN,NaN,NaN,1975-05-31,0.0,2.0,24.507006,NaN,NaN,NaN,NaN
29,29,455.0,10,1941,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1941-10-01,1999-12-02,1966-11-01,1966-11-08,0,33.084868,58.169572,Active,1.0,1957-12-01,2017-10-02,1985-04-01,1985-03-19,14.669706,42.002231,NaT,0.0,0.0,1.0,0.0,1.0,1,-16.167341,NaN,NaN,NaN,NaN,1965-03-31,0.0,2.0,34.672854,NaN,NaN,NaN,NaN
30,30,707.0,6,1942,1966-03-01,Withdrawn,MPT-monthly,7,2002,0,0,1,2017-12-31,2002-07-01,1942-06-01,2002-04-02,1966-03-01,1966-03-15,0,36.088352,59.836958,Active,1.0,1961-06-01,2017-10-02,1991-08-01,1991-08-01,10.669624,40.835883,NaT,0.0,0.0,1.0,0.0,1.0,1,-19.001075,NaN,NaN,NaN,NaN,1961-03-31,0.0,1.0,41.005633,NaN,NaN,NaN,NaN
32,32,493.0,7,1944,1966-01-01,Withdrawn,MPT-monthly,6,2000,0,0,1,2017-12-31,2000-06-01,1944-07-01,2000-03-03,1966-01-01,1966-01-07,0,34.169079,55.672601,Active,1.0,1961-09-01,2017-10-02,1986-08-01,1986-07-16,13.588232,38.503186,NaT,0.0,1.0,0.0,1.0,0.0,1,-17.169415,NaN,NaN,NaN,NaN,1963-05-04,0.0,1.0,36.833063,NaN,NaN,NaN,NaN
33,33,346.0,7,1940,1967-03-01,Withdrawn,Non-MPT-monthly,8,2000,0,0,0,2017-12-31,2000-08-01,1940-07-01,2000-05-03,1967-03-01,1967-03-01,0,33.175219,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.589061,53.008618,NaT,0.0,1.0,0.0,1.0,0.0,1,-6.831078,NaN,NaN,NaN,NaN,1960-05-17,0.0,1.0,39.962491,NaN,NaN,NaN,NaN
34,34,687.0,5,1949,1967-02-01,Withdrawn,Non-MPT-monthly,2,2005,0,0,0,2017-12-31,2005-02-01,1949-05-01,2004-11-03,1967-02-01,1967-02-01,0,37.755738,55.511065,Withdrawn,1.0,1952-10-01,2012-08-03,1991-06-01,1991-06-01,13.426696,52.091419,NaT,0.0,0.0,1.0,0.0,1.0,1,-3.419646,NaN,NaN,NaN,1.0,1965-01-01,0.0,1.0,39.839285,2.0,26.0,2.0,26.0
35,35,122.0,11,1941,1967-03-01,Withdrawn,Non-MPT-monthly,8,2001,0,0,0,2017-12-31,2001-08-01,1941-11-01,2001-05-03,1967-03-01,1967-03-01,0,34.174555,59.502933,Withdrawn,1.0,1947-06-01,2001-09-02,1969-07-01,1969-06-24,31.839121,53.923079,NaT,0.0,1.0,0.0,0.0,1.0,1,-5.579854,NaN,NaN,NaN,NaN,1960-03-31,0.0,1.0,41.090508,NaN,NaN,NaN,NaN
36,36,109.0,9,1943,1967-05-01,Withdrawn,MPT-monthly,7,1999,0,0,1,2017-12-31,1999-07-01,1943-09-01,1999-04-02,1967-05-01,1967-04-25,0,31.921258,55.584988,Withdrawn,1.0,1943-02-01,2002-12-01,1968-12-01,1968-11-25,30.333272,56.165424,NaT,0.0,0.0,1.0,0.0,1.0,0,0.580436,NaN,NaN,NaN,NaN,1967-01-01,1.0,1.0,32.249807,NaN,NaN,NaN,NaN
39,39,342.0,4,1945,1967-04-01,Withdrawn,MPT-monthly,5,2000,0,1,1,2017-12-31,2000-05-01,1945-04-01,2000-02-01,1967-04-01,1967-04-03,0,32.838457,54.837539,Withdrawn,1.0,1954-06-01,2005-09-02,1979-05-01,1979-04-16,20.756073,45.671027,NaT,0.0,0.0,1.0,1.0,0.0,1,-9.166513,NaN,NaN,NaN,NaN,1967-03-22,0.0,1.0,32.865836,NaN,NaN,NaN,NaN
40,40,925.0,11,1947,1967-10-01,Withdrawn,MPT-monthly,12,2007,0,0,1,2017-12-31,2007-12-01,1947-11-01,2007-09-02,1967-10-01,1967-09-18,0,39.921422,59.836958,Withdrawn,1.0,1970-05-01,2008-08-03,1992-07-01,1992-07-01,15.170743,37.339576,NaT,0.0,0.0,1.0,0.0,1.0,1,-22.497382,NaN,NaN,NaN,NaN,1966-01-01,0.0,1.0,41.668207,15.0,21.0,3.0,2.5
46,46,1501.0,6,1940,1966-01-01,Withdrawn,MPT-monthly,7,2000,0,0,1,2017-12-31,2000-07-01,1940-06-01,2000-04-02,1966-01-01,1966-01-01,0,34.251217,59.836958,Withdrawn,1.0,1958-09-01,2005-11-03,1996-05-01,1996-04-16,3.920683,41.586070,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.250888,NaN,NaN,NaN,NaN,1966-03-31,0.0,1.0,34.007543,NaN,NaN,NaN,NaN
47,47,453.0,10,1946,1968-01-01,Withdrawn,Non-MPT-monthly,11,2006,0,0,0,2017-12-31,2006-11-01,1946-10-01,2006-08-03,1968-01-01,1967-12-21,0,38.588061,59.839696,Withdrawn,1.0,1957-01-01,2012-10-03,1985-02-01,1985-02-15,21.500784,49.586234,NaT,0.0,0.0,1.0,0.0,1.0,1,-10.253462,NaN,NaN,NaN,NaN,1959-01-01,0.0,1.0,47.587562,16.0,53.5,8.0,45.0
48,48,1442.0,4,1940,1967-11-01,Withdrawn,Non-MPT-monthly,1,1999,0,0,0,2017-12-31,1999-01-01,1940-04-01,1998-10-03,1967-11-01,1967-10-26,0,30.921922,58.506335,Active,1.0,1970-03-01,2017-10-02,1995-09-01,1995-09-01,3.088359,28.591963,NaT,0.0,0.0,1.0,0.0,1.0,1,-29.914372,NaN,NaN,NaN,NaN,1952-01-01,0.0,1.0,46.755238,NaN,NaN,NaN,NaN

In [122]:
MAIN.loc[MAIN['countAbsence1y'].isnull(), 'countAbsence1y'] = 0
MAIN.loc[MAIN['Absence1y'].isnull(), 'Absence1y'] = 0
MAIN.loc[MAIN['countAbsenceLast3m'].isnull(), 'countAbsenceLast3m'] = 0
MAIN.loc[MAIN['AbsenceLast3m'].isnull(), 'AbsenceLast3m'] = 0

## Vacation

In [123]:
VAC['Attendance or Absence Type'].unique()

array(['Vacation Leave', 'Birthday Leave', 'Vacation Leave (Half day)',
       'Sick <NC/FP 30 w/d>', 'Civic Duty Leave',
       "Marriage Employee's child", 'Death of brother/sister',
       'Sick <C/FP 30 w/d>', 'Personal Leave (P&NC)',
       'Death immediate Family Mb', 'Personal Leave (P&C)',
       'Paternity Leave', 'Dependent Care Leave', '1st year vacation',
       'Sick <Not count/Full pay>', 'Personal Leave (NP&NC)',
       'Activity of the Union', "Employee's Marriage",
       'Personal Leave (NP&C)', 'Priesthood Leave',
       'Personal Leave 0.5(NP&NC)', 'Extended Child Care Leave',
       'Maternity Leave', 'Maternity Leave (W/O Pay)',
       'Sick <Not count/Half pay>', 'Military Call Up Leave',
       'Sick (Count/Full pay>', 'Personal Leave 0.5 (NP&C)',
       'Sick (Count/Half pay>', 'Travel Leave', 'Educational Leave',
       'Sick <Not count/W/O pay>'], dtype=object)

In [124]:
#Set Vacation type

#no ordering --> Create one-hot instead

VAC_DependentCare = ["Dependent Care Leave",
"Extended Child Care Leave",]
VAC_Maternity = ["Maternity Leave",
"Maternity Leave (W/O Pay)",]
VAC_Others = ["Death immediate Family Mb",
"Death of brother/sister",
"Activity of the Union",
"Civic Duty Leave",
"Educational Leave",
"Employee's Marriage",
"Marriage Employee's child",
"Military Call Up Leave",
"Paternity Leave",
"Priesthood Leave",]
VAC_Personal = ["Personal Leave (NP&C)",
"Personal Leave (NP&NC)",
"Personal Leave (P&C)",
"Personal Leave (P&NC)",
"Personal Leave 0.5 (NP&C)",
"Personal Leave 0.5(NP&NC)",]
VAC_Sick = ["Sick (Count/Full pay>",
"Sick (Count/Half pay>",
"Sick <C/FP 30 w/d>",
"Sick <NC/FP 30 w/d>",
"Sick <Not count/Full pay>",
"Sick <Not count/Half pay>",
"Sick <Not count/W/O pay>",]
VAC_Vacation = ["1st year vacation",
"Birthday Leave",
"Travel Leave",
"Vacation Leave",
"Vacation Leave (Half day)",]

In [125]:
VAC.loc[:, 'VAC Type'] = ""
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_DependentCare), 'VAC Type'] = "VAC_DependentCare"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Maternity), 'VAC Type'] = "VAC_Maternity"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Others), 'VAC Type'] = "VAC_Others"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Personal), 'VAC Type'] = "VAC_Personal"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Sick), 'VAC Type'] = "VAC_Sick"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Vacation), 'VAC Type'] = "VAC_Vacation"

In [126]:
VAC.drop(['Attendance or Absence Type'], axis=1, inplace=True)
RenameCol = {
    '   Days':'Days',
}
VAC.rename(columns=RenameCol, inplace=True)

In [127]:
VAC = VAC.groupby(['Serial Number','VAC Type']).agg({'Start date':'min','End date':'max','Days':['count','sum']})

In [128]:
VAC.columns = VAC.columns.map(''.join)

In [129]:
RenameCol = {
    'Start datemin':'MIN Start date',
    'End datemax':'MAX End date',
    'Dayscount':'Taken (times)',
    'Dayssum':'Taken (days)',
}
VAC.rename(columns=RenameCol, inplace=True)

In [130]:
VAC.loc[:, 'AvgDaysEachTime'] = VAC['Taken (days)']/VAC['Taken (times)']

In [131]:
VAC.drop(['MIN Start date','MAX End date','Taken (times)','Taken (days)'], axis=1, inplace=True)

In [132]:
VAC.reset_index(inplace=True)
VAC = VAC.pivot(index='Serial Number', columns='VAC Type', values='AvgDaysEachTime')

In [133]:
VAC.reset_index(inplace=True)
VAC.set_index('Serial Number', inplace=True)
MAIN = MAIN.join(VAC)

In [134]:
VAC.columns

Index(['VAC_DependentCare', 'VAC_Maternity', 'VAC_Others', 'VAC_Personal',
       'VAC_Sick', 'VAC_Vacation'],
      dtype='object', name='VAC Type')

In [135]:
MAIN.loc[MAIN['VAC_DependentCare'].isnull(), 'VAC_DependentCare'] = 0
MAIN.loc[MAIN['VAC_Maternity'].isnull(), 'VAC_Maternity'] = 0
MAIN.loc[MAIN['VAC_Others'].isnull(), 'VAC_Others'] = 0
MAIN.loc[MAIN['VAC_Personal'].isnull(), 'VAC_Personal'] = 0
MAIN.loc[MAIN['VAC_Sick'].isnull(), 'VAC_Sick'] = 0
MAIN.loc[MAIN['VAC_Vacation'].isnull(), 'VAC_Vacation'] = 0

MAIN

,Serial Number,Supervisor Serial,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP,EduAllowFinishedIn1y,EduAllowYearDiff,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,Year After Grad,countAbsence1y,Absence1y,countAbsenceLast3m,AbsenceLast3m,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,17.339165,44.838703,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.000992,NaN,NaN,NaN,NaN,1953-01-01,0.0,1.0,45.586152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
6,6,346.0,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.005887,52.425443,NaT,0.0,1.0,0.0,0.0,1.0,1,-7.414252,NaN,NaN,NaN,NaN,1953-01-01,0.0,1.0,46.752500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
8,8,27.0,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0,0.0,1.0,0.0,1.0,0,0.082137,NaN,NaN,NaN,NaN,1961-01-01,0.0,1.0,37.753000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
11,11,88.0,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,31.669370,58.421460,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.415498,NaN,NaN,NaN,NaN,1990-03-31,0.0,2.0,9.423876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
13,13,714.0,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,13.837382,41.755820,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.081138,NaN,NaN,NaN,NaN,1962-01-01,0.0,1.0,43.502604,11.0,16.0,4.0,6.0,0.0,0.0,0.0,0.0,0.000000,1.454545
18,18,362.0,2,1938,1965-03-01,Withdrawn,MPT-monthly,3,1999,0,0,1,2017-12-31,1999-03-01,1938-02-01,1998-12-01,1965-03-01,1965-03-04,0,33.752918,60.830818,Withdrawn,1.0,1958-07-01,2017-05-03,1981-04-01,1981-04-01,17.667714,40.419721,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.411097,NaN,NaN,NaN,NaN,1961-01-01,1.0,1.0,37.914536,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
22,22,559.0,11,1940,1965-11-01,Withdrawn,MPT-monthly,12,2000,0,0,1,2017-12-31,2000-12-01,1940-11-01,2000-09-02,1965-11-01,1965-11-01,0,34.837129,59.836958,Active,1.0,1961-02-01,2017-10-02,1989-11-01,1989-11-06,10.836636,39.584660,NaT,0.0,0.0,1.0,1.0,0.0,1,-20.252298,NaN,NaN,NaN,NaN,1965-03-31,0.0,1.0,35.425779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
28,28,475.0,7,1940,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1940-07-01,1999-12-02,1966-11-01,1966-10-19,0,33.084868,59.420796,Withdrawn,1.0,1948-05-01,2006-10-03,1970-01-01,1985-12-02,29.917110,51.587644,NaT,0.0,0.0,1.0,0.0,1.0,1,-7.833152,NaN,NaN,NaN,NaN,1975-05-31,0.0,2.0,24.507006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
29,29,455.0,10,1941,1966-11-01,Withdrawn,MPT-monthly,3,2000,0,0,1,2017-12-31,2000-03-01,1941-10-01,1999-12-02,1966-11-01,1966-11-08,0,33.084868,58.169572,Active,1.0,1957-12-01,2017-10-02,1985-04-01,1985-03-19,14.669706,42.002231,NaT,0.0,0.0,1.0,0.0,1.0,1,-16.167341,NaN,NaN,NaN,NaN,1965-03-31,0.0,2.0,34.672854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
30,30,707.0,6,1942,1966-03-01,Withdrawn,MPT-monthly,7,2002,0,0,1,2017-12-31,2002-07-01,1942-06-01,2002-04-02,1966-03-01,1966-03-15,0,36.088352,59.836958,Active,1.0,1961-06-01,2017-10-02,1991-08-01,1991-08-01,10.669624,40.835883,NaT,0.0,0.0,1.0,0.0,1.0,1,-19.001075,NaN,NaN,NaN,NaN,1961-03-31,0.0,1.0,41.005633,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
32,32,493.0,7,1944,1966-01-01,Withdrawn,MPT-monthly,6,2000,0,0,1,2017-12-31,2000-06-01,1944-07-01,2000-03-03,1966-01-01,1966-01-07,0,34.169079,55.672601,Active,1.0,1961-09-01,2017-10-02,1986-08-01,1986-07-16,13.588232,38.503186,NaT,0.0,1.0,0.0,1.0,0.0,1,-17.169415,NaN,NaN,NaN,NaN,1963-05-04,0.0,1.0,36.833063,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
33,33,346.0,7,1940,1967-03-01,Withdrawn,Non-MPT-monthly,8,2000,0,0,0,2017-12-31,2000-08-01,1940-07-01,2000-05-03,1967-03-01,1967-03-01,0,33.175219,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.589061,53.008618,NaT,0.0,1.0,0.0,1.0,0.0,1,-6.831078,NaN,NaN,NaN,NaN,1960-05-17,0.0,1.0,39.962491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
34,34,687.0,5,1949,1967-02-01,Withdrawn,Non-MPT-monthly,2,2005,0,0,0,2017-12-31,2005-02-01,1949-05-01,2004-11-03,1967-02-01,1967-02-01,0,37.755738,55.511065,Withdrawn,1.0,1952-10-01,2012-08-03,1991-06-01,1991-06-01,13.426696,52.091419,NaT,0.0,0.0,1.0,0.0,1.0,1,-3.419646,NaN,NaN,NaN,1.0,1965-01-01,0.0,1.0,39.839285,2.0,26.0,2.0,26.0,0.0,0.0,0.0,0.0,0.000000,10.000000
35,35,122.0,11,1941,1967-03-01,Withdrawn,Non-MPT-monthly,8,2001,0,0,0,2017-12-31,2001-08-01,1941-11-01,2001-05-03,1967-03-01,1967-03-01,0,34.174555,59.502933,Withdrawn,1.0,1947-06-01,2001-09-02,1969-07-01,1969-06-24,31.839121,53.923079,NaT,0.0,1.0,0.0,0.0,1.0,1,-5.579854,NaN,NaN,NaN,NaN,1960-03-31,0.0,1.0,41.090508,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
36,36,109.0,9,1943,1967-05-01,Withdrawn,MPT-monthly,7,1999,0,0,1,2017-12-31,1999-07-01,1943-09-01,1999-04-02,1967-05-01,1967-04-25,0,31.921258,55.584988,Withdrawn,1.0,1943-02-01,2002-12-01,1968-12-01,1968-11-25,30.333272,56.165424,NaT,0.0,0.0,1.0,0.0,1.0,0,0.580436,NaN,NaN,NaN,NaN,1967-01-01,1.0,1.0,32.249807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
39,39,342.0,4,1945,1967-04-01,Withdrawn,MPT-monthly,5,2000,0,1,1,2017-12-31,2000-05-01,1945-04-01,2000-02-01,1967-04-01,1967-04-03,0,32.838457,54.837539,Withdrawn,1.0,1954-06-01,2005-09-02,1979-05-01,1979-04-16,20.756073,45.671027,NaT,0.0,0.0,1.0,1.0,0.0,1,-9.166513,NaN,NaN,NaN,NaN,1967-03-22,0.0,1.0,32.865836,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
40,40,925.0,11,1947,1967-10-01,Withdrawn,MPT-monthly,12,2007,0,0,1,2017-12-31,2007-12-01,1947-11-01,2007-09-02,1967-10-01,1967-09-18,0,39.921422,59.836958,Withdrawn,1.0,1970-05-01,2008-08-03,1992-07-01,1992-07-01,15.170743,37.339576,NaT,0.0,0.0,1.0,0.0,1.0,1,-22.497382,NaN,NaN,NaN,NaN,1966-01-01,0.0,1.0,41.668207,15.0,21.0,3.0,2.5,0.0,0.0,0.0,0.0,0.000000,1.250000
46,46,1501.0,6,1940,1966-01-01,Withdrawn,MPT-monthly,7,2000,0,0,1,2017-12-31,2000-07-01,1940-06-01,2000-04-02,1966-01-01,1966-01-01,0,34.251217,59.836958,Withdrawn,1.0,1958-09-01,2005-11-03,1996-05-01,1996-04-16,3.920683,41.586070,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.250888,NaN,NaN,NaN,NaN,1966-03-31,0.0,1.0,34.007543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
47,47,453.0,10,1946,1968-01-01,Withdrawn,Non-MPT-monthly,11,2006,0,0,0,2017-12-31,2006-11-01,1946-10-01,2006-08-03,1968-01-01,1967-12-21,0,38.588061,59.839696,Withdrawn,1.0,1957-01-01,2012-10-03,1985-02-01,1985-02-15,21.500784,49.586234,NaT,0.0,0.0,1.0,0.0,1.0,1,-10.253462,NaN,NaN,NaN,NaN,1959-01-01,0.0,1.0,47.587562,16.0,53.5,8.0,45.0,0.0,0.0,0.5,0.0,9.666667,0.774194
48,48,1442.0,4,1940,1967-11-01,Withdrawn,Non-MPT-monthly,1,1999,0,0,0,2017-12-31,1999-01-01,1940-04-01,1998-10-03,1967-11-01,1967-10-26,0,30.921922,58.506335,Active,1.0,1970-03-01,2017-10-02,1995-09-01,1995-09-01,3.088359,28.591963,NaT,0.0,0.0,1.0,0.0,1.0,1,-29.914372,NaN,NaN,NaN,NaN,1952-01-01,0.0,1.0,46.755238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
49,49,1740.0,5,1941,1968-01-01,Withdrawn,MPT-monthly,6,2001,0,0,1,2017-12-31,2001-06-01,1941-05-01,2001-03-03,1968-01-01,1967-12-21,0,33.169743,59.839696,Withdrawn,1.0,1962-02-01,2001-08-03,1995-05-01,1995-04-17,5.839956,39.083623,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.756073,NaN,NaN,NaN,NaN,1960-03-31,0.0,1.0,40.923496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
50,50,349.0,1,1938,1968-01-01,Withdrawn,MPT-monthly,2,1999,0,0,1,2017-12-31,1999-02-01,1938-01-01,1998-11-03,1968-01-01,1967-12-21,0,30.839785,60.839032,Withdrawn,1.0,1957-07-01,2013-11-03,1980-05-01,1980-05-15,18.508251,41.342396,NaT,0.0,0.0,1.0,0.0,1.0,1,-19.496636,NaN,NaN,NaN,NaN,1964-01-01,0.0,1.0,34.839867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
51,51,52.0,6,1942,1967-02-01,Withdrawn,Non-MPT-monthly,5,1999,0,0,0,2017-12-31,1999-05-01,1942-06-01,1999-01-31,1967-02-01,1967-02-10,0,31.997919,56.669199,Withdrawn,1.0,1945-09-01,2002-12-01,1967-03-01,1967-02-16,31.921258,53.416566,NaT,0.0,0.0,1.0,0.0,1.0,1,-3.252634,NaN,NaN,NaN,NaN,1961-01-01,0.0,1.0,38.081549,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
53,53,630.0,6,1944,1967-03-01,Withdrawn,Non-MPT-monthly,5,2000,0,0,0,2017-12-31,2000-05-01,1944-06-01,2000-02-01,1967-03-01,1967-02-16,0,32.923332,55.669863,Withdrawn,1.0,1959-09-01,2003-01-01,1991-01-01,1991-01-01,9.084375,40.419721,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.250142,NaN,NaN,NaN,NaN,1963-05-31,0.0,1.0,36.674264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
55,55,351.0,9,1940,1968-01-01,Withdrawn,MPT-monthly,10,2000,0,0,1,2017-12-31,2000-10-01,1940-09-01,2000-07-03,1968-01-01,1967-12-21,0,32.504432,59.836958,Withdrawn,1.0,1956-10-01,2005-11-03,1980-08-01,1980-08-01,19.921011,43.754492,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-16.082466,NaN,NaN,NaN,NaN,1961-05-01,1.0,1.0,39.173973,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
56,56,487.0,5,1944,1968-01-01,Withdrawn,MPT-monthly,6,2004,0,0,1,2017-12-31,2004-06-01,1944-05-01,2004-03-03,1968-01-01,1967-12-21,0,36.170489,59.839696,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,17.840202,39.420385,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-20.419310,NaN,NaN,NaN,NaN,1966-03-28,1.0,1.0,37.933702,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
57,57,481.0,10,1940,1968-01-01,Withdrawn,MPT-monthly,11,2000,0,0,1,2017-12-31,2000-11-01,1940-10-01,2000-08-03,1968-01-01,1967-12-21,0,32.589307,59.839696,Withdrawn,1.0,1961-02-01,2015-01-31,1986-04-01,1986-03-17,14.341157,39.502522,NaT,0.0,0.0,1.0,0.0,1.0,1,-20.337173,NaN,NaN,NaN,NaN,1961-01-01,1.0,1.0,39.587397,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
60,60,487.0,3,1943,1968-01-01,Withdrawn,MPT-monthly,4,2003,0,0,1,2017-12-31,2003-04-01,1943-03-01,2003-01-01,1968-01-01,1967-12-21,0,35.001403,59.839696,Withdrawn,1.0,1964-10-01,2015-07-03,1986-05-01,1986-05-02,16.671116,38.251299,NaT,0.0,0.0,1.0,0.0,1.0,1,-21.588397,NaN,NaN,NaN,NaN,1964-02-18,1.0,1.0,38.870066,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
61,61,324.0,1,1943,1968-01-01,Withdrawn,MPT-monthly,2,2003,0,0,1,2017-12-31,2003-02-01,1943-01-01,2002-11-03,1968-01-01,1967-12-21,0,34.839867,59.839696,Withdrawn,1.0,1950-06-01,2010-04-02,1977-11-01,1977-10-17,25.005305,52.425443,NaT,0.0,0.0,1.0,0.0,1.0,1,-7.414252,NaN,NaN,NaN,NaN,1964-03-30,1.0,1.0,38.596275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
62,62,832.0,1,1944,1968-01-01,Withdrawn,MPT-monthly,2,2004,0,0,1,2017-12-31,2004-02-01,1944-01-01,2003-11-03,1968-01-01,1967-12-21,0,35.839203,59.839696,Active,1.0,1970-03-01,2017-10-02,1992-05-01,1992-05-01,11.507423,33.676256,1967-12-21,1.0,0.0,1.0,0.0,1.0,1,-26.163439,NaN,NaN,NaN,NaN,1964-01-01,1.0,1.0,39.839285,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,4960,3665.0,7,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.254536,Active,1.0,1983-11-01,2017-10-02,2010-01-01,2010-01-01,7.751015,33.919930,NaT,0.0,1.0,0.0,1.0,0.0,0,4.665394,NaN,NaN,NaN,NaN,2009-03-31,0.0,2.0,8.506677,6.0,8.0,6.0,8.0,0.0,0.0,0.0,2.0,2.000000,1.400000
4961,4961,2913.0,2,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.667132,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,1.0,0.0,0,15.419892,NaN,NaN,NaN,NaN,NaT,NaN,NaN,0.000000,3.0,3.5,3.0,3.5,0.0,0.0,0.0,1.0,0.000000,1.250000
4962,4962,2042.0,4,1994,2017-09-01,Active,MPT-monthly,8,2017,1,0,1,2017-12-31,2017-08-01,1994-04-01,2017-10-02,2017-09-01,2017-08-21,0,0.084875,23.504932,Active,1.0,1978-09-01,2017-10-02,2003-08-01,2003-07-21,14.171407,39.086360,NaT,0.0,1.0,0.0,0.0,1.0,0,15.581429,NaN,NaN,NaN,NaN,2016-06-30,0.0,2.0,1.256699,4.0,7.5,4.0,7.5,0.0,0.0,0.0,0.0,0.000000,1.500000
4963,4963,2913.0,4,1988,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1988-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,29.503686,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,0.0,1.0,0,8.583338,NaN,NaN,NaN,NaN,2014-06-30,0.0,3.0,3.258109,2.0,3.0,2.0,3.0,0.0,0.0,0.0,0.0,0.000000,1.000000
4964,4964,2913.0,7,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-07-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.256446,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,1.0,0.0,0,15.830578,NaN,NaN,NaN,NaN,2017-06-21,0.0,2.0,0.282004,4.0,5.0,4.0,5.0,0.0,0.0,0.0,0.0,0.000000,0.750000
4965,4965,2151.0,9,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-09-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,24.085368,Active,1.0,1979-08-01,2017-10-02,2005-03-01,2009-10-19,12.588896,38.171899,NaT,0.0,0.0,1.0,0.0,1.0,0,14.086532,NaN,NaN,NaN,NaN,2017-04-30,0.0,2.0,0.424376,11.0,17.0,11.0,17.0,0.0,0.0,0.0,0.0,1.000000,1.500000
4966,4966,3481.0,1,1997,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1997-01-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,20.750597,Active,1.0,1983-11-01,2017-10-02,2008-11-01,2008-11-15,8.917363,33.919930,NaT,0.0,1.0,0.0,1.0,0.0,0,13.169333,NaN,NaN,NaN,NaN,NaT,NaN,NaN,0.000000,3.0,5.0,3.0,5.0,0.0,0.0,0.0,0.0,1.000000,3.000000
4967,4967,2492.0,8,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-08-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,24.170243,Active,1.0,1971-12-01,2017-10-02,2005-07-01,2005-07-01,12.254872,45.838039,NaT,0.0,1.0,0.0,0.0,1.0,0,21.667796,NaN,NaN,NaN,NaN,2013-06-30,0.0,2.0,4.257445,2.0,4.0,2.0,4.0,0.0,0.0,0.0,0.0,1.000000,3.000000
4968,4968,3185.0,2,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-02-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.667878,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817,NaT,0.0,1.0,0.0,1.0,0.0,0,8.503939,NaN,NaN,NaN,NaN,2016-07-10,0.0,2.0,1.229320,3.0,4.0,3.0,4.0,0.0,0.0,0.0,0.0,0.500000,1.500000
4969,4969,3189.0,10,1992,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1992-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,25.002567,Active,1.0,1983-10-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.004805,NaT,0.0,1.0,0.0,1.0,0.0,0,9.002238,NaN,NaN,NaN,NaN,2017-06-30,0.0,3.0,0.257363,1.0,3.0,1.0,3.0,0.0,0.0,0.0,0.0,0.000000,3.000000
4970,4970,2550.0,5,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-05-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.422794,Active,1.0,1977-11-01,2017-10-02,2005-09-01,2005-09-15,12.085122,39.918684,NaT,0.0,1.0,0.0,1.0,0.0,0,16.495890,NaN,NaN,NaN,NaN,2016-05-15,1.0,2.0,1.382643,2.0,3.0,2.0,3.0,0.0,0.0,0.0,0.0,0.000000,1.500000
4972,4972,2913.0,11,1993,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1993-11-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.918356,Active,1.0,1979-09-01,2017-10-02,2007-01-01,2007-01-01,10.751761,38.087024,NaT,0.0,1.0,0.0,1.0,0.0,0,14.168669,NaN,NaN,NaN,NaN,2017-05-31,0.0,2.0,0.339500,1.0,3.0,1.0,3.0,0.0,0.0,0.0,0.0,0.000000,3.000000
4973,4973,1809.0,10,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-10-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,26.004641,Active,1.0,1976-11-01,2017-10-02,2000-06-01,2000-06-12,17.336427,40.918020,NaT,0.0,0.0,1.0,1.0,0.0,0,14.913379,NaN,NaN,NaN,NaN,2014-03-17,0.0,2.0,3.545590,5.0,6.0,5.0,6.0,0.0,0.0,0.0,0.0,0.000000,1.200000
4974,4974,1556.0,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,23.337919,Active,1.0,1966-08-01,2017-10-02,1996-10-01,1996-10-01,21.002485,51.171482,NaT,0.0,0.0,1.0,0.0,1.0,0,27.833563,NaN,NaN,NaN,NaN,2017-06-30,1.0,2.0,0.257363,5.0,8.0,5.0,8.0,0.0,0.0,0.0,0.0,2.000000,1.000000
4975,4975,2753.0,4,1995,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1995-04-01,2017-10-02,2017-09-01,2017-09-01,0,0.084875,22.505596,Active,1.0,1982-04-01,2017-10-02,2006-08-01,2006-08-01,11.170661,35.505178,NaT,0.0,1.0,0.0,1.0,0.0,0,12.999582,NaN,NaN,NaN,NaN,2017-06-30,0.0,2.0,0.257363,4.0,6.0,4.0,6.0,0.0,0.0,0.0,0.0,1.000000,1.666667
4976,4976,2215.0,2,1995,2017-09-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1995-02-01,2017-10-02,2017-09-01,2017-09-05,0,0.084875,22.667132,Active,1.0,1979-06-01,2017-10-02,2004-08-01,2004-08-01,13.169333,38.338912,NaT,0.0,1.0,0.0,1.0,0.0,0,15.671780,NaN,NaN,NaN,NaN,2017-05-25,0.0,2.0,0.355928,4.0,10.0,4.0,10.0,0.0,0.0,0.0,0.0,0.000000,1.333333
4977,4977,741.0,11,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.918356,Active,1.0,1968-09-01,2017-10-02,1991-10-01,1991-10-01,26.004641,49.085197,NaT,0.0,1.0,0.0,1.0,0.0,0,25.166841,NaN,NaN,NaN,NaN,2017-06-30,0.0,2.0,0.257363,6.0,7.5,6.0,7.5,0.0,0.0,0.0,1.0,1.250000,1.333333
4978,4978,1469.0,11,1994,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1994-11-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,22.919020,Active,1.0,1966-01-01,2017-10-02,1995-09-01,1995-09-01,22.086696,51.751918,NaT,0.0,1.0,0.0,1.0,0.0,0,28.832899,NaN,NaN,NaN,NaN,2017-05-27,0.0,2.0,0.350452,2.0,6.0,2.0,6.0,0.0,0.0,0.0,1.0,0.500000,3.000000
4979,4979,2633.0,6,1994,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1994-06-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,23.337919,Active,1.0,1980-03-01,2017-10-02,2006-03-01,2006-03-01,11.589560,37.588725,NaT,0.0,1.0,0.0,1.0,0.0,0,14.250806,NaN,NaN,NaN,NaN,2015-12-23,0.0,2.0,1.776902,5.0,10.0,5.0,10.0,0.0,0.0,0.0,5.0,1.000000,2.666667
4980,4980,3196.0,12,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-12-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,23.836218,Active,1.0,1984-06-01,2017-10-02,2007-10-01,2007-10-08,10.004312,33.336756,NaT,0.0,0.0,1.0,0.0,1.0,0,9.500537,NaN,NaN,NaN,NaN,2017-05-21,0.0,3.0,0.366880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000
4981,4981,3185.0,7,1991,2017-09-01,Active,MPT-monthly,9,2017,1,0,1,2017-12-31,2017-09-01,1991-07-01,2017-10-02,2017-09-01,2017-09-15,0,0.084875,26.256528,Active,1.0,1983-08-01,2017-10-02,2007-10-01,2007-10-01,10.004312,34.171817,NaT,0.0,1.0,0.0,1.0,0.0,0,7.915289,NaN,NaN,NaN,NaN,2016-06-30,0.0,3.0,1.256699,5.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,0.750000,1.333333
4982,4982,643.0,2,1993,2017-10-01,Active,MPT-monthly,10,2017,1,0,1,2017-12-31,2017-10-01,1993-02-01,2017-10-02,2017-10-01,2017-10-01,0,0.002738,24.665804,Active,1.0,1966-07-01,2017-10-02,1991-02-01,1991-02-01,26.667214,51.256357,NaT,0.0,1.0,0.0,0.0,1.0,0,26.590553,NaN,NaN,NaN,NaN,2015-05-25,0.0,2.0,2.357338,10.0,10.5,10.0,10.5,0.0,0.0,0.0,0.0,1.500000,1.000000

In [136]:
#CLEANUP

In [137]:
MAIN.loc[MAIN['SUP Is MPT'].isnull(), 'SUP Is MPT'] = 0
MAIN.loc[MAIN['EDU Allowance'].isnull(), 'EDU Allowance'] = 0
MAIN.loc[MAIN['House Loan'].isnull(), 'House Loan'] = 0
MAIN.loc[MAIN['Is STEM'].isnull(), 'Is STEM'] = 0

In [138]:
MAIN.head()

,Serial Number,Supervisor Serial,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text_x,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Is MPT,Reference Date,temp Action Date,Birth Date,Action Date,Entry Date,Max Entry Date_x,Is Re-Entry,Exp at Action,Age at Action,Employment Status Text_y,SUP Is MPT,SUP Birth Date,SUP Action Date,SUP Entry Date,Max Entry Date_y,SUP Exp at Action,SUP Age at Action,Max Entry Date,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP,EduAllowFinishedIn1y,EduAllowYearDiff,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,Year After Grad,countAbsence1y,Absence1y,countAbsenceLast3m,AbsenceLast3m,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,364.0,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,0,0,1,2017-12-31,1998-11-01,1938-10-01,1998-08-03,1955-02-01,1955-02-01,0,43.502604,59.839696,Withdrawn,1.0,1953-10-01,2001-08-03,1981-04-01,1981-04-01,17.339165,44.838703,NaT,0.0,0.0,1.0,0.0,1.0,1,-15.000992,NaN,NaN,0.0,0.0,1953-01-01,0.0,1.0,45.586152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
6,6,346.0,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,0,0,0,2017-12-31,2000-01-01,1939-12-01,1999-10-03,1962-02-01,1962-01-22,0,37.668125,59.839696,Withdrawn,1.0,1947-05-01,2007-03-03,1979-10-01,1979-10-15,20.005887,52.425443,NaT,0.0,1.0,0.0,0.0,1.0,1,-7.414252,NaN,NaN,0.0,0.0,1953-01-01,0.0,1.0,46.752500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
8,8,27.0,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,0,0,1,2017-12-31,1999-01-01,1939-05-01,1998-10-03,1962-03-01,1962-03-15,0,36.592127,59.426272,Withdrawn,1.0,1939-04-01,1998-10-03,1966-09-01,1966-08-24,32.088270,59.508409,NaT,0.0,0.0,1.0,0.0,1.0,0,0.082137,NaN,NaN,0.0,0.0,1961-01-01,0.0,1.0,37.753000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
11,11,88.0,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,0,0,1,2017-12-31,1999-12-01,1939-11-01,1999-09-02,1962-04-01,1962-04-01,0,37.421713,59.836958,Withdrawn,1.0,1941-04-01,2001-01-31,1968-01-01,1967-12-21,31.669370,58.421460,NaT,0.0,0.0,1.0,0.0,1.0,1,-1.415498,NaN,NaN,0.0,0.0,1990-03-31,0.0,2.0,9.423876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
13,13,714.0,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,0,0,0,2017-12-31,2005-10-01,1945-09-01,2005-07-03,1964-12-01,1964-11-23,0,40.586733,59.836958,Active,1.0,1963-10-01,2017-10-02,1991-09-01,1991-08-21,13.837382,41.755820,NaT,0.0,0.0,1.0,0.0,1.0,1,-18.081138,NaN,NaN,0.0,0.0,1962-01-01,0.0,1.0,43.502604,11.0,16.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,1.454545

In [150]:
MAIN.columns

Index(['Serial Number', 'Supervisor Serial', 'Month of Birth', 'Year of Birth',
       'Tech Date of Entry', 'Employment Status Text_x',
       'Employee Sub Group Text', 'Personnel action - Month',
       'Personnel action - Year', 'BSC Indicator', 'Resigned', 'Is MPT',
       'Reference Date', 'temp Action Date', 'Birth Date', 'Action Date',
       'Entry Date', 'Max Entry Date_x', 'Is Re-Entry', 'Exp at Action',
       'Age at Action', 'Employment Status Text_y', 'SUP Is MPT',
       'SUP Birth Date', 'SUP Action Date', 'SUP Entry Date',
       'Max Entry Date_y', 'SUP Exp at Action', 'SUP Age at Action',
       'Max Entry Date', 'Is SUP', 'SUP Gender_F', 'SUP Gender_M', 'Gender_F',
       'Gender_M', 'SUP Older Than EMP', 'Age Diff SUPvsEMP',
       'EduAllowFinishedIn1y', 'EduAllowYearDiff', 'EDU Allowance',
       'House Loan', 'Last Grad Date', 'Is STEM', 'MAX Degree',
       'Year After Grad', 'countAbsence1y', 'Absence1y', 'countAbsenceLast3m',
       'AbsenceLast3m', 'VAC_DependentCare', 'VAC_Maternity', 'VAC_Others',
       'VAC_Personal', 'VAC_Sick', 'VAC_Vacation'],
      dtype='object')

In [140]:
DropCol = [
'Month of Birth',
'Year of Birth',
'Tech Date of Entry',
'Employee Sub Group Text',
'Personnel action - Month',
'Personnel action - Year',
'Reference Date',
'Action Date',
'Entry Date',
'Employment Status Text_x',
'temp Action Date',
 'Birth Date',
 'Employment Status Text_y',
 'SUP Action Date',
'SUP Entry Date',
'Last Grad Date',
'SUP Birth Date',
'Max Entry Date_x',
    'Max Entry Date_y',
    'Max Entry Date',
    'Serial Number'
]
MAIN.drop(DropCol, axis=1, inplace=True)

In [141]:
MAIN.columns

Index(['Supervisor Serial', 'BSC Indicator', 'Resigned', 'Is MPT',
       'Is Re-Entry', 'Exp at Action', 'Age at Action', 'SUP Is MPT',
       'SUP Exp at Action', 'SUP Age at Action', 'Is SUP', 'SUP Gender_F',
       'SUP Gender_M', 'Gender_F', 'Gender_M', 'SUP Older Than EMP',
       'Age Diff SUPvsEMP', 'EduAllowFinishedIn1y', 'EduAllowYearDiff',
       'EDU Allowance', 'House Loan', 'Is STEM', 'MAX Degree',
       'Year After Grad', 'countAbsence1y', 'Absence1y', 'countAbsenceLast3m',
       'AbsenceLast3m', 'VAC_DependentCare', 'VAC_Maternity', 'VAC_Others',
       'VAC_Personal', 'VAC_Sick', 'VAC_Vacation'],
      dtype='object')

In [142]:
MAIN.describe()

C:\Program Files\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Supervisor Serial,BSC Indicator,Resigned,Is MPT,Is Re-Entry,Exp at Action,Age at Action,SUP Is MPT,SUP Exp at Action,SUP Age at Action,Is SUP,SUP Gender_F,SUP Gender_M,Gender_F,Gender_M,SUP Older Than EMP,Age Diff SUPvsEMP,EduAllowFinishedIn1y,EduAllowYearDiff,EDU Allowance,House Loan,Is STEM,MAX Degree,Year After Grad,countAbsence1y,Absence1y,countAbsenceLast3m,AbsenceLast3m,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation
count,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,579.000000,579.000000,3517.000000,3517.000000,3517.000000,3473.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000,3517.000000
mean,1799.634632,0.499574,0.384419,0.830253,0.036110,9.529058,34.938678,0.998294,15.407207,41.270416,0.117145,0.590276,0.409724,0.598237,0.401763,0.220074,6.331738,0.367876,2.853195,0.164629,0.348308,0.247939,2.237835,10.783299,12.420245,18.541513,6.475690,10.166335,1.600140,2.029133,0.837084,1.058857,1.168207,1.258743
std,985.722843,0.500071,0.486527,0.375464,0.186591,9.512349,10.062407,0.041274,7.484693,7.140876,0.321639,0.491853,0.491853,0.490324,0.490324,0.414355,10.019786,0.482644,3.191826,0.370898,0.476502,0.431877,0.698820,11.793367,10.262467,19.832776,5.706392,13.896115,10.963054,7.460218,3.593034,6.138896,1.776476,0.875084
min,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.504186,0.000000,-7.080228,24.504268,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-30.587897,0.000000,-1.000000,0.000000,0.000000,0.000000,1.000000,-1.642744,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,841.000000,0.000000,0.000000,1.000000,0.000000,2.089023,26.836964,1.000000,10.004312,35.587315,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.832324,NaN,NaN,0.000000,0.000000,0.000000,NaN,2.754334,4.000000,6.500000,2.000000,2.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.025000
50%,1809.000000,0.000000,0.000000,1.000000,0.000000,6.086367,32.255282,1.000000,13.336345,39.918684,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,7.244502,NaN,NaN,0.000000,0.000000,0.000000,NaN,6.757154,11.000000,17.000000,6.000000,8.500000,0.000000,0.000000,0.000000,0.000000,1.000000,1.258427
75%,2500.000000,1.000000,1.000000,1.000000,0.000000,13.002320,40.751008,1.000000,21.424122,47.171400,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,13.002320,NaN,NaN,0.000000,1.000000,0.000000,NaN,15.507505,19.000000,27.000000,10.000000,14.500000,0.000000,0.000000,0.750000,1.000000,1.300000,1.564103
max,4788.000000,1.000000,1.000000,1.000000,1.000000,43.502604,60.839032,1.000000,37.345052,65.093739,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,35.918602,1.000000,14.000000,1.000000,1.000000,1.000000,4.000000,201.010980,90.000000,565.000000,54.000000,354.000000,127.000000,33.000000,103.000000,137.000000,28.500000,13.000000

In [143]:
MAIN.dtypes

Supervisor Serial       float64
BSC Indicator             int64
Resigned                  int64
Is MPT                    int64
Is Re-Entry               int64
Exp at Action           float64
Age at Action           float64
SUP Is MPT              float64
SUP Exp at Action       float64
SUP Age at Action       float64
Is SUP                  float64
SUP Gender_F            float64
SUP Gender_M            float64
Gender_F                float64
Gender_M                float64
SUP Older Than EMP        int64
Age Diff SUPvsEMP       float64
EduAllowFinishedIn1y    float64
EduAllowYearDiff        float64
EDU Allowance           float64
House Loan              float64
Is STEM                 float64
MAX Degree              float64
Year After Grad         float64
countAbsence1y          float64
Absence1y               float64
countAbsenceLast3m      float64
AbsenceLast3m           float64
VAC_DependentCare       float64
VAC_Maternity           float64
VAC_Others              float64
VAC_Personal            float64
VAC_Sick                float64
VAC_Vacation            float64
dtype: object

In [146]:
len(MAIN)

3517

In [145]:
MAIN.to_csv('PREPDATA.csv')