In [2545]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier

pd.options.display.max_columns = None

In [2546]:
#Import Main Table
MAIN_MASTER = pd.read_excel('Data Thailand HR.xlsx','TH workforce')

In [2547]:
#Import Entry Date
ENTRY_MASTER = pd.read_excel('Data Thailand HR.xlsx','Hiring date')

In [2548]:
#Import Ed Allowance
EDU_ALLOW_MASTER = pd.read_excel('Data Thailand HR.xlsx','Education allowance')

In [2549]:
#Import House Loan
HOUSE_MASTER = pd.read_excel('Data Thailand HR.xlsx','Housing Loan')

In [2550]:
#Import Education
EDU_MASTER = pd.read_excel('Data Thailand HR.xlsx','Education')

In [2551]:
#Import Vacation
VAC_MASTER = pd.read_excel('Data Thailand HR.xlsx','Absence')

*****************************************************************************************************

In [2552]:
MAIN = MAIN_MASTER.copy()
MAIN.set_index('Serial Number', inplace=True)

In [2553]:
ENTRY = ENTRY_MASTER.copy()
ENTRY.set_index('Serial Number', inplace=True)

In [2554]:
EDU_ALLOW = EDU_ALLOW_MASTER.copy()
EDU_ALLOW.set_index('Serial Number', inplace=True)

In [2555]:
HOUSE = HOUSE_MASTER.copy()
HOUSE.set_index('Serial Number', inplace=True)

In [2556]:
EDU = EDU_MASTER.copy()
#EDU.set_index('Serial Number', inplace=True)

In [2557]:
VAC = VAC_MASTER.copy()

In [2558]:
MAIN.head()

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status,Employment Status Text,Chief Designation,A&D Designated Position,Corp Hierarchy Division Code (L0),Corp Hierarchy Division Text (L0),Corp Hierarchy Function Code (L1),Corp Hierarchy Function Text (L1),Corp Hierarchy Sub-Function Code (L2),Corp Hierarchy Sub-Function Text (L2),Corp Hierarchy Department Code (L3),Corp Hierarchy Department Text (L3),Corp Hierarchy Sub-Department Code (L4),Corp Hierarchy Sub-Department Text (L4),Corp Hierarchy Section Code (L5),Corp Hierarchy Section Text (L5),Career Steward (IT9604),Career Steward Text (IT9604),Home Company Code (IT0001),Company Code Name,Employee Job Type Code,Employee Job Type Text,Personnel Area,Personnel Area Text,Personnel Subarea,Personnel Subarea Text,Employee Group Code,Employee Group Text,Employee Sub Group Code,Employee Sub Group Text,Organization Unit Code,Organization Unit Abbreviation,Organization Unit Name,Functional Organization (1F),Functional Organization (1F) Text,Functional Department (1D – IT9504),Functional Department (1D – IT9504) Text,Headcount Grouping,Headcount Grouping Text,Organization Unit 0,Organization Unit 0 Text,Organization Unit 1,Organization Unit 1 Text,Organization Unit 2,Organization Unit 2 Text,Organization Unit 3,Organization Unit 3 Text,Organization Unit 4,Organization Unit 4 Text,Organization Unit 5,Organization Unit 5 Text,Organization Unit 6,Organization Unit 6 Text,Organization Unit 7,Organization Unit 7 Text,Organization Unit 8,Organization Unit 8 Text,Organization Unit 9,Organization Unit 9 Text,Functional Organization Unit 0,Functional Organization Unit 0 Text,Functional Organization Unit 1,Functional Organization Unit 1 Text,Functional Organization Unit 2,Functional Organization Unit 2 Text,Functional Organization Unit 3,Functional Organization Unit 3 Text,Functional Organization Unit 4,Functional Organization Unit 4 Text,Functional Organization Unit 5,Functional Organization Unit 5 Text,Functional Organization Unit 6,Functional Organization Unit 6 Text,Functional Organization Unit 7,Functional Organization Unit 7 Text,Functional Organization Unit 8,Functional Organization Unit 8 Text,Functional Organization Unit 9,Functional Organization Unit 9 Text,Department (OU),Department (OU) Text,Home Cost Center (IT0001),Cost Center Description,Payroll Area,Payroll Area Text,Business Area,Business Area Text,Employee Main Address - City,Employee Main Address - Zip Code,District,Employee Main Address - Country,Work Schedule,Work Schedule Text,Personnel Action Type Code,Personnel Action Text,Personnel Action Reason Code,Personnel Action Reason Description,Personnel action - Month,Personnel action - Year,Previous Organization Unit,Previous Organization Abbreviation,Previous Organization Unit Text,Function before withdrawn,BSC Indicator,Outlier - Resigned
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THHT,HEAD OFFICE ETL,TH00,ETL HeadOffice,1,Regular,I0,MPT-monthly,80000295.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1511,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,NaN,NaN,NaN,NaN,NORM,normal,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,11,1998,0.0,NaN,NaN,NaN,NaN,NaN
2,NaN,M,3,1942,NaT,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THHT,HEAD OFFICE ETL,TH00,ETL HeadOffice,1,Regular,I0,MPT-monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1511,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,5,1998,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,M,6,1938,NaT,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THUB,UBOL,TH00,Ubol B/P,1,Regular,60,Non-MPT-monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2290,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,6,1998,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,F,1,1942,1961-12-01,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THHT,HEAD OFFICE ETL,TH00,ETL HeadOffice,1,Regular,I0,MPT-monthly,80000327.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2216,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,NaN,NaN,NaN,NaN,NORM,normal,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,0.0,NaN,NaN,NaN,NaN,NaN
5,NaN,M,2,1939,1961-02-01,0,Withdrawn,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735,ESSO (Thailand) PCL,NaN,NaN,THHT,HEAD OFFICE ETL,TH00,ETL HeadOffice,1,Regular,I0,MPT-monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2216,NaN,T1,MONTHLY+ADVANCE,NaN,NaN,BANGKOK,10700.0,BANGPLAD,TH,NORM,normal,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,80000739.0,THTRMDO8,SALES SUPPORT,NaN,NaN,NaN

In [2559]:
Columns = MAIN.columns.tolist()
Columns

['Supervisor Serial',
 'Gender',
 'Month of Birth',
 'Year of Birth',
 'Tech Date of Entry',
 'Employment Status',
 'Employment Status Text',
 'Chief Designation',
 'A&D Designated Position',
 'Corp Hierarchy Division Code (L0)',
 'Corp Hierarchy Division Text (L0)',
 'Corp Hierarchy Function Code (L1)',
 'Corp Hierarchy Function Text (L1)',
 'Corp Hierarchy Sub-Function Code (L2)',
 'Corp Hierarchy Sub-Function Text (L2)',
 'Corp Hierarchy Department Code (L3)',
 'Corp Hierarchy Department Text (L3)',
 'Corp Hierarchy Sub-Department Code (L4)',
 'Corp Hierarchy Sub-Department Text (L4)',
 'Corp Hierarchy Section Code (L5)',
 'Corp Hierarchy Section Text (L5)',
 'Career Steward (IT9604)',
 'Career Steward Text (IT9604)',
 'Home Company Code (IT0001)',
 'Company Code Name',
 'Employee Job Type Code',
 'Employee Job Type Text',
 'Personnel Area',
 'Personnel Area Text',
 'Personnel Subarea',
 'Personnel Subarea Text',
 'Employee Group Code',
 'Employee Group Text',
 'Employee Sub Group Code',
 'Employee Sub Group Text',
 'Organization Unit Code',
 'Organization Unit Abbreviation',
 'Organization Unit Name',
 'Functional Organization (1F)',
 'Functional Organization (1F) Text',
 'Functional Department (1D – IT9504)',
 'Functional Department (1D – IT9504) Text',
 'Headcount Grouping',
 'Headcount Grouping Text',
 'Organization Unit 0',
 'Organization Unit 0 Text',
 'Organization Unit 1',
 'Organization Unit 1 Text',
 'Organization Unit 2',
 'Organization Unit 2 Text',
 'Organization Unit 3',
 'Organization Unit 3 Text',
 'Organization Unit 4',
 'Organization Unit 4 Text',
 'Organization Unit 5',
 'Organization Unit 5 Text',
 'Organization Unit 6',
 'Organization Unit 6 Text',
 'Organization Unit 7',
 'Organization Unit 7 Text',
 'Organization Unit 8',
 'Organization Unit 8 Text',
 'Organization Unit 9',
 'Organization Unit 9 Text',
 'Functional Organization Unit 0',
 'Functional Organization Unit 0 Text',
 'Functional Organization Unit 1',
 'Functional Organization Unit 1 Text',
 'Functional Organization Unit 2',
 'Functional Organization Unit 2 Text',
 'Functional Organization Unit 3',
 'Functional Organization Unit 3 Text',
 'Functional Organization Unit 4',
 'Functional Organization Unit 4 Text',
 'Functional Organization Unit 5',
 'Functional Organization Unit 5 Text',
 'Functional Organization Unit 6',
 'Functional Organization Unit 6 Text',
 'Functional Organization Unit 7',
 'Functional Organization Unit 7 Text',
 'Functional Organization Unit 8',
 'Functional Organization Unit 8 Text',
 'Functional Organization Unit 9',
 'Functional Organization Unit 9 Text',
 'Department (OU)',
 'Department (OU) Text',
 'Home Cost Center (IT0001)',
 'Cost Center Description',
 'Payroll Area',
 'Payroll Area Text',
 'Business Area',
 'Business Area Text',
 'Employee Main Address - City',
 'Employee Main Address - Zip Code',
 'District',
 'Employee Main Address - Country',
 'Work Schedule',
 'Work Schedule Text',
 'Personnel Action Type Code',
 'Personnel Action Text',
 'Personnel Action Reason Code',
 'Personnel Action Reason Description',
 'Personnel action - Month',
 'Personnel action - Year',
 'Previous Organization Unit',
 'Previous Organization Abbreviation',
 'Previous Organization Unit Text',
 'Function before withdrawn',
 'BSC Indicator',
 'Outlier - Resigned']

In [2560]:
DropColumns = [
 'Employment Status',
 'Chief Designation',
 'A&D Designated Position',
 'Corp Hierarchy Division Code (L0)',
 'Corp Hierarchy Division Text (L0)',
 'Corp Hierarchy Function Code (L1)',
 'Corp Hierarchy Function Text (L1)',
 'Corp Hierarchy Sub-Function Code (L2)',
 'Corp Hierarchy Sub-Function Text (L2)',
 'Corp Hierarchy Department Code (L3)',
 'Corp Hierarchy Department Text (L3)',
 'Corp Hierarchy Sub-Department Code (L4)',
 'Corp Hierarchy Sub-Department Text (L4)',
 'Corp Hierarchy Section Code (L5)',
 'Corp Hierarchy Section Text (L5)',
 'Career Steward (IT9604)',
 'Career Steward Text (IT9604)',
 'Home Company Code (IT0001)',
 'Company Code Name',
 'Employee Job Type Code',
 'Employee Job Type Text',
 'Personnel Area',
 'Personnel Area Text',
 'Personnel Subarea',
 'Personnel Subarea Text',
 'Employee Group Code',
 'Employee Group Text',
 'Employee Sub Group Code',
 'Organization Unit Code',
 'Organization Unit Abbreviation',
 'Organization Unit Name',
 'Functional Organization (1F)',
 'Functional Organization (1F) Text',
 'Functional Department (1D – IT9504)',
 'Functional Department (1D – IT9504) Text',
 'Headcount Grouping',
 'Headcount Grouping Text',
 'Organization Unit 0',
 'Organization Unit 0 Text',
 'Organization Unit 1',
 'Organization Unit 1 Text',
 'Organization Unit 2',
 'Organization Unit 2 Text',
 'Organization Unit 3',
 'Organization Unit 3 Text',
 'Organization Unit 4',
 'Organization Unit 4 Text',
 'Organization Unit 5',
 'Organization Unit 5 Text',
 'Organization Unit 6',
 'Organization Unit 6 Text',
 'Organization Unit 7',
 'Organization Unit 7 Text',
 'Organization Unit 8',
 'Organization Unit 8 Text',
 'Organization Unit 9',
 'Organization Unit 9 Text',
 'Functional Organization Unit 0',
 'Functional Organization Unit 0 Text',
 'Functional Organization Unit 1',
 'Functional Organization Unit 1 Text',
 'Functional Organization Unit 2',
 'Functional Organization Unit 2 Text',
 'Functional Organization Unit 3',
 'Functional Organization Unit 3 Text',
 'Functional Organization Unit 4',
 'Functional Organization Unit 4 Text',
 'Functional Organization Unit 5',
 'Functional Organization Unit 5 Text',
 'Functional Organization Unit 6',
 'Functional Organization Unit 6 Text',
 'Functional Organization Unit 7',
 'Functional Organization Unit 7 Text',
 'Functional Organization Unit 8',
 'Functional Organization Unit 8 Text',
 'Functional Organization Unit 9',
 'Functional Organization Unit 9 Text',
 'Department (OU)',
 'Department (OU) Text',
 'Home Cost Center (IT0001)',
 'Cost Center Description',
 'Payroll Area',
 'Payroll Area Text',
 'Business Area',
 'Business Area Text',
 'Employee Main Address - City',
 'Employee Main Address - Zip Code',
 'District',
 'Employee Main Address - Country',
 'Work Schedule',
 'Work Schedule Text',
 'Previous Organization Unit',
 'Previous Organization Abbreviation',
 'Previous Organization Unit Text',
 'Function before withdrawn',
 'Outlier - Resigned']

MAIN.drop(DropColumns, axis=1, inplace=True)
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel Action Type Code,Personnel Action Text,Personnel Action Reason Code,Personnel Action Reason Description,Personnel action - Month,Personnel action - Year,BSC Indicator
Serial Number,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,11,1998,NaN
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,5,1998,NaN
3,NaN,M,6,1938,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,6,1998,NaN
4,NaN,F,1,1942,1961-12-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,2000,NaN
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,2,2000,NaN
8,27.0,M,5,1939,1962-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN
9,NaN,M,1,1937,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,1,1998,NaN
10,NaN,M,1,1943,1962-06-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,5,2000,NaN
11,88.0,M,11,1939,1962-04-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,12,1999,NaN
12,NaN,M,12,1945,1964-01-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,4,1999,NaN
13,714.0,M,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N1,Resignation-Non regretted,10,2005,NaN
14,NaN,M,9,1946,1964-10-01,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,2001,NaN
15,NaN,F,4,1944,1964-05-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN
16,NaN,M,10,1938,1964-09-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,11,1998,NaN
17,NaN,F,4,1943,1964-12-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
18,362.0,M,2,1938,1965-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,1999,NaN
19,NaN,F,12,1943,1965-06-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,10,1999,NaN
20,NaN,M,6,1941,1965-08-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,2,2000,NaN
21,NaN,M,9,1941,1965-10-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,10,2001,NaN
22,559.0,F,11,1940,1965-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,12,2000,NaN
23,NaN,M,9,1940,NaT,Withdrawn,Non-MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,7,1998,NaN
24,1557.0,M,4,1942,NaT,Withdrawn,Non-MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,7,1999,NaN
25,NaN,M,2,1944,NaT,Withdrawn,MPT-monthly,Y4,Withdrawn Chg. (Migration),ZZ,Migration Upload,8,1998,NaN
26,342.0,M,11,1940,1966-08-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,5,2000,NaN
27,NaN,M,4,1939,1966-09-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,1,1999,NaN
28,475.0,M,7,1940,1966-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
29,455.0,M,10,1941,1966-11-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,3,2000,NaN
30,707.0,M,6,1942,1966-03-01,Withdrawn,MPT-monthly,31,LEAVE THE COMPANY,N0,Resignation-Regretted,7,2002,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057.0,F,6,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5010,1957.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5011,1957.0,F,5,1995,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5012,3196.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5013,1957.0,F,2,1992,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5014,2492.0,M,2,1991,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5015,3185.0,F,6,1990,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5016,809.0,F,7,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5017,2454.0,F,6,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5018,1957.0,F,1,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5019,2216.0,F,7,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5020,3062.0,F,12,1993,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5021,2124.0,F,9,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5022,583.0,M,10,1994,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5023,2330.0,F,5,1995,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5024,3448.0,F,8,1991,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,NaN
5025,3594.0,F,7,1995,2017-11-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,11,2017,X
5026,NaN,F,9,1986,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5027,3245.0,F,4,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5028,891.0,M,4,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,NaN
5029,2913.0,F,8,1992,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5030,1809.0,F,5,1991,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5031,2635.0,F,7,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5032,1605.0,F,11,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5033,2492.0,F,9,1991,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5034,2492.0,F,1,1993,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5035,1605.0,M,9,1994,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5036,2124.0,M,1,1993,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5037,3185.0,F,5,1990,2017-12-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X
5038,820.0,F,12,1991,2018-01-01,Active,MPT-monthly,1,ENTRY IN THE COMPANY,0,Hiring-New position,12,2017,X

In [2561]:
MAIN.dtypes

Supervisor Serial                             float64
Gender                                         object
Month of Birth                                  int64
Year of Birth                                   int64
Tech Date of Entry                     datetime64[ns]
Employment Status Text                         object
Employee Sub Group Text                        object
Personnel Action Type Code                     object
Personnel Action Text                          object
Personnel Action Reason Code                   object
Personnel Action Reason Description            object
Personnel action - Month                        int64
Personnel action - Year                         int64
BSC Indicator                                  object
dtype: object

## Define target - Resigned

In [2562]:
MAIN.loc[:,'Action Reason'] = MAIN['Personnel Action Type Code'].astype('str')+'-'+ MAIN['Personnel Action Text'].astype('str')+' : '+ MAIN['Personnel Action Reason Code'].astype('str')+'-'+ MAIN['Personnel Action Reason Description'].astype('str')

In [2563]:
LeaveReason = MAIN['Action Reason'].unique()
sorted(LeaveReason)

['1-ENTRY IN THE COMPANY : 0-Hiring-New position',
 '1-ENTRY IN THE COMPANY : 1-Hiring-Existing position',
 '11-INTERNAL MOVE : 70-Change Company/New Pos.',
 '11-INTERNAL MOVE : 71-Change Company/Exist.Pos.',
 '11-INTERNAL MOVE : 72-Change Pers.Area/New Pos.',
 '11-INTERNAL MOVE : 73-Change Pers.Area/Exist. Pos.',
 '11-INTERNAL MOVE : 74-Change Organization/New Pos.',
 '11-INTERNAL MOVE : 75-Change Organization/Exist Pos.',
 '11-INTERNAL MOVE : 76-Change Position/New Pos.',
 '11-INTERNAL MOVE : 77-Change Position/Exist Pos.',
 '11-INTERNAL MOVE : 82-Reorganization',
 '11-INTERNAL MOVE : ZZ-Technical upload',
 '15-RETURN TO HOME COMPANY : C0-Return home Cy-new position',
 '15-RETURN TO HOME COMPANY : C1-Return home Cy- Existing pos.',
 '21-CHANGE EMPLOYEE SITUATION : E6-Temporary to Regular',
 '21-CHANGE EMPLOYEE SITUATION : G0-Promotion (change in position)',
 '21-CHANGE EMPLOYEE SITUATION : G1-Reclassification',
 '3-RE-ENTRY IN THE COMPANY : 0-Hiring-New position',
 '3-RE-ENTRY IN THE COMPANY : 1-Hiring-Existing position',
 '31-LEAVE THE COMPANY : 82-Reorganization',
 '31-LEAVE THE COMPANY : M0-Discharge',
 '31-LEAVE THE COMPANY : M1-Discharge during Prob.Period',
 '31-LEAVE THE COMPANY : M2-Discharge - Just Cause',
 '31-LEAVE THE COMPANY : N0-Resignation-Regretted',
 '31-LEAVE THE COMPANY : N1-Resignation-Non regretted',
 '31-LEAVE THE COMPANY : N2-Resignation during Prob.Period',
 '31-LEAVE THE COMPANY : N4-Resignation - Just Cause',
 '31-LEAVE THE COMPANY : O0-Redundancy Prg-Cy Initiate',
 '31-LEAVE THE COMPANY : P0-Disability',
 '31-LEAVE THE COMPANY : P1-Death',
 '31-LEAVE THE COMPANY : P6-Transfer to another Molga',
 '31-LEAVE THE COMPANY : TE-Leave',
 '35-RETIREMENT NOT PAID : Q0-Early retirement-EE Initiated',
 '35-RETIREMENT NOT PAID : Q3-Early retmt-Redundancy-Cy ini',
 '35-RETIREMENT NOT PAID : R1-Normal retirement-Cy Initiated',
 'Y3-Hiring Active (Migration) : ZZ-Migration Upload',
 'Y4-Withdrawn Chg. (Migration) : ZZ-Migration Upload']

In [2564]:
DEF_RESIGNED = [
    '31-LEAVE THE COMPANY : M0-Discharge',
    '31-LEAVE THE COMPANY : M1-Discharge during Prob.Period',
    '31-LEAVE THE COMPANY : N0-Resignation-Regretted',
    '31-LEAVE THE COMPANY : N1-Resignation-Non regretted',
    '31-LEAVE THE COMPANY : N2-Resignation during Prob.Period',
    '31-LEAVE THE COMPANY : N4-Resignation - Just Cause',
    '31-LEAVE THE COMPANY : TE-Leave',
    'Y4-Withdrawn Chg. (Migration) : ZZ-Migration Upload',
]

MAIN.loc[:, 'Resigned'] = 0
MAIN.loc[MAIN['Action Reason'].isin(DEF_RESIGNED), 'Resigned'] = 1

In [2565]:
DropColumns = [
'Personnel Action Type Code',
'Personnel Action Text',
'Personnel Action Reason Code',
'Personnel Action Reason Description',
'Action Reason']

MAIN.drop(DropColumns, axis=1, inplace=True)
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employment Status Text,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned
Serial Number,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,Withdrawn,MPT-monthly,11,1998,NaN,1
2,NaN,M,3,1942,NaT,Withdrawn,MPT-monthly,5,1998,NaN,1
3,NaN,M,6,1938,NaT,Withdrawn,Non-MPT-monthly,6,1998,NaN,1
4,NaN,F,1,1942,1961-12-01,Withdrawn,MPT-monthly,3,2000,NaN,1
5,NaN,M,2,1939,1961-02-01,Withdrawn,MPT-monthly,3,2000,NaN,1
6,346.0,M,12,1939,1962-02-01,Withdrawn,Non-MPT-monthly,1,2000,NaN,1
7,NaN,M,1,1939,1962-03-01,Withdrawn,MPT-monthly,2,2000,NaN,1
8,27.0,M,5,1939,1962-03-01,Withdrawn,MPT-monthly,1,1999,NaN,1
9,NaN,M,1,1937,NaT,Withdrawn,Non-MPT-monthly,1,1998,NaN,1
10,NaN,M,1,1943,1962-06-01,Withdrawn,MPT-monthly,5,2000,NaN,1
11,88.0,M,11,1939,1962-04-01,Withdrawn,MPT-monthly,12,1999,NaN,1
12,NaN,M,12,1945,1964-01-01,Withdrawn,MPT-monthly,4,1999,NaN,1
13,714.0,M,9,1945,1964-12-01,Withdrawn,Non-MPT-monthly,10,2005,NaN,1
14,NaN,M,9,1946,1964-10-01,Withdrawn,Non-MPT-monthly,1,2001,NaN,1
15,NaN,F,4,1944,1964-05-01,Withdrawn,MPT-monthly,1,1999,NaN,1
16,NaN,M,10,1938,1964-09-01,Withdrawn,MPT-monthly,11,1998,NaN,1
17,NaN,F,4,1943,1964-12-01,Withdrawn,MPT-monthly,3,2000,NaN,1
18,362.0,M,2,1938,1965-03-01,Withdrawn,MPT-monthly,3,1999,NaN,1
19,NaN,F,12,1943,1965-06-01,Withdrawn,MPT-monthly,10,1999,NaN,1
20,NaN,M,6,1941,1965-08-01,Withdrawn,MPT-monthly,2,2000,NaN,1
21,NaN,M,9,1941,1965-10-01,Withdrawn,MPT-monthly,10,2001,NaN,1
22,559.0,F,11,1940,1965-11-01,Withdrawn,MPT-monthly,12,2000,NaN,1
23,NaN,M,9,1940,NaT,Withdrawn,Non-MPT-monthly,7,1998,NaN,1
24,1557.0,M,4,1942,NaT,Withdrawn,Non-MPT-monthly,7,1999,NaN,1
25,NaN,M,2,1944,NaT,Withdrawn,MPT-monthly,8,1998,NaN,1
26,342.0,M,11,1940,1966-08-01,Withdrawn,MPT-monthly,5,2000,NaN,1
27,NaN,M,4,1939,1966-09-01,Withdrawn,MPT-monthly,1,1999,NaN,1
28,475.0,M,7,1940,1966-11-01,Withdrawn,MPT-monthly,3,2000,NaN,1
29,455.0,M,10,1941,1966-11-01,Withdrawn,MPT-monthly,3,2000,NaN,1
30,707.0,M,6,1942,1966-03-01,Withdrawn,MPT-monthly,7,2002,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
5009,2057.0,F,6,1993,2017-11-01,Active,MPT-monthly,11,2017,X,0
5010,1957.0,F,6,1994,2017-11-01,Active,MPT-monthly,11,2017,X,0
5011,1957.0,F,5,1995,2017-11-01,Active,MPT-monthly,11,2017,X,0
5012,3196.0,F,6,1994,2017-11-01,Active,MPT-monthly,11,2017,X,0
5013,1957.0,F,2,1992,2017-11-01,Active,MPT-monthly,11,2017,X,0
5014,2492.0,M,2,1991,2017-11-01,Active,MPT-monthly,11,2017,X,0
5015,3185.0,F,6,1990,2017-11-01,Active,MPT-monthly,11,2017,X,0
5016,809.0,F,7,1994,2017-11-01,Active,MPT-monthly,11,2017,X,0
5017,2454.0,F,6,1994,2017-11-01,Active,MPT-monthly,11,2017,X,0
5018,1957.0,F,1,1993,2017-11-01,Active,MPT-monthly,11,2017,X,0
5019,2216.0,F,7,1993,2017-11-01,Active,MPT-monthly,11,2017,X,0
5020,3062.0,F,12,1993,2017-11-01,Active,MPT-monthly,11,2017,X,0
5021,2124.0,F,9,1992,2017-12-01,Active,MPT-monthly,11,2017,X,0
5022,583.0,M,10,1994,2017-11-01,Active,MPT-monthly,11,2017,X,0
5023,2330.0,F,5,1995,2017-12-01,Active,MPT-monthly,12,2017,X,0
5024,3448.0,F,8,1991,2017-11-01,Active,MPT-monthly,11,2017,NaN,0
5025,3594.0,F,7,1995,2017-11-01,Active,MPT-monthly,11,2017,X,0
5026,NaN,F,9,1986,2017-12-01,Active,MPT-monthly,12,2017,X,0
5027,3245.0,F,4,1992,2017-12-01,Active,MPT-monthly,12,2017,X,0
5028,891.0,M,4,1992,2017-12-01,Active,MPT-monthly,12,2017,NaN,0
5029,2913.0,F,8,1992,2017-12-01,Active,MPT-monthly,12,2017,X,0
5030,1809.0,F,5,1991,2017-12-01,Active,MPT-monthly,12,2017,X,0
5031,2635.0,F,7,1994,2017-12-01,Active,MPT-monthly,12,2017,X,0
5032,1605.0,F,11,1994,2017-12-01,Active,MPT-monthly,12,2017,X,0
5033,2492.0,F,9,1991,2017-12-01,Active,MPT-monthly,12,2017,X,0
5034,2492.0,F,1,1993,2017-12-01,Active,MPT-monthly,12,2017,X,0
5035,1605.0,M,9,1994,2017-12-01,Active,MPT-monthly,12,2017,X,0
5036,2124.0,M,1,1993,2017-12-01,Active,MPT-monthly,12,2017,X,0
5037,3185.0,F,5,1990,2017-12-01,Active,MPT-monthly,12,2017,X,0
5038,820.0,F,12,1991,2018-01-01,Active,MPT-monthly,12,2017,X,0

# Placeholder to handle outlier

In [2566]:
RefDate = '2017-12-31'
MAIN['Reference Date'] = pd.to_datetime(RefDate)

In [2567]:
MAIN['Personnel action - Year'] = MAIN['Personnel action - Year'].astype('str')
MAIN['Personnel action - Month'] = MAIN['Personnel action - Month'].astype('str')
MAIN['Last Action Date'] = pd.to_datetime(MAIN['Personnel action - Year']+'-'+MAIN['Personnel action - Month']+'-01')

In [2568]:
MAIN['Year of Birth'] = MAIN['Year of Birth'].astype('str')
MAIN['Month of Birth'] = MAIN['Month of Birth'].astype('str')
MAIN['Birth Date'] = pd.to_datetime(MAIN['Year of Birth']+'-'+MAIN['Month of Birth']+'-01')

In [2569]:
MAIN['Action Date'] = MAIN['Reference Date'] 
MAIN.loc[MAIN['Employment Status Text'] == 'Withdrawn','Action Date'] = MAIN['Last Action Date']

DropColumns = [
'Employment Status Text']

MAIN.drop(DropColumns, axis=1, inplace=True)
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date
Serial Number,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,MPT-monthly,11,1998,NaN,1,2017-12-31,1998-11-01,1938-10-01,1998-11-01
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,NaN,1,2017-12-31,1998-05-01,1942-03-01,1998-05-01
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,NaN,1,2017-12-31,1998-06-01,1938-06-01,1998-06-01
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1942-01-01,2000-03-01
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1939-02-01,2000-03-01
6,346.0,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,NaN,1,2017-12-31,2000-01-01,1939-12-01,2000-01-01
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,NaN,1,2017-12-31,2000-02-01,1939-01-01,2000-02-01
8,27.0,M,5,1939,1962-03-01,MPT-monthly,1,1999,NaN,1,2017-12-31,1999-01-01,1939-05-01,1999-01-01
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,NaN,1,2017-12-31,1998-01-01,1937-01-01,1998-01-01
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,NaN,1,2017-12-31,2000-05-01,1943-01-01,2000-05-01
11,88.0,M,11,1939,1962-04-01,MPT-monthly,12,1999,NaN,1,2017-12-31,1999-12-01,1939-11-01,1999-12-01
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,NaN,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01
13,714.0,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,NaN,1,2017-12-31,2005-10-01,1945-09-01,2005-10-01
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,NaN,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,NaN,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,NaN,1,2017-12-31,1998-11-01,1938-10-01,1998-11-01
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1943-04-01,2000-03-01
18,362.0,M,2,1938,1965-03-01,MPT-monthly,3,1999,NaN,1,2017-12-31,1999-03-01,1938-02-01,1999-03-01
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,NaN,1,2017-12-31,1999-10-01,1943-12-01,1999-10-01
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,NaN,1,2017-12-31,2000-02-01,1941-06-01,2000-02-01
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,NaN,1,2017-12-31,2001-10-01,1941-09-01,2001-10-01
22,559.0,F,11,1940,1965-11-01,MPT-monthly,12,2000,NaN,1,2017-12-31,2000-12-01,1940-11-01,2000-12-01
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,NaN,1,2017-12-31,1998-07-01,1940-09-01,1998-07-01
24,1557.0,M,4,1942,NaT,Non-MPT-monthly,7,1999,NaN,1,2017-12-31,1999-07-01,1942-04-01,1999-07-01
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,NaN,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01
26,342.0,M,11,1940,1966-08-01,MPT-monthly,5,2000,NaN,1,2017-12-31,2000-05-01,1940-11-01,2000-05-01
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,NaN,1,2017-12-31,1999-01-01,1939-04-01,1999-01-01
28,475.0,M,7,1940,1966-11-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1940-07-01,2000-03-01
29,455.0,M,10,1941,1966-11-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1941-10-01,2000-03-01
30,707.0,M,6,1942,1966-03-01,MPT-monthly,7,2002,NaN,1,2017-12-31,2002-07-01,1942-06-01,2002-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057.0,F,6,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31
5010,1957.0,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31
5011,1957.0,F,5,1995,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31
5012,3196.0,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31
5013,1957.0,F,2,1992,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31
5014,2492.0,M,2,1991,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31
5015,3185.0,F,6,1990,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31
5016,809.0,F,7,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31
5017,2454.0,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31
5018,1957.0,F,1,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31
5019,2216.0,F,7,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31
5020,3062.0,F,12,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31
5021,2124.0,F,9,1992,2017-12-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31
5022,583.0,M,10,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31
5023,2330.0,F,5,1995,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31
5024,3448.0,F,8,1991,2017-11-01,MPT-monthly,11,2017,NaN,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31
5025,3594.0,F,7,1995,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31
5027,3245.0,F,4,1992,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31
5028,891.0,M,4,1992,2017-12-01,MPT-monthly,12,2017,NaN,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31
5029,2913.0,F,8,1992,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31
5030,1809.0,F,5,1991,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31
5031,2635.0,F,7,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31
5032,1605.0,F,11,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31
5033,2492.0,F,9,1991,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31
5034,2492.0,F,1,1993,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31
5035,1605.0,M,9,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31
5036,2124.0,M,1,1993,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31
5037,3185.0,F,5,1990,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31
5038,820.0,F,12,1991,2018-01-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31

In [2570]:
#Set Max Entry Date
ENTRY.drop(['End Date (0000)','Action type (0000)','Action type (0000) Text','Reason for Action text (0000)'], axis=1, inplace=True)
ENTRY = ENTRY.groupby('Serial Number').agg('max')
MAIN['Max Entry Date'] = ENTRY['Start Date (0000)']

In [2571]:
#Check multiple enrty
ENTRYCNT = ENTRY_MASTER.groupby('Serial Number').agg('count')
ENTRYCNT.drop(['End Date (0000)','Action type (0000)','Action type (0000) Text','Reason for Action text (0000)'], axis=1, inplace=True)
ENTRYCNT['Is Re-Entry'] = 0
ENTRYCNT.loc[ENTRYCNT['Start Date (0000)']> 1,'Is Re-Entry'] = 1
MAIN['Is Re-Entry'] = ENTRYCNT['Is Re-Entry']

In [2572]:
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date,Max Entry Date,Is Re-Entry
Serial Number,,,,,,,,,,,,,,,,
1,364.0,M,10,1938,1955-02-01,MPT-monthly,11,1998,NaN,1,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1955-02-01,0
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,NaN,1,2017-12-31,1998-05-01,1942-03-01,1998-05-01,1960-01-01,0
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,NaN,1,2017-12-31,1998-06-01,1938-06-01,1998-06-01,1958-10-15,0
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1942-01-01,2000-03-01,1961-12-01,0
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1939-02-01,2000-03-01,1961-02-10,0
6,346.0,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,NaN,1,2017-12-31,2000-01-01,1939-12-01,2000-01-01,1962-01-22,0
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,NaN,1,2017-12-31,2000-02-01,1939-01-01,2000-02-01,1962-03-01,0
8,27.0,M,5,1939,1962-03-01,MPT-monthly,1,1999,NaN,1,2017-12-31,1999-01-01,1939-05-01,1999-01-01,1962-03-15,0
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,NaN,1,2017-12-31,1998-01-01,1937-01-01,1998-01-01,1962-04-01,0
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,NaN,1,2017-12-31,2000-05-01,1943-01-01,2000-05-01,1962-06-05,0
11,88.0,M,11,1939,1962-04-01,MPT-monthly,12,1999,NaN,1,2017-12-31,1999-12-01,1939-11-01,1999-12-01,1962-04-01,0
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,NaN,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01,1964-01-06,0
13,714.0,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,NaN,1,2017-12-31,2005-10-01,1945-09-01,2005-10-01,1964-11-23,0
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,NaN,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01,1964-09-17,0
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,NaN,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01,1964-05-07,0
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,NaN,1,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1964-08-27,0
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1943-04-01,2000-03-01,1964-11-24,0
18,362.0,M,2,1938,1965-03-01,MPT-monthly,3,1999,NaN,1,2017-12-31,1999-03-01,1938-02-01,1999-03-01,1965-03-04,0
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,NaN,1,2017-12-31,1999-10-01,1943-12-01,1999-10-01,1965-06-01,0
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,NaN,1,2017-12-31,2000-02-01,1941-06-01,2000-02-01,1965-07-16,0
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,NaN,1,2017-12-31,2001-10-01,1941-09-01,2001-10-01,1965-10-01,0
22,559.0,F,11,1940,1965-11-01,MPT-monthly,12,2000,NaN,1,2017-12-31,2000-12-01,1940-11-01,2000-12-01,1965-11-01,0
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,NaN,1,2017-12-31,1998-07-01,1940-09-01,1998-07-01,1965-07-12,0
24,1557.0,M,4,1942,NaT,Non-MPT-monthly,7,1999,NaN,1,2017-12-31,1999-07-01,1942-04-01,1999-07-01,1966-01-11,0
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,NaN,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01,1966-07-18,0
26,342.0,M,11,1940,1966-08-01,MPT-monthly,5,2000,NaN,1,2017-12-31,2000-05-01,1940-11-01,2000-05-01,1966-07-18,0
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,NaN,1,2017-12-31,1999-01-01,1939-04-01,1999-01-01,1966-08-24,0
28,475.0,M,7,1940,1966-11-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1940-07-01,2000-03-01,1966-10-19,0
29,455.0,M,10,1941,1966-11-01,MPT-monthly,3,2000,NaN,1,2017-12-31,2000-03-01,1941-10-01,2000-03-01,1966-11-08,0
30,707.0,M,6,1942,1966-03-01,MPT-monthly,7,2002,NaN,1,2017-12-31,2002-07-01,1942-06-01,2002-07-01,1966-03-15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057.0,F,6,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31,2017-11-15,0
5010,1957.0,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0
5011,1957.0,F,5,1995,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31,2017-11-01,0
5012,3196.0,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0
5013,1957.0,F,2,1992,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31,2017-11-01,0
5014,2492.0,M,2,1991,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31,2017-11-15,0
5015,3185.0,F,6,1990,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31,2017-11-01,0
5016,809.0,F,7,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31,2017-11-15,0
5017,2454.0,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0
5018,1957.0,F,1,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31,2017-11-01,0
5019,2216.0,F,7,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31,2017-11-15,0
5020,3062.0,F,12,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31,2017-11-15,0
5021,2124.0,F,9,1992,2017-12-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31,2017-11-27,0
5022,583.0,M,10,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31,2017-11-15,0
5023,2330.0,F,5,1995,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31,2017-12-01,0
5024,3448.0,F,8,1991,2017-11-01,MPT-monthly,11,2017,NaN,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31,2017-11-15,0
5025,3594.0,F,7,1995,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31,2017-11-14,0
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31,2017-12-01,0
5027,3245.0,F,4,1992,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0
5028,891.0,M,4,1992,2017-12-01,MPT-monthly,12,2017,NaN,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0
5029,2913.0,F,8,1992,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31,2017-12-01,0
5030,1809.0,F,5,1991,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31,2017-12-01,0
5031,2635.0,F,7,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31,2017-12-04,0
5032,1605.0,F,11,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31,2017-12-07,0
5033,2492.0,F,9,1991,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31,2017-12-15,0
5034,2492.0,F,1,1993,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0
5035,1605.0,M,9,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31,2017-12-12,0
5036,2124.0,M,1,1993,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0
5037,3185.0,F,5,1990,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31,2017-12-15,0
5038,820.0,F,12,1991,2018-01-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31,2017-12-18,0

In [2573]:
MAIN['Entry Date'] = MAIN['Max Entry Date'] 
MAIN.loc[MAIN['Tech Date of Entry'] > MAIN['Max Entry Date'],'Entry Date'] = MAIN['Tech Date of Entry']

In [2574]:
#Experience
MAIN['Exp at Action'] = pd.to_numeric((MAIN['Action Date']-MAIN['Entry Date'])/(60*60*24*1000000000), downcast='float')/365

In [2575]:
#Resigned after age > 55 years
CutOffResignAge = 55
MAIN['Age at Action'] = pd.to_numeric((MAIN['Action Date']-MAIN['Birth Date'])/(60*60*24*1000000000), downcast='float')/365
MAIN.loc[(MAIN['Resigned'] == 1) & (MAIN['Age at Action']>CutOffResignAge),'Resigned'] = 0

In [2576]:
MAIN['Is MPT'] = 0
MAIN.loc[MAIN['Employee Sub Group Text']=='MPT-monthly','Is MPT'] = 1

In [2577]:
#Set Supervisor dataset
SUP = MAIN[MAIN.index.isin(MAIN['Supervisor Serial'])].copy()

In [2578]:
RenameCol = {
    'Supervisor Serial':'Manager Serial',
    'Gender':'SUP Gender',
    'Birth Date':'SUP Birth Date',
    'Action Date':'SUP Action Date',
    'Entry Date':'SUP Entry Date',
    'Exp at Action':'SUP Exp at Action',
    'Age at Action':'SUP Age at Action',
    'Is MPT':'SUP Is MPT',
}
SUP.rename(columns=RenameCol, inplace=True)

In [2579]:
SUP.loc[:, 'Supervisor Serial'] = SUP.index

In [2580]:
Columns = SUP.columns.tolist()
Columns

['Manager Serial',
 'SUP Gender',
 'Month of Birth',
 'Year of Birth',
 'Tech Date of Entry',
 'Employee Sub Group Text',
 'Personnel action - Month',
 'Personnel action - Year',
 'BSC Indicator',
 'Resigned',
 'Reference Date',
 'Last Action Date',
 'SUP Birth Date',
 'SUP Action Date',
 'Max Entry Date',
 'Is Re-Entry',
 'SUP Entry Date',
 'SUP Exp at Action',
 'SUP Age at Action',
 'SUP Is MPT',
 'Supervisor Serial']

In [2581]:
DropColumns = [
 'Month of Birth',
 'Year of Birth',
 'Tech Date of Entry',
 'Employee Sub Group Text',
 'Personnel action - Month',
 'Personnel action - Year',
 'BSC Indicator',
 'Resigned',
 'Reference Date',
 'Last Action Date',
 'Is Re-Entry',
 'Max Entry Date']

In [2582]:
SUP.drop(DropColumns, axis=1, inplace=True)

In [2583]:
SUP2 = MAIN[MAIN.index.isin(MAIN['Supervisor Serial'])].copy()
Columns = SUP2.columns.tolist()
Columns

['Supervisor Serial',
 'Gender',
 'Month of Birth',
 'Year of Birth',
 'Tech Date of Entry',
 'Employee Sub Group Text',
 'Personnel action - Month',
 'Personnel action - Year',
 'BSC Indicator',
 'Resigned',
 'Reference Date',
 'Last Action Date',
 'Birth Date',
 'Action Date',
 'Max Entry Date',
 'Is Re-Entry',
 'Entry Date',
 'Exp at Action',
 'Age at Action',
 'Is MPT']

In [2584]:
DropColumns = ['Supervisor Serial',
 'Gender',
 'Month of Birth',
 'Year of Birth',
 'Tech Date of Entry',
 'Employee Sub Group Text',                 
 'Personnel action - Month',
 'Personnel action - Year',
 'BSC Indicator',
 'Resigned',
 'Reference Date',
 'Last Action Date',
 'Birth Date',
 'Action Date',
 'Max Entry Date',
 'Is Re-Entry',
 'Entry Date',
 'Exp at Action',
 'Age at Action',
 'Is MPT']

In [2585]:
SUP2.drop(DropColumns, axis=1, inplace=True)

In [2586]:
SUP2['Is SUP'] = 1

In [2587]:
MAIN = MAIN.reset_index().merge(SUP, on='Supervisor Serial', how="left").set_index(MAIN.index.names)
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date,Max Entry Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364,M,10,1938,1955-02-01,MPT-monthly,11,1998,NaN,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1955-02-01,0,1955-02-01,43.778084,60.126026,1,NaN,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,NaN,0,2017-12-31,1998-05-01,1942-03-01,1998-05-01,1960-01-01,0,1960-01-01,38.356163,56.205479,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,NaN,0,2017-12-31,1998-06-01,1938-06-01,1998-06-01,1958-10-15,0,1958-10-15,39.654793,60.041096,0,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1942-01-01,2000-03-01,1961-12-01,0,1961-12-01,38.273972,58.202740,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1939-02-01,2000-03-01,1961-02-10,0,1961-02-10,39.079453,61.120548,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
6,346,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,NaN,0,2017-12-31,2000-01-01,1939-12-01,2000-01-01,1962-01-22,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,NaN,0,2017-12-31,2000-02-01,1939-01-01,2000-02-01,1962-03-01,0,1962-03-01,37.947945,61.126026,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
8,27,M,5,1939,1962-03-01,MPT-monthly,1,1999,NaN,0,2017-12-31,1999-01-01,1939-05-01,1999-01-01,1962-03-15,0,1962-03-15,36.824657,59.712330,1,NaN,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,NaN,0,2017-12-31,1998-01-01,1937-01-01,1998-01-01,1962-04-01,0,1962-04-01,35.778084,61.041096,0,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,NaN,0,2017-12-31,2000-05-01,1943-01-01,2000-05-01,1962-06-05,0,1962-06-05,37.931507,57.369862,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
11,88,M,11,1939,1962-04-01,MPT-monthly,12,1999,NaN,0,2017-12-31,1999-12-01,1939-11-01,1999-12-01,1962-04-01,0,1962-04-01,37.693150,60.123287,1,NaN,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,NaN,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01,1964-01-06,0,1964-01-06,35.257534,53.367123,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
13,714,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,NaN,0,2017-12-31,2005-10-01,1945-09-01,2005-10-01,1964-11-23,0,1964-12-01,40.860275,60.123287,0,NaN,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,NaN,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01,1964-09-17,0,1964-10-01,36.276711,54.372604,0,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,NaN,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01,1964-05-07,0,1964-05-07,34.676712,54.789040,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,NaN,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1964-08-27,0,1964-09-01,34.189041,60.126026,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1943-04-01,2000-03-01,1964-11-24,0,1964-12-01,35.271233,56.956165,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
18,362,M,2,1938,1965-03-01,MPT-monthly,3,1999,NaN,0,2017-12-31,1999-03-01,1938-02-01,1999-03-01,1965-03-04,0,1965-03-04,34.013699,61.117809,1,NaN,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,NaN,0,2017-12-31,1999-10-01,1943-12-01,1999-10-01,1965-06-01,0,1965-06-01,34.356163,55.871231,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,NaN,0,2017-12-31,2000-02-01,1941-06-01,2000-02-01,1965-07-16,0,1965-08-01,34.526028,58.709591,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,NaN,0,2017-12-31,2001-10-01,1941-09-01,2001-10-01,1965-10-01,0,1965-10-01,36.024658,60.123287,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
22,559,F,11,1940,1965-11-01,MPT-monthly,12,2000,NaN,0,2017-12-31,2000-12-01,1940-11-01,2000-12-01,1965-11-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,NaN,0,2017-12-31,1998-07-01,1940-09-01,1998-07-01,1965-07-12,0,1965-07-12,32.991779,57.868492,0,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
24,1557,M,4,1942,NaT,Non-MPT-monthly,7,1999,NaN,0,2017-12-31,1999-07-01,1942-04-01,1999-07-01,1966-01-11,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,NaN,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01,1966-07-18,0,1966-07-18,32.060272,54.534248,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
26,342,M,11,1940,1966-08-01,MPT-monthly,5,2000,NaN,0,2017-12-31,2000-05-01,1940-11-01,2000-05-01,1966-07-18,0,1966-08-01,33.772602,59.536987,1,NaN,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,NaN,0,2017-12-31,1999-01-01,1939-04-01,1999-01-01,1966-08-24,0,1966-09-01,32.356163,59.794521,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
28,475,M,7,1940,1966-11-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1940-07-01,2000-03-01,1966-10-19,0,1966-11-01,33.353424,59.706848,1,NaN,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0
29,455,M,10,1941,1966-11-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1941-10-01,2000-03-01,1966-11-08,0,1966-11-08,33.334248,58.454796,1,NaN,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0
30,707,M,6,1942,1966-03-01,MPT-monthly,7,2002,NaN,0,2017-12-31,2002-07-01,1942-06-01,2002-07-01,1966-03-15,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057,F,6,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0
5010,1957,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0
5011,1957,F,5,1995,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0
5012,3196,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0
5013,1957,F,2,1992,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0
5014,2492,M,2,1991,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0
5015,3185,F,6,1990,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0
5016,809,F,7,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0
5017,2454,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0
5018,1957,F,1,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0
5019,2216,F,7,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0
5020,3062,F,12,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0
5021,2124,F,9,1992,2017-12-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31,2017-11-27,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0
5022,583,M,10,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0
5023,2330,F,5,1995,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0
5024,3448,F,8,1991,2017-11-01,MPT-monthly,11,2017,NaN,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.435616,1,NaN,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0
5025,3594,F,7,1995,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31,2017-11-14,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,31.353424,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN
5027,3245,F,4,1992,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0
5028,891,M,4,1992,2017-12-01,MPT-monthly,12,2017,NaN,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0
5029,2913,F,8,1992,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0
5030,1809,F,5,1991,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,26.687672,1,NaN,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0
5031,2635,F,7,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31,2017-12-04,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0
5032,1605,F,11,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31,2017-12-07,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0
5033,2492,F,9,1991,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0
5034,2492,F,1,1993,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0
5035,1605,M,9,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31,2017-12-12,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0
5036,2124,M,1,1993,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0
5037,3185,F,5,1990,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0
5038,820,F,12,1991,2018-01-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31,2017-12-18,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0

In [2588]:
MAIN = MAIN.join(SUP2)
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date,Max Entry Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364,M,10,1938,1955-02-01,MPT-monthly,11,1998,NaN,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1955-02-01,0,1955-02-01,43.778084,60.126026,1,NaN,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,NaN
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,NaN,0,2017-12-31,1998-05-01,1942-03-01,1998-05-01,1960-01-01,0,1960-01-01,38.356163,56.205479,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,NaN,0,2017-12-31,1998-06-01,1938-06-01,1998-06-01,1958-10-15,0,1958-10-15,39.654793,60.041096,0,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1942-01-01,2000-03-01,1961-12-01,0,1961-12-01,38.273972,58.202740,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1939-02-01,2000-03-01,1961-02-10,0,1961-02-10,39.079453,61.120548,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
6,346,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,NaN,0,2017-12-31,2000-01-01,1939-12-01,2000-01-01,1962-01-22,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,NaN
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,NaN,0,2017-12-31,2000-02-01,1939-01-01,2000-02-01,1962-03-01,0,1962-03-01,37.947945,61.126026,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,1.0
8,27,M,5,1939,1962-03-01,MPT-monthly,1,1999,NaN,0,2017-12-31,1999-01-01,1939-05-01,1999-01-01,1962-03-15,0,1962-03-15,36.824657,59.712330,1,NaN,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,NaN
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,NaN,0,2017-12-31,1998-01-01,1937-01-01,1998-01-01,1962-04-01,0,1962-04-01,35.778084,61.041096,0,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,NaN,0,2017-12-31,2000-05-01,1943-01-01,2000-05-01,1962-06-05,0,1962-06-05,37.931507,57.369862,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
11,88,M,11,1939,1962-04-01,MPT-monthly,12,1999,NaN,0,2017-12-31,1999-12-01,1939-11-01,1999-12-01,1962-04-01,0,1962-04-01,37.693150,60.123287,1,NaN,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,NaN
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,NaN,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01,1964-01-06,0,1964-01-06,35.257534,53.367123,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
13,714,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,NaN,0,2017-12-31,2005-10-01,1945-09-01,2005-10-01,1964-11-23,0,1964-12-01,40.860275,60.123287,0,NaN,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,NaN
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,NaN,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01,1964-09-17,0,1964-10-01,36.276711,54.372604,0,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,NaN,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01,1964-05-07,0,1964-05-07,34.676712,54.789040,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,NaN,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1964-08-27,0,1964-09-01,34.189041,60.126026,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1943-04-01,2000-03-01,1964-11-24,0,1964-12-01,35.271233,56.956165,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
18,362,M,2,1938,1965-03-01,MPT-monthly,3,1999,NaN,0,2017-12-31,1999-03-01,1938-02-01,1999-03-01,1965-03-04,0,1965-03-04,34.013699,61.117809,1,NaN,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,NaN
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,NaN,0,2017-12-31,1999-10-01,1943-12-01,1999-10-01,1965-06-01,0,1965-06-01,34.356163,55.871231,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,NaN,0,2017-12-31,2000-02-01,1941-06-01,2000-02-01,1965-07-16,0,1965-08-01,34.526028,58.709591,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,NaN,0,2017-12-31,2001-10-01,1941-09-01,2001-10-01,1965-10-01,0,1965-10-01,36.024658,60.123287,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
22,559,F,11,1940,1965-11-01,MPT-monthly,12,2000,NaN,0,2017-12-31,2000-12-01,1940-11-01,2000-12-01,1965-11-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,NaN
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,NaN,0,2017-12-31,1998-07-01,1940-09-01,1998-07-01,1965-07-12,0,1965-07-12,32.991779,57.868492,0,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
24,1557,M,4,1942,NaT,Non-MPT-monthly,7,1999,NaN,0,2017-12-31,1999-07-01,1942-04-01,1999-07-01,1966-01-11,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,NaN
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,NaN,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01,1966-07-18,0,1966-07-18,32.060272,54.534248,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
26,342,M,11,1940,1966-08-01,MPT-monthly,5,2000,NaN,0,2017-12-31,2000-05-01,1940-11-01,2000-05-01,1966-07-18,0,1966-08-01,33.772602,59.536987,1,NaN,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,NaN,0,2017-12-31,1999-01-01,1939-04-01,1999-01-01,1966-08-24,0,1966-09-01,32.356163,59.794521,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,1.0
28,475,M,7,1940,1966-11-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1940-07-01,2000-03-01,1966-10-19,0,1966-11-01,33.353424,59.706848,1,NaN,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,NaN
29,455,M,10,1941,1966-11-01,MPT-monthly,3,2000,NaN,0,2017-12-31,2000-03-01,1941-10-01,2000-03-01,1966-11-08,0,1966-11-08,33.334248,58.454796,1,NaN,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,NaN
30,707,M,6,1942,1966-03-01,MPT-monthly,7,2002,NaN,0,2017-12-31,2002-07-01,1942-06-01,2002-07-01,1966-03-15,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057,F,6,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,NaN
5010,1957,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,NaN
5011,1957,F,5,1995,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,NaN
5012,3196,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,NaN
5013,1957,F,2,1992,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,NaN
5014,2492,M,2,1991,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,NaN
5015,3185,F,6,1990,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,NaN
5016,809,F,7,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,NaN
5017,2454,F,6,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,NaN
5018,1957,F,1,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,NaN
5019,2216,F,7,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,NaN
5020,3062,F,12,1993,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,NaN
5021,2124,F,9,1992,2017-12-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31,2017-11-27,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,NaN
5022,583,M,10,1994,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,NaN
5023,2330,F,5,1995,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,NaN
5024,3448,F,8,1991,2017-11-01,MPT-monthly,11,2017,NaN,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.435616,1,NaN,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,NaN
5025,3594,F,7,1995,2017-11-01,MPT-monthly,11,2017,X,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31,2017-11-14,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,NaN
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,31.353424,1,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN
5027,3245,F,4,1992,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,NaN
5028,891,M,4,1992,2017-12-01,MPT-monthly,12,2017,NaN,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,NaN
5029,2913,F,8,1992,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,NaN
5030,1809,F,5,1991,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,26.687672,1,NaN,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,NaN
5031,2635,F,7,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31,2017-12-04,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,NaN
5032,1605,F,11,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31,2017-12-07,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,NaN
5033,2492,F,9,1991,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,NaN
5034,2492,F,1,1993,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,NaN
5035,1605,M,9,1994,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31,2017-12-12,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,NaN
5036,2124,M,1,1993,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,NaN
5037,3185,F,5,1990,2017-12-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,NaN
5038,820,F,12,1991,2018-01-01,MPT-monthly,12,2017,X,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31,2017-12-18,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,NaN

In [2589]:
MAIN.loc[MAIN['BSC Indicator'].isnull(), 'BSC Indicator'] = 0
MAIN.loc[MAIN['BSC Indicator']=='X', 'BSC Indicator'] = 1
MAIN.loc[MAIN['Manager Serial'].isnull(), 'Manager Serial'] = 0
MAIN.loc[MAIN['SUP Gender'].isnull(), 'SUP Gender'] = 0
MAIN.loc[MAIN['SUP Exp at Action'].isnull(), 'SUP Exp at Action'] = 0
MAIN.loc[MAIN['SUP Age at Action'].isnull(), 'SUP Age at Action'] = 0
MAIN.loc[MAIN['Is SUP'].isnull(), 'Is SUP'] = 0
MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date,Max Entry Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364,M,10,1938,1955-02-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1955-02-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,0,0,2017-12-31,1998-05-01,1942-03-01,1998-05-01,1960-01-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,0,0,2017-12-31,1998-06-01,1938-06-01,1998-06-01,1958-10-15,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1942-01-01,2000-03-01,1961-12-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1939-02-01,2000-03-01,1961-02-10,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
6,346,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,0,0,2017-12-31,2000-01-01,1939-12-01,2000-01-01,1962-01-22,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1939-01-01,2000-02-01,1962-03-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0
8,27,M,5,1939,1962-03-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-05-01,1999-01-01,1962-03-15,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,0,0,2017-12-31,1998-01-01,1937-01-01,1998-01-01,1962-04-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1943-01-01,2000-05-01,1962-06-05,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
11,88,M,11,1939,1962-04-01,MPT-monthly,12,1999,0,0,2017-12-31,1999-12-01,1939-11-01,1999-12-01,1962-04-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,0,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01,1964-01-06,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
13,714,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,0,0,2017-12-31,2005-10-01,1945-09-01,2005-10-01,1964-11-23,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,0,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01,1964-09-17,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,0,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01,1964-05-07,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1964-08-27,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1943-04-01,2000-03-01,1964-11-24,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
18,362,M,2,1938,1965-03-01,MPT-monthly,3,1999,0,0,2017-12-31,1999-03-01,1938-02-01,1999-03-01,1965-03-04,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,0,0,2017-12-31,1999-10-01,1943-12-01,1999-10-01,1965-06-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1941-06-01,2000-02-01,1965-07-16,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,0,0,2017-12-31,2001-10-01,1941-09-01,2001-10-01,1965-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
22,559,F,11,1940,1965-11-01,MPT-monthly,12,2000,0,0,2017-12-31,2000-12-01,1940-11-01,2000-12-01,1965-11-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,0,0,2017-12-31,1998-07-01,1940-09-01,1998-07-01,1965-07-12,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
24,1557,M,4,1942,NaT,Non-MPT-monthly,7,1999,0,0,2017-12-31,1999-07-01,1942-04-01,1999-07-01,1966-01-11,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,0,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01,1966-07-18,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
26,342,M,11,1940,1966-08-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1940-11-01,2000-05-01,1966-07-18,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-04-01,1999-01-01,1966-08-24,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0
28,475,M,7,1940,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1940-07-01,2000-03-01,1966-10-19,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0
29,455,M,10,1941,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1941-10-01,2000-03-01,1966-11-08,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0
30,707,M,6,1942,1966-03-01,MPT-monthly,7,2002,0,0,2017-12-31,2002-07-01,1942-06-01,2002-07-01,1966-03-15,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057,F,6,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0
5010,1957,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0
5011,1957,F,5,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0
5012,3196,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0
5013,1957,F,2,1992,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0
5014,2492,M,2,1991,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0
5015,3185,F,6,1990,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0
5016,809,F,7,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0
5017,2454,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0
5018,1957,F,1,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0
5019,2216,F,7,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0
5020,3062,F,12,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0
5021,2124,F,9,1992,2017-12-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31,2017-11-27,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0
5022,583,M,10,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0
5023,2330,F,5,1995,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0
5024,3448,F,8,1991,2017-11-01,MPT-monthly,11,2017,0,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0
5025,3594,F,7,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31,2017-11-14,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0
5027,3245,F,4,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0
5028,891,M,4,1992,2017-12-01,MPT-monthly,12,2017,0,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0
5029,2913,F,8,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0
5030,1809,F,5,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0
5031,2635,F,7,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31,2017-12-04,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0
5032,1605,F,11,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31,2017-12-07,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0
5033,2492,F,9,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0
5034,2492,F,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0
5035,1605,M,9,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31,2017-12-12,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0
5036,2124,M,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0
5037,3185,F,5,1990,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0
5038,820,F,12,1991,2018-01-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31,2017-12-18,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0

In [2590]:
#Set Ed Allowance Flag
EDU_ALLOW.drop(['End date','Start date'], axis=1, inplace=True)
EDU_ALLOW = EDU_ALLOW.groupby('Serial Number').agg('count')
EDU_ALLOW['EDU Allowance'] = 1
EDU_ALLOW.drop(['Wage Type'], axis=1, inplace=True)
MAIN = MAIN.join(EDU_ALLOW)

MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date,Max Entry Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364,M,10,1938,1955-02-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1955-02-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,NaN
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,0,0,2017-12-31,1998-05-01,1942-03-01,1998-05-01,1960-01-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,0,0,2017-12-31,1998-06-01,1938-06-01,1998-06-01,1958-10-15,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1942-01-01,2000-03-01,1961-12-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1939-02-01,2000-03-01,1961-02-10,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
6,346,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,0,0,2017-12-31,2000-01-01,1939-12-01,2000-01-01,1962-01-22,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,NaN
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1939-01-01,2000-02-01,1962-03-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN
8,27,M,5,1939,1962-03-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-05-01,1999-01-01,1962-03-15,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,NaN
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,0,0,2017-12-31,1998-01-01,1937-01-01,1998-01-01,1962-04-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1943-01-01,2000-05-01,1962-06-05,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
11,88,M,11,1939,1962-04-01,MPT-monthly,12,1999,0,0,2017-12-31,1999-12-01,1939-11-01,1999-12-01,1962-04-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,NaN
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,0,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01,1964-01-06,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
13,714,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,0,0,2017-12-31,2005-10-01,1945-09-01,2005-10-01,1964-11-23,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,NaN
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,0,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01,1964-09-17,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,0,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01,1964-05-07,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1964-08-27,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1943-04-01,2000-03-01,1964-11-24,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
18,362,M,2,1938,1965-03-01,MPT-monthly,3,1999,0,0,2017-12-31,1999-03-01,1938-02-01,1999-03-01,1965-03-04,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,NaN
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,0,0,2017-12-31,1999-10-01,1943-12-01,1999-10-01,1965-06-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1941-06-01,2000-02-01,1965-07-16,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,0,0,2017-12-31,2001-10-01,1941-09-01,2001-10-01,1965-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
22,559,F,11,1940,1965-11-01,MPT-monthly,12,2000,0,0,2017-12-31,2000-12-01,1940-11-01,2000-12-01,1965-11-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,NaN
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,0,0,2017-12-31,1998-07-01,1940-09-01,1998-07-01,1965-07-12,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
24,1557,M,4,1942,NaT,Non-MPT-monthly,7,1999,0,0,2017-12-31,1999-07-01,1942-04-01,1999-07-01,1966-01-11,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,NaN
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,0,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01,1966-07-18,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
26,342,M,11,1940,1966-08-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1940-11-01,2000-05-01,1966-07-18,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,NaN
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-04-01,1999-01-01,1966-08-24,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN
28,475,M,7,1940,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1940-07-01,2000-03-01,1966-10-19,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,NaN
29,455,M,10,1941,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1941-10-01,2000-03-01,1966-11-08,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,NaN
30,707,M,6,1942,1966-03-01,MPT-monthly,7,2002,0,0,2017-12-31,2002-07-01,1942-06-01,2002-07-01,1966-03-15,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057,F,6,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,NaN
5010,1957,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN
5011,1957,F,5,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN
5012,3196,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,NaN
5013,1957,F,2,1992,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN
5014,2492,M,2,1991,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN
5015,3185,F,6,1990,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN
5016,809,F,7,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,NaN
5017,2454,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,NaN
5018,1957,F,1,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN
5019,2216,F,7,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,NaN
5020,3062,F,12,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,NaN
5021,2124,F,9,1992,2017-12-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31,2017-11-27,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN
5022,583,M,10,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,NaN
5023,2330,F,5,1995,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,NaN
5024,3448,F,8,1991,2017-11-01,MPT-monthly,11,2017,0,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,NaN
5025,3594,F,7,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31,2017-11-14,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,NaN
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN
5027,3245,F,4,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,NaN
5028,891,M,4,1992,2017-12-01,MPT-monthly,12,2017,0,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,NaN
5029,2913,F,8,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,NaN
5030,1809,F,5,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,NaN
5031,2635,F,7,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31,2017-12-04,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,NaN
5032,1605,F,11,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31,2017-12-07,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN
5033,2492,F,9,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN
5034,2492,F,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN
5035,1605,M,9,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31,2017-12-12,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN
5036,2124,M,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN
5037,3185,F,5,1990,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN
5038,820,F,12,1991,2018-01-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31,2017-12-18,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,NaN

In [2591]:
#Set House Loan Flag
HOUSE.drop(['End date','Start date'], axis=1, inplace=True)
HOUSE = HOUSE.groupby('Serial Number').agg('count')
HOUSE['House Loan'] = 1
HOUSE.drop(['Wage Type'], axis=1, inplace=True)
MAIN = MAIN.join(HOUSE)

MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date,Max Entry Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364,M,10,1938,1955-02-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1955-02-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,NaN,NaN
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,0,0,2017-12-31,1998-05-01,1942-03-01,1998-05-01,1960-01-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,0,0,2017-12-31,1998-06-01,1938-06-01,1998-06-01,1958-10-15,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1942-01-01,2000-03-01,1961-12-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1939-02-01,2000-03-01,1961-02-10,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
6,346,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,0,0,2017-12-31,2000-01-01,1939-12-01,2000-01-01,1962-01-22,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,NaN,NaN
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1939-01-01,2000-02-01,1962-03-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN
8,27,M,5,1939,1962-03-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-05-01,1999-01-01,1962-03-15,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,NaN,NaN
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,0,0,2017-12-31,1998-01-01,1937-01-01,1998-01-01,1962-04-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1943-01-01,2000-05-01,1962-06-05,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
11,88,M,11,1939,1962-04-01,MPT-monthly,12,1999,0,0,2017-12-31,1999-12-01,1939-11-01,1999-12-01,1962-04-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,NaN,NaN
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,0,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01,1964-01-06,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
13,714,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,0,0,2017-12-31,2005-10-01,1945-09-01,2005-10-01,1964-11-23,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,NaN,NaN
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,0,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01,1964-09-17,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,0,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01,1964-05-07,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1964-08-27,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1943-04-01,2000-03-01,1964-11-24,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
18,362,M,2,1938,1965-03-01,MPT-monthly,3,1999,0,0,2017-12-31,1999-03-01,1938-02-01,1999-03-01,1965-03-04,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,NaN,NaN
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,0,0,2017-12-31,1999-10-01,1943-12-01,1999-10-01,1965-06-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1941-06-01,2000-02-01,1965-07-16,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,0,0,2017-12-31,2001-10-01,1941-09-01,2001-10-01,1965-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
22,559,F,11,1940,1965-11-01,MPT-monthly,12,2000,0,0,2017-12-31,2000-12-01,1940-11-01,2000-12-01,1965-11-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,NaN,NaN
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,0,0,2017-12-31,1998-07-01,1940-09-01,1998-07-01,1965-07-12,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
24,1557,M,4,1942,NaT,Non-MPT-monthly,7,1999,0,0,2017-12-31,1999-07-01,1942-04-01,1999-07-01,1966-01-11,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,NaN,NaN
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,0,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01,1966-07-18,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
26,342,M,11,1940,1966-08-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1940-11-01,2000-05-01,1966-07-18,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,NaN,NaN
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-04-01,1999-01-01,1966-08-24,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN
28,475,M,7,1940,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1940-07-01,2000-03-01,1966-10-19,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,NaN,NaN
29,455,M,10,1941,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1941-10-01,2000-03-01,1966-11-08,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,NaN,NaN
30,707,M,6,1942,1966-03-01,MPT-monthly,7,2002,0,0,2017-12-31,2002-07-01,1942-06-01,2002-07-01,1966-03-15,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057,F,6,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,NaN,NaN
5010,1957,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN
5011,1957,F,5,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN
5012,3196,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,NaN,NaN
5013,1957,F,2,1992,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN
5014,2492,M,2,1991,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN
5015,3185,F,6,1990,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN
5016,809,F,7,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,NaN,NaN
5017,2454,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,NaN,NaN
5018,1957,F,1,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN
5019,2216,F,7,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,NaN,NaN
5020,3062,F,12,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,NaN,NaN
5021,2124,F,9,1992,2017-12-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31,2017-11-27,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN
5022,583,M,10,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,NaN,NaN
5023,2330,F,5,1995,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,NaN,NaN
5024,3448,F,8,1991,2017-11-01,MPT-monthly,11,2017,0,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,NaN,NaN
5025,3594,F,7,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31,2017-11-14,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,NaN,NaN
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN
5027,3245,F,4,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,NaN,NaN
5028,891,M,4,1992,2017-12-01,MPT-monthly,12,2017,0,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,NaN,NaN
5029,2913,F,8,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,NaN,NaN
5030,1809,F,5,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,NaN,NaN
5031,2635,F,7,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31,2017-12-04,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,NaN,NaN
5032,1605,F,11,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31,2017-12-07,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN
5033,2492,F,9,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN
5034,2492,F,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN
5035,1605,M,9,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31,2017-12-12,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN
5036,2124,M,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN
5037,3185,F,5,1990,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN
5038,820,F,12,1991,2018-01-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31,2017-12-18,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,NaN,NaN

In [2592]:
#Set Education records
RenameCol = {
    'Start Date (0022)':'Start Date',
    'End Date (0022)':'End Date',
}
EDU.rename(columns=RenameCol, inplace=True)

EDU['Start Date'] = EDU['Start Date'].astype('datetime64[ns]')
EDU['End Date'] = EDU['End Date'].astype('datetime64[ns]')

In [2593]:
EDU['Branch of study 1 Text'].unique()

array(['General Studies', 'No Specific Branch', 'Education',
       'Business-Economics', 'Other Degree', 'Finance/Accounting',
       'Business-Admin', 'Engineer-Mechanical', 'Law',
       'Computer Science/IT', 'Mathematics', 'Engineer-Chemical',
       'Technical-Other', 'Metallurgy', 'Engineer-Electrical', 'Chemistry',
       'Engineer-Manufacturing Tech', 'Engineer-Civil', 'Science-Other',
       'Social Studies', 'Languages', 'Business-Marketing',
       'Engineer-Petroleum', 'Marine', 'Medical', 'Engineer-Industrial',
       'Engineer-Other', 'Geophysics', 'Physics', 'Architecture',
       'Psychology', 'Human Resources', 'Business-Other',
       'Engineer-Mechanical Tech', 'Engineer-Chemical Tech', 'Aeronautics',
       'Engineer-Environmental', 'Engineer-Computer', 'Engineer-Safety',
       'Science-Polymers', 'Logistics & Supply', 'Public Affairs',
       'Engineer-Petroleum Tech', 'Business-Commercial', 'Biology',
       'Engineer-Electronics Tech', 'Engineer-Materials',
       'Engineer-Tech Other', 'Chemistry-Analytical',
       'Engineer-Geological', 'Engineer-Civil Tech', 'Engineer-Aerospace',
       'Engineer-Electrical Tech', 'Liberal Arts', 'Science-Materials',
       'No Degree'], dtype=object)

In [2594]:
#Set Is STEM column
NONSTEM = ['Aeronautics',
            'Business-Admin',
            'Business-Commercial',
            'Business-Economics',
            'Business-Marketing',
            'Business-Other',
            'Education',
            'Finance/Accounting',
            'General Studies',
            'Human Resources',
            'Languages',
            'Law',
            'Liberal Arts',
            'Logistics & Supply',
            'Marine',
            'Metallurgy',
            'No Degree',
            'No Specific Branch',
            'Other Degree',
            'Psychology',
            'Public Affairs',
            'Social Studies',
            'Technical-Other']

EDU.loc[:, 'Is STEM'] = 1
EDU.loc[EDU['Branch of study 1 Text'].isin(NONSTEM), 'Is STEM'] = 0

In [2595]:
EDU['Certificate Text'].unique()

array(['Attended', 'Bachelor', 'Diploma', 'Masters', 'MBA', 'Pre-Diploma',
       'MD', 'PhD', 'Other Degree', 'Post-Graduate', 'Attended No Degree',
       'Attended Jr.College', 'Post-Doctorate',
       'Attended High Tech. School', 'Attended High School'], dtype=object)

In [2596]:
#Set Degree column
B_DEGREE = ['Bachelor']
M_DEGREE = ['Masters','MBA','MD','Post-Graduate']
PHD_DEGREE = ['PhD','Post-Doctorate']

EDU.loc[:, 'Degree'] = 1
EDU.loc[EDU['Certificate Text'].isin(B_DEGREE), 'Degree'] = 2
EDU.loc[EDU['Certificate Text'].isin(M_DEGREE), 'Degree'] = 3
EDU.loc[EDU['Certificate Text'].isin(PHD_DEGREE), 'Degree'] = 4

In [2597]:
EDU.drop(['Institute/location','Branch of study 1 Text','Certificate Text'], axis=1, inplace=True)

In [2598]:
#Correct End Date for Bachelor
EDU.loc[(EDU['End Date']> pd.to_datetime(RefDate)) & (EDU['Degree']==2), 'End Date'] = EDU['Start Date'].apply(lambda x: x + pd.DateOffset(years=4))

#Correct End Date for Master
EDU.loc[(EDU['End Date']> pd.to_datetime(RefDate)) & (EDU['Degree']==3), 'End Date'] = EDU['Start Date'].apply(lambda x: x + pd.DateOffset(years=2))

In [2599]:
EDU = EDU.groupby('Serial Number').agg('max')

In [2600]:
EDU.drop(['Start Date'], axis=1, inplace=True)
RenameCol = {
    'End Date':'Last Grad Date',
    'Degree':'MAX Degree',
}
EDU.rename(columns=RenameCol, inplace=True)
MAIN = MAIN.join(EDU)

MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date,Max Entry Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364,M,10,1938,1955-02-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1955-02-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,0,0,2017-12-31,1998-05-01,1942-03-01,1998-05-01,1960-01-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1957-01-01,0.0,1.0
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,0,0,2017-12-31,1998-06-01,1938-06-01,1998-06-01,1958-10-15,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1952-01-01,0.0,1.0
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1942-01-01,2000-03-01,1961-12-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1959-01-01,0.0,1.0
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1939-02-01,2000-03-01,1961-02-10,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1960-03-31,0.0,2.0
6,346,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,0,0,2017-12-31,2000-01-01,1939-12-01,2000-01-01,1962-01-22,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1939-01-01,2000-02-01,1962-03-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1961-08-30,0.0,1.0
8,27,M,5,1939,1962-03-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-05-01,1999-01-01,1962-03-15,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,NaN,NaN,1961-01-01,0.0,1.0
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,0,0,2017-12-31,1998-01-01,1937-01-01,1998-01-01,1962-04-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1948-01-01,0.0,1.0
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1943-01-01,2000-05-01,1962-06-05,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1962-01-01,0.0,1.0
11,88,M,11,1939,1962-04-01,MPT-monthly,12,1999,0,0,2017-12-31,1999-12-01,1939-11-01,1999-12-01,1962-04-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,NaN,NaN,1990-03-31,0.0,2.0
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,0,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01,1964-01-06,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-12-20,0.0,1.0
13,714,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,0,0,2017-12-31,2005-10-01,1945-09-01,2005-10-01,1964-11-23,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,NaN,NaN,1962-01-01,0.0,1.0
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,0,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01,1964-09-17,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-03-31,0.0,1.0
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,0,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01,1964-05-07,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,1.0
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1964-08-27,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,2.0
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1943-04-01,2000-03-01,1964-11-24,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1989-03-31,0.0,2.0
18,362,M,2,1938,1965-03-01,MPT-monthly,3,1999,0,0,2017-12-31,1999-03-01,1938-02-01,1999-03-01,1965-03-04,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,NaN,NaN,1961-01-01,1.0,1.0
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,0,0,2017-12-31,1999-10-01,1943-12-01,1999-10-01,1965-06-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1991-01-01,0.0,2.0
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1941-06-01,2000-02-01,1965-07-16,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-05-01,1.0,2.0
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,0,0,2017-12-31,2001-10-01,1941-09-01,2001-10-01,1965-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1968-05-31,0.0,3.0
22,559,F,11,1940,1965-11-01,MPT-monthly,12,2000,0,0,2017-12-31,2000-12-01,1940-11-01,2000-12-01,1965-11-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,NaN,NaN,1965-03-31,0.0,1.0
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,0,0,2017-12-31,1998-07-01,1940-09-01,1998-07-01,1965-07-12,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1961-01-01,0.0,1.0
24,1557,M,4,1942,NaT,Non-MPT-monthly,7,1999,0,0,2017-12-31,1999-07-01,1942-04-01,1999-07-01,1966-01-11,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,NaN,NaN,1957-01-01,0.0,1.0
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,0,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01,1966-07-18,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1965-01-01,0.0,2.0
26,342,M,11,1940,1966-08-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1940-11-01,2000-05-01,1966-07-18,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,NaN,NaN,1964-03-25,1.0,2.0
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-04-01,1999-01-01,1966-08-24,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1966-04-01,0.0,2.0
28,475,M,7,1940,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1940-07-01,2000-03-01,1966-10-19,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,NaN,NaN,1975-05-31,0.0,2.0
29,455,M,10,1941,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1941-10-01,2000-03-01,1966-11-08,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,NaN,NaN,1965-03-31,0.0,2.0
30,707,M,6,1942,1966-03-01,MPT-monthly,7,2002,0,0,2017-12-31,2002-07-01,1942-06-01,2002-07-01,1966-03-15,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,NaN,NaN,1961-03-31,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057,F,6,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0
5010,1957,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0
5011,1957,F,5,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2017-06-12,1.0,2.0
5012,3196,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0
5013,1957,F,2,1992,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2014-05-31,0.0,2.0
5014,2492,M,2,1991,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0
5015,3185,F,6,1990,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2017-06-30,0.0,3.0
5016,809,F,7,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0
5017,2454,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,NaN,NaN,2016-12-14,0.0,2.0
5018,1957,F,1,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2015-06-02,0.0,2.0
5019,2216,F,7,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,NaN,NaN,2017-05-21,0.0,2.0
5020,3062,F,12,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0
5021,2124,F,9,1992,2017-12-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31,2017-11-27,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-05-24,0.0,2.0
5022,583,M,10,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,NaN,NaN,2017-05-31,0.0,2.0
5023,2330,F,5,1995,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0
5024,3448,F,8,1991,2017-11-01,MPT-monthly,11,2017,0,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,NaN,NaN,2013-06-30,0.0,2.0
5025,3594,F,7,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31,2017-11-14,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,NaN,NaN,2017-05-08,1.0,2.0
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,2008-10-31,1.0,2.0
5027,3245,F,4,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,NaN,NaN,2017-06-21,0.0,3.0
5028,891,M,4,1992,2017-12-01,MPT-monthly,12,2017,0,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,NaN,NaN,2017-09-30,1.0,3.0
5029,2913,F,8,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,NaN,NaN,2017-07-06,0.0,3.0
5030,1809,F,5,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,NaN,NaN,2017-05-26,0.0,2.0
5031,2635,F,7,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31,2017-12-04,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,NaN,NaN,2017-01-15,0.0,2.0
5032,1605,F,11,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31,2017-12-07,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0
5033,2492,F,9,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,NaT,NaN,NaN
5034,2492,F,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2014-12-07,0.0,2.0
5035,1605,M,9,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31,2017-12-12,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-06-24,0.0,2.0
5036,2124,M,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-04-30,0.0,2.0
5037,3185,F,5,1990,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2014-06-30,0.0,2.0
5038,820,F,12,1991,2018-01-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31,2017-12-18,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,NaN,NaN,NaT,NaN,NaN

In [2601]:
#VACATION
VAC['Attendance or Absence Type'].unique()

array(['Vacation Leave', 'Birthday Leave', 'Vacation Leave (Half day)',
       'Sick <NC/FP 30 w/d>', 'Civic Duty Leave',
       "Marriage Employee's child", 'Death of brother/sister',
       'Sick <C/FP 30 w/d>', 'Personal Leave (P&NC)',
       'Death immediate Family Mb', 'Personal Leave (P&C)',
       'Paternity Leave', 'Dependent Care Leave', '1st year vacation',
       'Sick <Not count/Full pay>', 'Personal Leave (NP&NC)',
       'Activity of the Union', "Employee's Marriage",
       'Personal Leave (NP&C)', 'Priesthood Leave',
       'Personal Leave 0.5(NP&NC)', 'Extended Child Care Leave',
       'Maternity Leave', 'Maternity Leave (W/O Pay)',
       'Sick <Not count/Half pay>', 'Military Call Up Leave',
       'Sick (Count/Full pay>', 'Personal Leave 0.5 (NP&C)',
       'Sick (Count/Half pay>', 'Travel Leave', 'Educational Leave',
       'Sick <Not count/W/O pay>'], dtype=object)

In [2602]:
#Set Vacation type
VAC_DependentCare = ["Dependent Care Leave",
"Extended Child Care Leave",]
VAC_Maternity = ["Maternity Leave",
"Maternity Leave (W/O Pay)",]
VAC_Others = ["Death immediate Family Mb",
"Death of brother/sister",
"Activity of the Union",
"Civic Duty Leave",
"Educational Leave",
"Employee's Marriage",
"Marriage Employee's child",
"Military Call Up Leave",
"Paternity Leave",
"Priesthood Leave",]
VAC_Personal = ["Personal Leave (NP&C)",
"Personal Leave (NP&NC)",
"Personal Leave (P&C)",
"Personal Leave (P&NC)",
"Personal Leave 0.5 (NP&C)",
"Personal Leave 0.5(NP&NC)",]
VAC_Sick = ["Sick (Count/Full pay>",
"Sick (Count/Half pay>",
"Sick <C/FP 30 w/d>",
"Sick <NC/FP 30 w/d>",
"Sick <Not count/Full pay>",
"Sick <Not count/Half pay>",
"Sick <Not count/W/O pay>",]
VAC_Vacation = ["1st year vacation",
"Birthday Leave",
"Travel Leave",
"Vacation Leave",
"Vacation Leave (Half day)",]

In [2603]:
VAC.loc[:, 'VAC Type'] = ""
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_DependentCare), 'VAC Type'] = "VAC_DependentCare"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Maternity), 'VAC Type'] = "VAC_Maternity"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Others), 'VAC Type'] = "VAC_Others"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Personal), 'VAC Type'] = "VAC_Personal"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Sick), 'VAC Type'] = "VAC_Sick"
VAC.loc[VAC['Attendance or Absence Type'].isin(VAC_Vacation), 'VAC Type'] = "VAC_Vacation"

In [2604]:
VAC.drop(['Attendance or Absence Type'], axis=1, inplace=True)
RenameCol = {
    '   Days':'Days',
}
VAC.rename(columns=RenameCol, inplace=True)

In [2605]:
VAC = VAC.groupby(['Serial Number','VAC Type']).agg({'Start date':'min','End date':'max','Days':['count','sum']})

In [2606]:
VAC.columns = VAC.columns.map(''.join)

In [2607]:
RenameCol = {
    'Start datemin':'MIN Start date',
    'End datemax':'MAX End date',
    'Dayscount':'Taken (times)',
    'Dayssum':'Taken (days)',
}
VAC.rename(columns=RenameCol, inplace=True)

In [2608]:
VAC.loc[:, 'AvgDaysEachTime'] = VAC['Taken (days)']/VAC['Taken (times)']

In [2609]:
VAC.drop(['MIN Start date','MAX End date','Taken (times)','Taken (days)'], axis=1, inplace=True)

In [2610]:
VAC.reset_index(inplace=True)
VAC = VAC.pivot(index='Serial Number', columns='VAC Type', values='AvgDaysEachTime')

In [2611]:
VAC.reset_index(inplace=True)
VAC.set_index('Serial Number', inplace=True)
MAIN = MAIN.join(VAC)

MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date,Max Entry Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364,M,10,1938,1955-02-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1955-02-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,0,0,2017-12-31,1998-05-01,1942-03-01,1998-05-01,1960-01-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1957-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,0,0,2017-12-31,1998-06-01,1938-06-01,1998-06-01,1958-10-15,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1952-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1942-01-01,2000-03-01,1961-12-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1959-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1939-02-01,2000-03-01,1961-02-10,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1960-03-31,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
6,346,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,0,0,2017-12-31,2000-01-01,1939-12-01,2000-01-01,1962-01-22,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1939-01-01,2000-02-01,1962-03-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1961-08-30,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
8,27,M,5,1939,1962-03-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-05-01,1999-01-01,1962-03-15,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,NaN,NaN,1961-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,0,0,2017-12-31,1998-01-01,1937-01-01,1998-01-01,1962-04-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1948-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1943-01-01,2000-05-01,1962-06-05,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1962-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
11,88,M,11,1939,1962-04-01,MPT-monthly,12,1999,0,0,2017-12-31,1999-12-01,1939-11-01,1999-12-01,1962-04-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,NaN,NaN,1990-03-31,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,0,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01,1964-01-06,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-12-20,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
13,714,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,0,0,2017-12-31,2005-10-01,1945-09-01,2005-10-01,1964-11-23,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,NaN,NaN,1962-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1.454545
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,0,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01,1964-09-17,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-03-31,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,0,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01,1964-05-07,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1964-08-27,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1943-04-01,2000-03-01,1964-11-24,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1989-03-31,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
18,362,M,2,1938,1965-03-01,MPT-monthly,3,1999,0,0,2017-12-31,1999-03-01,1938-02-01,1999-03-01,1965-03-04,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,NaN,NaN,1961-01-01,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,0,0,2017-12-31,1999-10-01,1943-12-01,1999-10-01,1965-06-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1991-01-01,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1941-06-01,2000-02-01,1965-07-16,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-05-01,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,0,0,2017-12-31,2001-10-01,1941-09-01,2001-10-01,1965-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1968-05-31,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
22,559,F,11,1940,1965-11-01,MPT-monthly,12,2000,0,0,2017-12-31,2000-12-01,1940-11-01,2000-12-01,1965-11-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,NaN,NaN,1965-03-31,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,0,0,2017-12-31,1998-07-01,1940-09-01,1998-07-01,1965-07-12,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1961-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
24,1557,M,4,1942,NaT,Non-MPT-monthly,7,1999,0,0,2017-12-31,1999-07-01,1942-04-01,1999-07-01,1966-01-11,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,NaN,NaN,1957-01-01,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,0,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01,1966-07-18,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1965-01-01,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
26,342,M,11,1940,1966-08-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1940-11-01,2000-05-01,1966-07-18,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,NaN,NaN,1964-03-25,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-04-01,1999-01-01,1966-08-24,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1966-04-01,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
28,475,M,7,1940,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1940-07-01,2000-03-01,1966-10-19,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,NaN,NaN,1975-05-31,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
29,455,M,10,1941,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1941-10-01,2000-03-01,1966-11-08,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,NaN,NaN,1965-03-31,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
30,707,M,6,1942,1966-03-01,MPT-monthly,7,2002,0,0,2017-12-31,2002-07-01,1942-06-01,2002-07-01,1966-03-15,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,NaN,NaN,1961-03-31,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057,F,6,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5010,1957,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,NaN,NaN,4.0,1.0,1.00,1.000000
5011,1957,F,5,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2017-06-12,1.0,2.0,NaN,NaN,NaN,NaN,1.00,NaN
5012,3196,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,NaN,NaN,NaN,NaN,1.00,1.666667
5013,1957,F,2,1992,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2014-05-31,0.0,2.0,NaN,NaN,NaN,NaN,NaN,1.000000
5014,2492,M,2,1991,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,NaN,NaN,NaN,0.5,NaN,1.000000
5015,3185,F,6,1990,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2017-06-30,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
5016,809,F,7,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,NaN,NaN,NaN,NaN,1.00,1.500000
5017,2454,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,NaN,NaN,2016-12-14,0.0,2.0,NaN,NaN,NaN,NaN,1.00,6.000000
5018,1957,F,1,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2015-06-02,0.0,2.0,NaN,NaN,NaN,NaN,NaN,1.333333
5019,2216,F,7,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,NaN,NaN,2017-05-21,0.0,2.0,NaN,NaN,NaN,NaN,0.75,1.400000
5020,3062,F,12,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,NaN,NaN,NaN,NaN,NaN,1.000000
5021,2124,F,9,1992,2017-12-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31,2017-11-27,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-05-24,0.0,2.0,NaN,NaN,NaN,NaN,1.50,5.000000
5022,583,M,10,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,NaN,NaN,2017-05-31,0.0,2.0,NaN,NaN,NaN,NaN,1.00,1.000000
5023,2330,F,5,1995,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,NaN,NaN,NaN,NaN,1.00,1.333333
5024,3448,F,8,1991,2017-11-01,MPT-monthly,11,2017,0,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,NaN,NaN,2013-06-30,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5025,3594,F,7,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31,2017-11-14,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,NaN,NaN,2017-05-08,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,2008-10-31,1.0,2.0,NaN,NaN,NaN,NaN,1.00,NaN
5027,3245,F,4,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,NaN,NaN,2017-06-21,0.0,3.0,NaN,NaN,NaN,NaN,0.75,0.500000
5028,891,M,4,1992,2017-12-01,MPT-monthly,12,2017,0,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,NaN,NaN,2017-09-30,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
5029,2913,F,8,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,NaN,NaN,2017-07-06,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
5030,1809,F,5,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,NaN,NaN,2017-05-26,0.0,2.0,NaN,NaN,NaN,NaN,0.50,NaN
5031,2635,F,7,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31,2017-12-04,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,NaN,NaN,2017-01-15,0.0,2.0,NaN,NaN,NaN,NaN,NaN,1.000000
5032,1605,F,11,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31,2017-12-07,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,NaN,NaN,NaN,NaN,NaN,1.000000
5033,2492,F,9,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
5034,2492,F,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2014-12-07,0.0,2.0,NaN,NaN,NaN,NaN,NaN,1.000000
5035,1605,M,9,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31,2017-12-12,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-06-24,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5036,2124,M,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-04-30,0.0,2.0,NaN,NaN,NaN,NaN,NaN,2.000000
5037,3185,F,5,1990,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2014-06-30,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5038,820,F,12,1991,2018-01-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31,2017-12-18,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [2612]:
VAC.columns

Index(['VAC_DependentCare', 'VAC_Maternity', 'VAC_Others', 'VAC_Personal',
       'VAC_Sick', 'VAC_Vacation'],
      dtype='object', name='VAC Type')

In [2613]:
MAIN.loc[MAIN['VAC_DependentCare'].isnull(), 'VAC_DependentCare'] = 0
MAIN.loc[MAIN['VAC_Maternity'].isnull(), 'VAC_Maternity'] = 0
MAIN.loc[MAIN['VAC_Others'].isnull(), 'VAC_Others'] = 0
MAIN.loc[MAIN['VAC_Personal'].isnull(), 'VAC_Personal'] = 0
MAIN.loc[MAIN['VAC_Sick'].isnull(), 'VAC_Sick'] = 0
MAIN.loc[MAIN['VAC_Vacation'].isnull(), 'VAC_Vacation'] = 0

MAIN

,Supervisor Serial,Gender,Month of Birth,Year of Birth,Tech Date of Entry,Employee Sub Group Text,Personnel action - Month,Personnel action - Year,BSC Indicator,Resigned,Reference Date,Last Action Date,Birth Date,Action Date,Max Entry Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,364,M,10,1938,1955-02-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1955-02-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
2,NaN,M,3,1942,NaT,MPT-monthly,5,1998,0,0,2017-12-31,1998-05-01,1942-03-01,1998-05-01,1960-01-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
3,NaN,M,6,1938,NaT,Non-MPT-monthly,6,1998,0,0,2017-12-31,1998-06-01,1938-06-01,1998-06-01,1958-10-15,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1952-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
4,NaN,F,1,1942,1961-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1942-01-01,2000-03-01,1961-12-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1959-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
5,NaN,M,2,1939,1961-02-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1939-02-01,2000-03-01,1961-02-10,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1960-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
6,346,M,12,1939,1962-02-01,Non-MPT-monthly,1,2000,0,0,2017-12-31,2000-01-01,1939-12-01,2000-01-01,1962-01-22,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
7,NaN,M,1,1939,1962-03-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1939-01-01,2000-02-01,1962-03-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1961-08-30,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
8,27,M,5,1939,1962-03-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-05-01,1999-01-01,1962-03-15,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,NaN,NaN,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
9,NaN,M,1,1937,NaT,Non-MPT-monthly,1,1998,0,0,2017-12-31,1998-01-01,1937-01-01,1998-01-01,1962-04-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1948-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
10,NaN,M,1,1943,1962-06-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1943-01-01,2000-05-01,1962-06-05,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
11,88,M,11,1939,1962-04-01,MPT-monthly,12,1999,0,0,2017-12-31,1999-12-01,1939-11-01,1999-12-01,1962-04-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,NaN,NaN,1990-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
12,NaN,M,12,1945,1964-01-01,MPT-monthly,4,1999,0,1,2017-12-31,1999-04-01,1945-12-01,1999-04-01,1964-01-06,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-12-20,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
13,714,M,9,1945,1964-12-01,Non-MPT-monthly,10,2005,0,0,2017-12-31,2005-10-01,1945-09-01,2005-10-01,1964-11-23,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,NaN,NaN,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,1.454545
14,NaN,M,9,1946,1964-10-01,Non-MPT-monthly,1,2001,0,1,2017-12-31,2001-01-01,1946-09-01,2001-01-01,1964-09-17,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
15,NaN,F,4,1944,1964-05-01,MPT-monthly,1,1999,0,1,2017-12-31,1999-01-01,1944-04-01,1999-01-01,1964-05-07,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
16,NaN,M,10,1938,1964-09-01,MPT-monthly,11,1998,0,0,2017-12-31,1998-11-01,1938-10-01,1998-11-01,1964-08-27,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
17,NaN,F,4,1943,1964-12-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1943-04-01,2000-03-01,1964-11-24,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1989-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
18,362,M,2,1938,1965-03-01,MPT-monthly,3,1999,0,0,2017-12-31,1999-03-01,1938-02-01,1999-03-01,1965-03-04,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,NaN,NaN,1961-01-01,1.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
19,NaN,F,12,1943,1965-06-01,MPT-monthly,10,1999,0,0,2017-12-31,1999-10-01,1943-12-01,1999-10-01,1965-06-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1991-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
20,NaN,M,6,1941,1965-08-01,MPT-monthly,2,2000,0,0,2017-12-31,2000-02-01,1941-06-01,2000-02-01,1965-07-16,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-05-01,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
21,NaN,M,9,1941,1965-10-01,MPT-monthly,10,2001,0,0,2017-12-31,2001-10-01,1941-09-01,2001-10-01,1965-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1968-05-31,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
22,559,F,11,1940,1965-11-01,MPT-monthly,12,2000,0,0,2017-12-31,2000-12-01,1940-11-01,2000-12-01,1965-11-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,NaN,NaN,1965-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
23,NaN,M,9,1940,NaT,Non-MPT-monthly,7,1998,0,0,2017-12-31,1998-07-01,1940-09-01,1998-07-01,1965-07-12,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
24,1557,M,4,1942,NaT,Non-MPT-monthly,7,1999,0,0,2017-12-31,1999-07-01,1942-04-01,1999-07-01,1966-01-11,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,NaN,NaN,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
25,NaN,M,2,1944,NaT,MPT-monthly,8,1998,0,1,2017-12-31,1998-08-01,1944-02-01,1998-08-01,1966-07-18,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1965-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
26,342,M,11,1940,1966-08-01,MPT-monthly,5,2000,0,0,2017-12-31,2000-05-01,1940-11-01,2000-05-01,1966-07-18,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,NaN,NaN,1964-03-25,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
27,NaN,M,4,1939,1966-09-01,MPT-monthly,1,1999,0,0,2017-12-31,1999-01-01,1939-04-01,1999-01-01,1966-08-24,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1966-04-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
28,475,M,7,1940,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1940-07-01,2000-03-01,1966-10-19,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,NaN,NaN,1975-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
29,455,M,10,1941,1966-11-01,MPT-monthly,3,2000,0,0,2017-12-31,2000-03-01,1941-10-01,2000-03-01,1966-11-08,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,NaN,NaN,1965-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
30,707,M,6,1942,1966-03-01,MPT-monthly,7,2002,0,0,2017-12-31,2002-07-01,1942-06-01,2002-07-01,1966-03-15,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,NaN,NaN,1961-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,2057,F,6,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-06-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5010,1957,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,0.0,0.0,4.0,1.0,1.00,1.000000
5011,1957,F,5,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-05-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2017-06-12,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000
5012,3196,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.666667
5013,1957,F,2,1992,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-02-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2014-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5014,2492,M,2,1991,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1991-02-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.5,0.00,1.000000
5015,3185,F,6,1990,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1990-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2017-06-30,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
5016,809,F,7,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.500000
5017,2454,F,6,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-06-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,NaN,NaN,2016-12-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,6.000000
5018,1957,F,1,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-01-01,2017-12-31,2017-11-01,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2015-06-02,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.333333
5019,2216,F,7,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-07-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,NaN,NaN,2017-05-21,0.0,2.0,0.0,0.0,0.0,0.0,0.75,1.400000
5020,3062,F,12,1993,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1993-12-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5021,2124,F,9,1992,2017-12-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1992-09-01,2017-12-31,2017-11-27,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-05-24,0.0,2.0,0.0,0.0,0.0,0.0,1.50,5.000000
5022,583,M,10,1994,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1994-10-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,NaN,NaN,2017-05-31,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.000000
5023,2330,F,5,1995,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1995-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.333333
5024,3448,F,8,1991,2017-11-01,MPT-monthly,11,2017,0,0,2017-12-31,2017-11-01,1991-08-01,2017-12-31,2017-11-15,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,NaN,NaN,2013-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5025,3594,F,7,1995,2017-11-01,MPT-monthly,11,2017,1,0,2017-12-31,2017-11-01,1995-07-01,2017-12-31,2017-11-14,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,NaN,NaN,2017-05-08,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5026,NaN,F,9,1986,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1986-09-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,2008-10-31,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000
5027,3245,F,4,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,NaN,NaN,2017-06-21,0.0,3.0,0.0,0.0,0.0,0.0,0.75,0.500000
5028,891,M,4,1992,2017-12-01,MPT-monthly,12,2017,0,0,2017-12-31,2017-12-01,1992-04-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,NaN,NaN,2017-09-30,1.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
5029,2913,F,8,1992,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1992-08-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,NaN,NaN,2017-07-06,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
5030,1809,F,5,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-05-01,2017-12-31,2017-12-01,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,NaN,NaN,2017-05-26,0.0,2.0,0.0,0.0,0.0,0.0,0.50,0.000000
5031,2635,F,7,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-07-01,2017-12-31,2017-12-04,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,NaN,NaN,2017-01-15,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5032,1605,F,11,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-11-01,2017-12-31,2017-12-07,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5033,2492,F,9,1991,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-09-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,NaT,NaN,NaN,0.0,0.0,0.0,0.0,0.00,2.000000
5034,2492,F,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2014-12-07,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5035,1605,M,9,1994,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1994-09-01,2017-12-31,2017-12-12,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-06-24,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5036,2124,M,1,1993,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1993-01-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-04-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,2.000000
5037,3185,F,5,1990,2017-12-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1990-05-01,2017-12-31,2017-12-15,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2014-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5038,820,F,12,1991,2018-01-01,MPT-monthly,12,2017,1,0,2017-12-31,2017-12-01,1991-12-01,2017-12-31,2017-12-18,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,NaN,NaN,NaT,NaN,NaN,0.0,0.0,0.0,0.0,0.00,1.000000

In [2614]:
#CLEANUP

In [2615]:
DropCol = [
'Supervisor Serial',
'Month of Birth',
'Year of Birth',
'Tech Date of Entry',
'Employee Sub Group Text',
'Personnel action - Month',
'Personnel action - Year',
'Reference Date',
'Last Action Date',
'Max Entry Date']
MAIN.drop(DropCol, axis=1, inplace=True)

MAIN

,Gender,BSC Indicator,Resigned,Birth Date,Action Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,M,0,0,1938-10-01,1998-11-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
2,M,0,0,1942-03-01,1998-05-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
3,M,0,0,1938-06-01,1998-06-01,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1952-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
4,F,0,0,1942-01-01,2000-03-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1959-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
5,M,0,0,1939-02-01,2000-03-01,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1960-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
6,M,0,0,1939-12-01,2000-01-01,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
7,M,0,0,1939-01-01,2000-02-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1961-08-30,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
8,M,0,0,1939-05-01,1999-01-01,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,NaN,NaN,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
9,M,0,0,1937-01-01,1998-01-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1948-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
10,M,0,0,1943-01-01,2000-05-01,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
11,M,0,0,1939-11-01,1999-12-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,NaN,NaN,1990-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
12,M,0,1,1945-12-01,1999-04-01,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-12-20,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
13,M,0,0,1945-09-01,2005-10-01,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,NaN,NaN,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,1.454545
14,M,0,1,1946-09-01,2001-01-01,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
15,F,0,1,1944-04-01,1999-01-01,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
16,M,0,0,1938-10-01,1998-11-01,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
17,F,0,0,1943-04-01,2000-03-01,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1989-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
18,M,0,0,1938-02-01,1999-03-01,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,NaN,NaN,1961-01-01,1.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
19,F,0,0,1943-12-01,1999-10-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1991-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
20,M,0,0,1941-06-01,2000-02-01,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-05-01,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
21,M,0,0,1941-09-01,2001-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1968-05-31,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
22,F,0,0,1940-11-01,2000-12-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,NaN,NaN,1965-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
23,M,0,0,1940-09-01,1998-07-01,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
24,M,0,0,1942-04-01,1999-07-01,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,NaN,NaN,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
25,M,0,1,1944-02-01,1998-08-01,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1965-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
26,M,0,0,1940-11-01,2000-05-01,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,NaN,NaN,1964-03-25,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
27,M,0,0,1939-04-01,1999-01-01,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1966-04-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
28,M,0,0,1940-07-01,2000-03-01,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,NaN,NaN,1975-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
29,M,0,0,1941-10-01,2000-03-01,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,NaN,NaN,1965-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
30,M,0,0,1942-06-01,2002-07-01,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,NaN,NaN,1961-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,F,1,0,1993-06-01,2017-12-31,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5010,F,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,0.0,0.0,4.0,1.0,1.00,1.000000
5011,F,1,0,1995-05-01,2017-12-31,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2017-06-12,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000
5012,F,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.666667
5013,F,1,0,1992-02-01,2017-12-31,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2014-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5014,M,1,0,1991-02-01,2017-12-31,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.5,0.00,1.000000
5015,F,1,0,1990-06-01,2017-12-31,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2017-06-30,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
5016,F,1,0,1994-07-01,2017-12-31,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.500000
5017,F,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,NaN,NaN,2016-12-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,6.000000
5018,F,1,0,1993-01-01,2017-12-31,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2015-06-02,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.333333
5019,F,1,0,1993-07-01,2017-12-31,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,NaN,NaN,2017-05-21,0.0,2.0,0.0,0.0,0.0,0.0,0.75,1.400000
5020,F,1,0,1993-12-01,2017-12-31,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5021,F,1,0,1992-09-01,2017-12-31,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-05-24,0.0,2.0,0.0,0.0,0.0,0.0,1.50,5.000000
5022,M,1,0,1994-10-01,2017-12-31,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,NaN,NaN,2017-05-31,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.000000
5023,F,1,0,1995-05-01,2017-12-31,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.333333
5024,F,0,0,1991-08-01,2017-12-31,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,NaN,NaN,2013-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5025,F,1,0,1995-07-01,2017-12-31,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,NaN,NaN,2017-05-08,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5026,F,1,0,1986-09-01,2017-12-31,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,2008-10-31,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000
5027,F,1,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,NaN,NaN,2017-06-21,0.0,3.0,0.0,0.0,0.0,0.0,0.75,0.500000
5028,M,0,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,NaN,NaN,2017-09-30,1.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
5029,F,1,0,1992-08-01,2017-12-31,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,NaN,NaN,2017-07-06,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
5030,F,1,0,1991-05-01,2017-12-31,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,NaN,NaN,2017-05-26,0.0,2.0,0.0,0.0,0.0,0.0,0.50,0.000000
5031,F,1,0,1994-07-01,2017-12-31,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,NaN,NaN,2017-01-15,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5032,F,1,0,1994-11-01,2017-12-31,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5033,F,1,0,1991-09-01,2017-12-31,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,NaT,NaN,NaN,0.0,0.0,0.0,0.0,0.00,2.000000
5034,F,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2014-12-07,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5035,M,1,0,1994-09-01,2017-12-31,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-06-24,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5036,M,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-04-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,2.000000
5037,F,1,0,1990-05-01,2017-12-31,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2014-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5038,F,1,0,1991-12-01,2017-12-31,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,NaN,NaN,NaT,NaN,NaN,0.0,0.0,0.0,0.0,0.00,1.000000

In [2616]:
MAIN

,Gender,BSC Indicator,Resigned,Birth Date,Action Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,M,0,0,1938-10-01,1998-11-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
2,M,0,0,1942-03-01,1998-05-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
3,M,0,0,1938-06-01,1998-06-01,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1952-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
4,F,0,0,1942-01-01,2000-03-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1959-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
5,M,0,0,1939-02-01,2000-03-01,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1960-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
6,M,0,0,1939-12-01,2000-01-01,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
7,M,0,0,1939-01-01,2000-02-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1961-08-30,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
8,M,0,0,1939-05-01,1999-01-01,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,NaN,NaN,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
9,M,0,0,1937-01-01,1998-01-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1948-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
10,M,0,0,1943-01-01,2000-05-01,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
11,M,0,0,1939-11-01,1999-12-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,NaN,NaN,1990-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
12,M,0,1,1945-12-01,1999-04-01,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-12-20,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
13,M,0,0,1945-09-01,2005-10-01,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,NaN,NaN,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,1.454545
14,M,0,1,1946-09-01,2001-01-01,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
15,F,0,1,1944-04-01,1999-01-01,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
16,M,0,0,1938-10-01,1998-11-01,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
17,F,0,0,1943-04-01,2000-03-01,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1989-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
18,M,0,0,1938-02-01,1999-03-01,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,NaN,NaN,1961-01-01,1.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
19,F,0,0,1943-12-01,1999-10-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1991-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
20,M,0,0,1941-06-01,2000-02-01,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-05-01,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
21,M,0,0,1941-09-01,2001-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1968-05-31,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
22,F,0,0,1940-11-01,2000-12-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,NaN,NaN,1965-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
23,M,0,0,1940-09-01,1998-07-01,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
24,M,0,0,1942-04-01,1999-07-01,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,NaN,NaN,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
25,M,0,1,1944-02-01,1998-08-01,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1965-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
26,M,0,0,1940-11-01,2000-05-01,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,NaN,NaN,1964-03-25,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
27,M,0,0,1939-04-01,1999-01-01,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1966-04-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
28,M,0,0,1940-07-01,2000-03-01,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,NaN,NaN,1975-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
29,M,0,0,1941-10-01,2000-03-01,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,NaN,NaN,1965-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
30,M,0,0,1942-06-01,2002-07-01,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,NaN,NaN,1961-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,F,1,0,1993-06-01,2017-12-31,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5010,F,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,0.0,0.0,4.0,1.0,1.00,1.000000
5011,F,1,0,1995-05-01,2017-12-31,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2017-06-12,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000
5012,F,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.666667
5013,F,1,0,1992-02-01,2017-12-31,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2014-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5014,M,1,0,1991-02-01,2017-12-31,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.5,0.00,1.000000
5015,F,1,0,1990-06-01,2017-12-31,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2017-06-30,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
5016,F,1,0,1994-07-01,2017-12-31,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.500000
5017,F,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,NaN,NaN,2016-12-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,6.000000
5018,F,1,0,1993-01-01,2017-12-31,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2015-06-02,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.333333
5019,F,1,0,1993-07-01,2017-12-31,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,NaN,NaN,2017-05-21,0.0,2.0,0.0,0.0,0.0,0.0,0.75,1.400000
5020,F,1,0,1993-12-01,2017-12-31,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5021,F,1,0,1992-09-01,2017-12-31,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-05-24,0.0,2.0,0.0,0.0,0.0,0.0,1.50,5.000000
5022,M,1,0,1994-10-01,2017-12-31,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,NaN,NaN,2017-05-31,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.000000
5023,F,1,0,1995-05-01,2017-12-31,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.333333
5024,F,0,0,1991-08-01,2017-12-31,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,NaN,NaN,2013-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5025,F,1,0,1995-07-01,2017-12-31,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,NaN,NaN,2017-05-08,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5026,F,1,0,1986-09-01,2017-12-31,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,2008-10-31,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000
5027,F,1,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,NaN,NaN,2017-06-21,0.0,3.0,0.0,0.0,0.0,0.0,0.75,0.500000
5028,M,0,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,NaN,NaN,2017-09-30,1.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
5029,F,1,0,1992-08-01,2017-12-31,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,NaN,NaN,2017-07-06,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000
5030,F,1,0,1991-05-01,2017-12-31,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,NaN,NaN,2017-05-26,0.0,2.0,0.0,0.0,0.0,0.0,0.50,0.000000
5031,F,1,0,1994-07-01,2017-12-31,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,NaN,NaN,2017-01-15,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5032,F,1,0,1994-11-01,2017-12-31,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5033,F,1,0,1991-09-01,2017-12-31,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,NaT,NaN,NaN,0.0,0.0,0.0,0.0,0.00,2.000000
5034,F,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2014-12-07,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000
5035,M,1,0,1994-09-01,2017-12-31,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-06-24,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5036,M,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-04-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,2.000000
5037,F,1,0,1990-05-01,2017-12-31,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2014-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000
5038,F,1,0,1991-12-01,2017-12-31,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,NaN,NaN,NaT,NaN,NaN,0.0,0.0,0.0,0.0,0.00,1.000000

In [2617]:
MAIN['EMP Gender'] = 0 # 0=Male
MAIN.loc[MAIN['Gender']=='F', 'EMP Gender'] = 1
MAIN.drop('Gender', axis=1, inplace=True)

MAIN

,BSC Indicator,Resigned,Birth Date,Action Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation,EMP Gender
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,1938-10-01,1998-11-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
2,0,0,1942-03-01,1998-05-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
3,0,0,1938-06-01,1998-06-01,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1952-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
4,0,0,1942-01-01,2000-03-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1959-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5,0,0,1939-02-01,2000-03-01,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1960-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
6,0,0,1939-12-01,2000-01-01,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,NaN,NaN,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
7,0,0,1939-01-01,2000-02-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1961-08-30,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
8,0,0,1939-05-01,1999-01-01,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,NaN,NaN,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
9,0,0,1937-01-01,1998-01-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1948-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
10,0,0,1943-01-01,2000-05-01,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
11,0,0,1939-11-01,1999-12-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,NaN,NaN,1990-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
12,0,1,1945-12-01,1999-04-01,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-12-20,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
13,0,0,1945-09-01,2005-10-01,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,NaN,NaN,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,1.454545,0
14,0,1,1946-09-01,2001-01-01,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1963-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
15,0,1,1944-04-01,1999-01-01,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
16,0,0,1938-10-01,1998-11-01,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
17,0,0,1943-04-01,2000-03-01,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1989-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
18,0,0,1938-02-01,1999-03-01,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,NaN,NaN,1961-01-01,1.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
19,0,0,1943-12-01,1999-10-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1991-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
20,0,0,1941-06-01,2000-02-01,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1964-05-01,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
21,0,0,1941-09-01,2001-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1968-05-31,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
22,0,0,1940-11-01,2000-12-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,NaN,NaN,1965-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
23,0,0,1940-09-01,1998-07-01,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
24,0,0,1942-04-01,1999-07-01,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,NaN,NaN,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
25,0,1,1944-02-01,1998-08-01,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,1965-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
26,0,0,1940-11-01,2000-05-01,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,NaN,NaN,1964-03-25,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
27,0,0,1939-04-01,1999-01-01,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,1.0,NaN,NaN,1966-04-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
28,0,0,1940-07-01,2000-03-01,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,NaN,NaN,1975-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
29,0,0,1941-10-01,2000-03-01,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,NaN,NaN,1965-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
30,0,0,1942-06-01,2002-07-01,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,NaN,NaN,1961-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,1,0,1993-06-01,2017-12-31,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5010,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2016-06-30,0.0,2.0,0.0,0.0,4.0,1.0,1.00,1.000000,1
5011,1,0,1995-05-01,2017-12-31,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2017-06-12,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1
5012,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.666667,1
5013,1,0,1992-02-01,2017-12-31,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2014-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5014,1,0,1991-02-01,2017-12-31,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.5,0.00,1.000000,0
5015,1,0,1990-06-01,2017-12-31,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2017-06-30,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5016,1,0,1994-07-01,2017-12-31,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.500000,1
5017,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,NaN,NaN,2016-12-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,6.000000,1
5018,1,0,1993-01-01,2017-12-31,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,NaN,NaN,2015-06-02,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.333333,1
5019,1,0,1993-07-01,2017-12-31,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,NaN,NaN,2017-05-21,0.0,2.0,0.0,0.0,0.0,0.0,0.75,1.400000,1
5020,1,0,1993-12-01,2017-12-31,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5021,1,0,1992-09-01,2017-12-31,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-05-24,0.0,2.0,0.0,0.0,0.0,0.0,1.50,5.000000,1
5022,1,0,1994-10-01,2017-12-31,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,NaN,NaN,2017-05-31,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.000000,0
5023,1,0,1995-05-01,2017-12-31,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,NaN,NaN,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.333333,1
5024,0,0,1991-08-01,2017-12-31,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,NaN,NaN,2013-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5025,1,0,1995-07-01,2017-12-31,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,NaN,NaN,2017-05-08,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5026,1,0,1986-09-01,2017-12-31,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,NaN,0.0,NaN,NaN,2008-10-31,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1
5027,1,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,NaN,NaN,2017-06-21,0.0,3.0,0.0,0.0,0.0,0.0,0.75,0.500000,1
5028,0,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,NaN,NaN,2017-09-30,1.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
5029,1,0,1992-08-01,2017-12-31,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,NaN,NaN,2017-07-06,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5030,1,0,1991-05-01,2017-12-31,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,NaN,NaN,2017-05-26,0.0,2.0,0.0,0.0,0.0,0.0,0.50,0.000000,1
5031,1,0,1994-07-01,2017-12-31,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,NaN,NaN,2017-01-15,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5032,1,0,1994-11-01,2017-12-31,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5033,1,0,1991-09-01,2017-12-31,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,NaT,NaN,NaN,0.0,0.0,0.0,0.0,0.00,2.000000,1
5034,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,NaN,NaN,2014-12-07,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5035,1,0,1994-09-01,2017-12-31,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,NaN,NaN,2017-06-24,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
5036,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,NaN,NaN,2015-04-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,2.000000,0
5037,1,0,1990-05-01,2017-12-31,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,NaN,NaN,2014-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5038,1,0,1991-12-01,2017-12-31,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,NaN,NaN,NaT,NaN,NaN,0.0,0.0,0.0,0.0,0.00,1.000000,1

In [2618]:
MAIN.loc[MAIN['SUP Is MPT'].isnull(), 'SUP Is MPT'] = 0
MAIN.loc[MAIN['EDU Allowance'].isnull(), 'EDU Allowance'] = 0
MAIN.loc[MAIN['House Loan'].isnull(), 'House Loan'] = 0
MAIN.loc[MAIN['Is STEM'].isnull(), 'Is STEM'] = 0
MAIN.loc[MAIN['MAX Degree'].isnull(), 'MAX Degree'] = 0

MAIN

,BSC Indicator,Resigned,Birth Date,Action Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation,EMP Gender
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,1938-10-01,1998-11-01,0,1955-02-01,43.778084,60.126026,1,0.0,M,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,0.0,0.0,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
2,0,0,1942-03-01,1998-05-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
3,0,0,1938-06-01,1998-06-01,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1952-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
4,0,0,1942-01-01,2000-03-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1959-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5,0,0,1939-02-01,2000-03-01,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1960-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
6,0,0,1939-12-01,2000-01-01,0,1962-02-01,37.939728,60.126026,0,362.0,F,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,0.0,0.0,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
7,0,0,1939-01-01,2000-02-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,1.0,0.0,0.0,1961-08-30,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
8,0,0,1939-05-01,1999-01-01,0,1962-03-15,36.824657,59.712330,1,0.0,M,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,0.0,0.0,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
9,0,0,1937-01-01,1998-01-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1948-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
10,0,0,1943-01-01,2000-05-01,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
11,0,0,1939-11-01,1999-12-01,0,1962-04-01,37.693150,60.123287,1,0.0,M,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,0.0,0.0,1990-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
12,0,1,1945-12-01,1999-04-01,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1963-12-20,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
13,0,0,1945-09-01,2005-10-01,0,1964-12-01,40.860275,60.123287,0,0.0,M,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,0.0,0.0,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,1.454545,0
14,0,1,1946-09-01,2001-01-01,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1963-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
15,0,1,1944-04-01,1999-01-01,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1964-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
16,0,0,1938-10-01,1998-11-01,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1964-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
17,0,0,1943-04-01,2000-03-01,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1989-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
18,0,0,1938-02-01,1999-03-01,0,1965-03-04,34.013699,61.117809,1,0.0,M,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,0.0,0.0,1961-01-01,1.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
19,0,0,1943-12-01,1999-10-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1991-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
20,0,0,1941-06-01,2000-02-01,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1964-05-01,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
21,0,0,1941-09-01,2001-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1968-05-31,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
22,0,0,1940-11-01,2000-12-01,0,1965-11-01,35.106850,60.123287,1,1511.0,M,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,0.0,0.0,1965-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
23,0,0,1940-09-01,1998-07-01,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
24,0,0,1942-04-01,1999-07-01,0,1966-01-11,33.490410,57.287670,0,832.0,M,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,0.0,0.0,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
25,0,1,1944-02-01,1998-08-01,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1965-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
26,0,0,1940-11-01,2000-05-01,0,1966-08-01,33.772602,59.536987,1,0.0,M,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,0.0,0.0,1964-03-25,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
27,0,0,1939-04-01,1999-01-01,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,1.0,0.0,0.0,1966-04-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
28,0,0,1940-07-01,2000-03-01,0,1966-11-01,33.353424,59.706848,1,0.0,M,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,0.0,0.0,1975-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
29,0,0,1941-10-01,2000-03-01,0,1966-11-08,33.334248,58.454796,1,0.0,M,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,0.0,0.0,1965-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
30,0,0,1942-06-01,2002-07-01,0,1966-03-15,36.320549,60.123287,1,782.0,M,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,0.0,0.0,1961-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,1,0,1993-06-01,2017-12-31,0,2017-11-15,0.126027,24.600000,1,809.0,F,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,0.0,0.0,2016-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5010,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2016-06-30,0.0,2.0,0.0,0.0,4.0,1.0,1.00,1.000000,1
5011,1,0,1995-05-01,2017-12-31,0,2017-11-01,0.164384,22.684931,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2017-06-12,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1
5012,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,645.0,M,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,0.0,0.0,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.666667,1
5013,1,0,1992-02-01,2017-12-31,0,2017-11-01,0.164384,25.931507,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2014-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5014,1,0,1991-02-01,2017-12-31,0,2017-11-15,0.126027,26.931507,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,0.0,0.0,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.5,0.00,1.000000,0
5015,1,0,1990-06-01,2017-12-31,0,2017-11-01,0.164384,27.602739,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,0.0,0.0,2017-06-30,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5016,1,0,1994-07-01,2017-12-31,0,2017-11-15,0.126027,23.517809,1,568.0,F,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,0.0,0.0,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.500000,1
5017,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,924.0,F,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,0.0,0.0,2016-12-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,6.000000,1
5018,1,0,1993-01-01,2017-12-31,0,2017-11-01,0.164384,25.013699,1,559.0,F,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2015-06-02,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.333333,1
5019,1,0,1993-07-01,2017-12-31,0,2017-11-15,0.126027,24.517809,1,613.0,F,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,0.0,0.0,2017-05-21,0.0,2.0,0.0,0.0,0.0,0.0,0.75,1.400000,1
5020,1,0,1993-12-01,2017-12-31,0,2017-11-15,0.126027,24.098631,1,1518.0,F,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,0.0,0.0,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5021,1,0,1992-09-01,2017-12-31,0,2017-12-01,0.082192,25.347944,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,0.0,0.0,2015-05-24,0.0,2.0,0.0,0.0,0.0,0.0,1.50,5.000000,1
5022,1,0,1994-10-01,2017-12-31,0,2017-11-15,0.126027,23.265753,1,1332.0,M,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,0.0,0.0,2017-05-31,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.000000,0
5023,1,0,1995-05-01,2017-12-31,0,2017-12-01,0.082192,22.684931,1,1602.0,F,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,0.0,0.0,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.333333,1
5024,0,0,1991-08-01,2017-12-31,0,2017-11-15,0.126027,26.435616,1,0.0,F,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,0.0,0.0,2013-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5025,1,0,1995-07-01,2017-12-31,0,2017-11-14,0.128767,22.517809,1,429.0,F,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,0.0,0.0,2017-05-08,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5026,1,0,1986-09-01,2017-12-31,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,2008-10-31,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1
5027,1,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1413.0,F,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,0.0,0.0,2017-06-21,0.0,3.0,0.0,0.0,0.0,0.0,0.75,0.500000,1
5028,0,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1433.0,M,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,0.0,0.0,2017-09-30,1.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
5029,1,0,1992-08-01,2017-12-31,0,2017-12-01,0.082192,25.432877,1,1553.0,F,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,0.0,0.0,2017-07-06,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5030,1,0,1991-05-01,2017-12-31,0,2017-12-01,0.082192,26.687672,1,0.0,M,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,0.0,0.0,2017-05-26,0.0,2.0,0.0,0.0,0.0,0.0,0.50,0.000000,1
5031,1,0,1994-07-01,2017-12-31,0,2017-12-04,0.073973,23.517809,1,2146.0,F,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,0.0,0.0,2017-01-15,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5032,1,0,1994-11-01,2017-12-31,0,2017-12-07,0.065753,23.180822,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,0.0,0.0,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5033,1,0,1991-09-01,2017-12-31,0,2017-12-15,0.043836,26.350685,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.00,2.000000,1
5034,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,1553.0,F,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,0.0,0.0,2014-12-07,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5035,1,0,1994-09-01,2017-12-31,0,2017-12-12,0.052055,23.347944,1,1332.0,M,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,0.0,0.0,2017-06-24,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
5036,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,892.0,F,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,0.0,0.0,2015-04-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,2.000000,0
5037,1,0,1990-05-01,2017-12-31,0,2017-12-15,0.043836,27.687672,1,1553.0,F,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,0.0,0.0,2014-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5038,1,0,1991-12-01,2017-12-31,0,2018-01-01,-0.002740,26.101370,1,1403.0,F,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1.000000,1

In [2619]:
MAIN.loc[MAIN['SUP Gender']=='M', 'SUP Gender'] = 1
MAIN.loc[MAIN['SUP Gender']=='F', 'SUP Gender'] = 2

MAIN

,BSC Indicator,Resigned,Birth Date,Action Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation,EMP Gender
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,1938-10-01,1998-11-01,0,1955-02-01,43.778084,60.126026,1,0.0,1,1953-10-01,2001-11-01,1981-04-01,20.600000,48.117809,1.0,0.0,0.0,0.0,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
2,0,0,1942-03-01,1998-05-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
3,0,0,1938-06-01,1998-06-01,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1952-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
4,0,0,1942-01-01,2000-03-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1959-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5,0,0,1939-02-01,2000-03-01,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1960-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
6,0,0,1939-12-01,2000-01-01,0,1962-02-01,37.939728,60.126026,0,362.0,2,1947-05-01,2007-06-01,1979-10-15,27.646576,60.126026,1.0,0.0,0.0,0.0,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
7,0,0,1939-01-01,2000-02-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,1.0,0.0,0.0,1961-08-30,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
8,0,0,1939-05-01,1999-01-01,0,1962-03-15,36.824657,59.712330,1,0.0,1,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,0.0,0.0,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
9,0,0,1937-01-01,1998-01-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1948-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
10,0,0,1943-01-01,2000-05-01,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
11,0,0,1939-11-01,1999-12-01,0,1962-04-01,37.693150,60.123287,1,0.0,1,1941-04-01,2001-05-01,1968-01-01,33.353424,60.123287,1.0,0.0,0.0,0.0,1990-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
12,0,1,1945-12-01,1999-04-01,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1963-12-20,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
13,0,0,1945-09-01,2005-10-01,0,1964-12-01,40.860275,60.123287,0,0.0,1,1963-10-01,2017-12-31,1991-09-01,26.350685,54.287670,1.0,0.0,0.0,0.0,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,1.454545,0
14,0,1,1946-09-01,2001-01-01,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1963-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
15,0,1,1944-04-01,1999-01-01,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1964-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
16,0,0,1938-10-01,1998-11-01,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1964-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
17,0,0,1943-04-01,2000-03-01,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1989-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
18,0,0,1938-02-01,1999-03-01,0,1965-03-04,34.013699,61.117809,1,0.0,1,1958-07-01,2017-08-01,1981-04-01,36.358906,59.126026,1.0,0.0,0.0,0.0,1961-01-01,1.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
19,0,0,1943-12-01,1999-10-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1991-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
20,0,0,1941-06-01,2000-02-01,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1964-05-01,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
21,0,0,1941-09-01,2001-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1968-05-31,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
22,0,0,1940-11-01,2000-12-01,0,1965-11-01,35.106850,60.123287,1,1511.0,1,1961-02-01,2017-12-31,1989-11-06,28.169863,56.950684,1.0,0.0,0.0,0.0,1965-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
23,0,0,1940-09-01,1998-07-01,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
24,0,0,1942-04-01,1999-07-01,0,1966-01-11,33.490410,57.287670,0,832.0,1,1965-11-01,2017-12-31,2011-02-01,6.917808,52.200001,1.0,0.0,0.0,0.0,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
25,0,1,1944-02-01,1998-08-01,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1965-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
26,0,0,1940-11-01,2000-05-01,0,1966-08-01,33.772602,59.536987,1,0.0,1,1954-06-01,2005-12-01,1979-05-01,26.605480,51.536987,1.0,1.0,0.0,0.0,1964-03-25,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
27,0,0,1939-04-01,1999-01-01,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,1.0,0.0,0.0,1966-04-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
28,0,0,1940-07-01,2000-03-01,0,1966-11-01,33.353424,59.706848,1,0.0,1,1948-05-01,2007-01-01,1985-12-02,21.095890,58.709591,1.0,0.0,0.0,0.0,1975-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
29,0,0,1941-10-01,2000-03-01,0,1966-11-08,33.334248,58.454796,1,0.0,1,1957-12-01,2017-12-31,1985-04-01,32.772602,60.123287,1.0,0.0,0.0,0.0,1965-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
30,0,0,1942-06-01,2002-07-01,0,1966-03-15,36.320549,60.123287,1,782.0,1,1961-06-01,2017-12-31,1991-08-01,26.435616,56.621918,1.0,0.0,0.0,0.0,1961-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,1,0,1993-06-01,2017-12-31,0,2017-11-15,0.126027,24.600000,1,809.0,2,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,0.0,0.0,2016-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5010,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,559.0,2,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2016-06-30,0.0,2.0,0.0,0.0,4.0,1.0,1.00,1.000000,1
5011,1,0,1995-05-01,2017-12-31,0,2017-11-01,0.164384,22.684931,1,559.0,2,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2017-06-12,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1
5012,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,645.0,1,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,0.0,0.0,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.666667,1
5013,1,0,1992-02-01,2017-12-31,0,2017-11-01,0.164384,25.931507,1,559.0,2,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2014-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5014,1,0,1991-02-01,2017-12-31,0,2017-11-15,0.126027,26.931507,1,1553.0,2,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,0.0,0.0,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.5,0.00,1.000000,0
5015,1,0,1990-06-01,2017-12-31,0,2017-11-01,0.164384,27.602739,1,1553.0,2,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,0.0,0.0,2017-06-30,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5016,1,0,1994-07-01,2017-12-31,0,2017-11-15,0.126027,23.517809,1,568.0,2,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,0.0,0.0,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.500000,1
5017,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,924.0,2,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,0.0,0.0,2016-12-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,6.000000,1
5018,1,0,1993-01-01,2017-12-31,0,2017-11-01,0.164384,25.013699,1,559.0,2,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2015-06-02,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.333333,1
5019,1,0,1993-07-01,2017-12-31,0,2017-11-15,0.126027,24.517809,1,613.0,2,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,0.0,0.0,2017-05-21,0.0,2.0,0.0,0.0,0.0,0.0,0.75,1.400000,1
5020,1,0,1993-12-01,2017-12-31,0,2017-11-15,0.126027,24.098631,1,1518.0,2,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,0.0,0.0,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5021,1,0,1992-09-01,2017-12-31,0,2017-12-01,0.082192,25.347944,1,892.0,2,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,0.0,0.0,2015-05-24,0.0,2.0,0.0,0.0,0.0,0.0,1.50,5.000000,1
5022,1,0,1994-10-01,2017-12-31,0,2017-11-15,0.126027,23.265753,1,1332.0,1,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,0.0,0.0,2017-05-31,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.000000,0
5023,1,0,1995-05-01,2017-12-31,0,2017-12-01,0.082192,22.684931,1,1602.0,2,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,0.0,0.0,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.333333,1
5024,0,0,1991-08-01,2017-12-31,0,2017-11-15,0.126027,26.435616,1,0.0,2,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,0.0,0.0,2013-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5025,1,0,1995-07-01,2017-12-31,0,2017-11-14,0.128767,22.517809,1,429.0,2,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,0.0,0.0,2017-05-08,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5026,1,0,1986-09-01,2017-12-31,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,2008-10-31,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1
5027,1,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1413.0,2,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,0.0,0.0,2017-06-21,0.0,3.0,0.0,0.0,0.0,0.0,0.75,0.500000,1
5028,0,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1433.0,1,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,0.0,0.0,2017-09-30,1.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
5029,1,0,1992-08-01,2017-12-31,0,2017-12-01,0.082192,25.432877,1,1553.0,2,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,0.0,0.0,2017-07-06,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5030,1,0,1991-05-01,2017-12-31,0,2017-12-01,0.082192,26.687672,1,0.0,1,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,0.0,0.0,2017-05-26,0.0,2.0,0.0,0.0,0.0,0.0,0.50,0.000000,1
5031,1,0,1994-07-01,2017-12-31,0,2017-12-04,0.073973,23.517809,1,2146.0,2,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,0.0,0.0,2017-01-15,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5032,1,0,1994-11-01,2017-12-31,0,2017-12-07,0.065753,23.180822,1,1332.0,1,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,0.0,0.0,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5033,1,0,1991-09-01,2017-12-31,0,2017-12-15,0.043836,26.350685,1,1553.0,2,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.00,2.000000,1
5034,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,1553.0,2,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,0.0,0.0,2014-12-07,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1
5035,1,0,1994-09-01,2017-12-31,0,2017-12-12,0.052055,23.347944,1,1332.0,1,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,0.0,0.0,2017-06-24,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0
5036,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,892.0,2,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,0.0,0.0,2015-04-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,2.000000,0
5037,1,0,1990-05-01,2017-12-31,0,2017-12-15,0.043836,27.687672,1,1553.0,2,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,0.0,0.0,2014-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1
5038,1,0,1991-12-01,2017-12-31,0,2018-01-01,-0.002740,26.101370,1,1403.0,2,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1.000000,1

In [2620]:
MAIN.loc[MAIN['SUP Birth Date'].notnull() , 'SUP Age at Action'] = pd.to_numeric((MAIN['Action Date']-MAIN['SUP Birth Date'])/(60*60*24*1000000000), downcast='float')/365
MAIN.loc[MAIN['SUP Entry Date'].notnull() , 'SUP Exp at Action'] = pd.to_numeric((MAIN['Action Date']-MAIN['SUP Entry Date'])/(60*60*24*1000000000), downcast='float')/365

MAIN.loc[:,'Year After Grad'] = 0
MAIN.loc[MAIN['Last Grad Date'].notnull() , 'Year After Grad'] = pd.to_numeric((MAIN['Action Date']-MAIN['Last Grad Date'])/(60*60*24*1000000000), downcast='float')/365

MAIN.loc[:,'SUP Older Than EMP'] = 0
MAIN.loc[MAIN['SUP Birth Date'].isnull() , 'SUP Older Than EMP'] = -1
MAIN.loc[(MAIN['SUP Birth Date']>MAIN['Birth Date']), 'SUP Older Than EMP'] = 1

MAIN.loc[:,'Age Diff SUPvsEMP'] = 0
MAIN.loc[MAIN['SUP Birth Date'].notnull() , 'Age Diff SUPvsEMP'] = pd.to_numeric((MAIN['Birth Date']-MAIN['SUP Birth Date'])/(60*60*24*1000000000), downcast='float')/365

MAIN

,BSC Indicator,Resigned,Birth Date,Action Date,Is Re-Entry,Entry Date,Exp at Action,Age at Action,Is MPT,Manager Serial,SUP Gender,SUP Birth Date,SUP Action Date,SUP Entry Date,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Last Grad Date,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation,EMP Gender,Year After Grad,SUP Older Than EMP,Age Diff SUPvsEMP
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,1938-10-01,1998-11-01,0,1955-02-01,43.778084,60.126026,1,0.0,1,1953-10-01,2001-11-01,1981-04-01,17.597260,45.115070,1.0,0.0,0.0,0.0,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,45.863014,1,-15.010959
2,0,0,1942-03-01,1998-05-01,0,1960-01-01,38.356163,56.205479,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,41.356163,-1,0.000000
3,0,0,1938-06-01,1998-06-01,0,1958-10-15,39.654793,60.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1952-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,46.446575,-1,0.000000
4,0,0,1942-01-01,2000-03-01,0,1961-12-01,38.273972,58.202740,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1959-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,41.191780,-1,0.000000
5,0,0,1939-02-01,2000-03-01,0,1961-02-10,39.079453,61.120548,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1960-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,39.945206,-1,0.000000
6,0,0,1939-12-01,2000-01-01,0,1962-02-01,37.939728,60.126026,0,362.0,2,1947-05-01,2007-06-01,1979-10-15,20.227398,52.706848,1.0,0.0,0.0,0.0,1953-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,47.030136,1,-7.419178
7,0,0,1939-01-01,2000-02-01,0,1962-03-01,37.947945,61.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,1.0,0.0,0.0,1961-08-30,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.449314,-1,0.000000
8,0,0,1939-05-01,1999-01-01,0,1962-03-15,36.824657,59.712330,1,0.0,1,1939-04-01,1999-01-01,1966-09-01,32.356163,59.794521,1.0,0.0,0.0,0.0,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.024658,0,0.082192
9,0,0,1937-01-01,1998-01-01,0,1962-04-01,35.778084,61.041096,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1948-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,50.035618,-1,0.000000
10,0,0,1943-01-01,2000-05-01,0,1962-06-05,37.931507,57.369862,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.356163,-1,0.000000
11,0,0,1939-11-01,1999-12-01,0,1962-04-01,37.693150,60.123287,1,0.0,1,1941-04-01,2001-05-01,1968-01-01,31.936987,58.706848,1.0,0.0,0.0,0.0,1990-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,9.676712,1,-1.416438
12,0,1,1945-12-01,1999-04-01,0,1964-01-06,35.257534,53.367123,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1963-12-20,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,35.304111,-1,0.000000
13,0,0,1945-09-01,2005-10-01,0,1964-12-01,40.860275,60.123287,0,0.0,1,1963-10-01,2017-12-31,1991-09-01,14.093151,42.030136,1.0,0.0,0.0,0.0,1962-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,1.454545,0,43.778084,1,-18.093151
14,0,1,1946-09-01,2001-01-01,0,1964-10-01,36.276711,54.372604,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1963-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,37.783562,-1,0.000000
15,0,1,1944-04-01,1999-01-01,0,1964-05-07,34.676712,54.789040,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1964-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,35.024658,-1,0.000000
16,0,0,1938-10-01,1998-11-01,0,1964-09-01,34.189041,60.126026,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1964-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,34.857533,-1,0.000000
17,0,0,1943-04-01,2000-03-01,0,1964-12-01,35.271233,56.956165,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1989-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,10.926027,-1,0.000000
18,0,0,1938-02-01,1999-03-01,0,1965-03-04,34.013699,61.117809,1,0.0,1,1958-07-01,2017-08-01,1981-04-01,17.926027,40.693150,1.0,0.0,0.0,0.0,1961-01-01,1.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.186302,1,-20.424658
19,0,0,1943-12-01,1999-10-01,0,1965-06-01,34.356163,55.871231,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1991-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,8.753425,-1,0.000000
20,0,0,1941-06-01,2000-02-01,0,1965-08-01,34.526028,58.709591,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1964-05-01,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,35.778084,-1,0.000000
21,0,0,1941-09-01,2001-10-01,0,1965-10-01,36.024658,60.123287,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1968-05-31,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,33.358906,-1,0.000000
22,0,0,1940-11-01,2000-12-01,0,1965-11-01,35.106850,60.123287,1,1511.0,1,1961-02-01,2017-12-31,1989-11-06,11.076713,39.857533,1.0,0.0,0.0,0.0,1965-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,35.695889,1,-20.265753
23,0,0,1940-09-01,1998-07-01,0,1965-07-12,32.991779,57.868492,0,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1961-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,37.520550,-1,0.000000
24,0,0,1942-04-01,1999-07-01,0,1966-01-11,33.490410,57.287670,0,832.0,1,1965-11-01,2017-12-31,2011-02-01,-11.597260,33.684933,1.0,0.0,0.0,0.0,1957-01-01,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,42.523289,1,-23.602739
25,0,1,1944-02-01,1998-08-01,0,1966-07-18,32.060272,54.534248,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,1965-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,33.602741,-1,0.000000
26,0,0,1940-11-01,2000-05-01,0,1966-08-01,33.772602,59.536987,1,0.0,1,1954-06-01,2005-12-01,1979-05-01,21.016438,45.947945,1.0,1.0,0.0,0.0,1964-03-25,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,36.126026,1,-13.589041
27,0,0,1939-04-01,1999-01-01,0,1966-09-01,32.356163,59.794521,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,1.0,0.0,0.0,1966-04-01,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,32.775341,-1,0.000000
28,0,0,1940-07-01,2000-03-01,0,1966-11-01,33.353424,59.706848,1,0.0,1,1948-05-01,2007-01-01,1985-12-02,14.254794,51.868492,1.0,0.0,0.0,0.0,1975-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,24.769863,1,-7.838356
29,0,0,1941-10-01,2000-03-01,0,1966-11-08,33.334248,58.454796,1,0.0,1,1957-12-01,2017-12-31,1985-04-01,14.926027,42.276711,1.0,0.0,0.0,0.0,1965-03-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,34.942467,1,-16.178082
30,0,0,1942-06-01,2002-07-01,0,1966-03-15,36.320549,60.123287,1,782.0,1,1961-06-01,2017-12-31,1991-08-01,10.923287,41.109589,1.0,0.0,0.0,0.0,1961-03-31,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,41.279453,1,-19.013699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,1,0,1993-06-01,2017-12-31,0,2017-11-15,0.126027,24.600000,1,809.0,2,1977-08-01,2017-12-31,2003-11-01,14.175343,40.443836,1.0,0.0,0.0,0.0,2016-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,1.504110,0,15.843836
5010,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,559.0,2,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2016-06-30,0.0,2.0,0.0,0.0,4.0,1.0,1.00,1.000000,1,1.504110,0,14.093151
5011,1,0,1995-05-01,2017-12-31,0,2017-11-01,0.164384,22.684931,1,559.0,2,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2017-06-12,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1,0.553425,0,15.008219
5012,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,645.0,1,1984-06-01,2017-12-31,2007-10-08,10.238357,33.605480,1.0,0.0,0.0,0.0,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.666667,1,0.504110,0,10.005480
5013,1,0,1992-02-01,2017-12-31,0,2017-11-01,0.164384,25.931507,1,559.0,2,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2014-05-31,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,3.589041,0,11.761643
5014,1,0,1991-02-01,2017-12-31,0,2017-11-15,0.126027,26.931507,1,1553.0,2,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,0.0,0.0,2017-06-30,0.0,2.0,0.0,0.0,0.0,0.5,0.00,1.000000,0,0.504110,0,19.183561
5015,1,0,1990-06-01,2017-12-31,0,2017-11-01,0.164384,27.602739,1,1553.0,2,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,0.0,0.0,2017-06-30,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,0.504110,0,6.838356
5016,1,0,1994-07-01,2017-12-31,0,2017-11-15,0.126027,23.517809,1,568.0,2,1968-03-01,2017-12-31,1992-04-01,25.767124,49.868492,1.0,0.0,0.0,0.0,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.500000,1,0.589041,0,26.350685
5017,1,0,1994-06-01,2017-12-31,0,2017-11-01,0.164384,23.600000,1,924.0,2,1977-07-01,2017-12-31,2005-05-01,12.676712,40.528767,1.0,0.0,0.0,0.0,2016-12-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,6.000000,1,1.046575,0,16.928766
5018,1,0,1993-01-01,2017-12-31,0,2017-11-01,0.164384,25.013699,1,559.0,2,1980-05-01,2017-12-31,2003-01-01,15.008219,37.693150,1.0,0.0,0.0,0.0,2015-06-02,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.333333,1,2.583562,0,12.679452
5019,1,0,1993-07-01,2017-12-31,0,2017-11-15,0.126027,24.517809,1,613.0,2,1970-08-01,2017-12-31,2004-08-01,13.424658,47.449314,1.0,0.0,0.0,0.0,2017-05-21,0.0,2.0,0.0,0.0,0.0,0.0,0.75,1.400000,1,0.613699,0,22.931507
5020,1,0,1993-12-01,2017-12-31,0,2017-11-15,0.126027,24.098631,1,1518.0,2,1979-12-01,2017-12-31,2007-06-01,10.591781,38.109589,1.0,0.0,0.0,0.0,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.547945,0,14.010959
5021,1,0,1992-09-01,2017-12-31,0,2017-12-01,0.082192,25.347944,1,892.0,2,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,0.0,0.0,2015-05-24,0.0,2.0,0.0,0.0,0.0,0.0,1.50,5.000000,1,2.608219,0,13.010959
5022,1,0,1994-10-01,2017-12-31,0,2017-11-15,0.126027,23.265753,1,1332.0,1,1964-03-01,2017-12-31,1990-07-01,27.520548,53.871231,1.0,0.0,0.0,0.0,2017-05-31,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.000000,0,0.586301,0,30.605480
5023,1,0,1995-05-01,2017-12-31,0,2017-12-01,0.082192,22.684931,1,1602.0,2,1977-05-01,2017-12-31,2004-12-15,13.052054,40.695889,1.0,0.0,0.0,0.0,2017-06-14,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.333333,1,0.547945,0,18.010960
5024,0,0,1991-08-01,2017-12-31,0,2017-11-15,0.126027,26.435616,1,0.0,2,1983-09-01,2017-12-31,2008-09-01,9.336987,34.356163,1.0,0.0,0.0,0.0,2013-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,4.506849,0,7.920548
5025,1,0,1995-07-01,2017-12-31,0,2017-11-14,0.128767,22.517809,1,429.0,2,1983-12-01,2017-12-31,2009-08-15,8.383562,34.106850,1.0,0.0,0.0,0.0,2017-05-08,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,0.649315,0,11.589041
5026,1,0,1986-09-01,2017-12-31,0,2017-12-01,0.082192,31.353424,1,0.0,0,NaT,NaT,NaT,0.000000,0.000000,0.0,0.0,0.0,0.0,2008-10-31,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1,9.172603,-1,0.000000
5027,1,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1413.0,2,1984-05-01,2017-12-31,2008-01-08,9.986301,33.690411,1.0,0.0,0.0,0.0,2017-06-21,0.0,3.0,0.0,0.0,0.0,0.0,0.75,0.500000,1,0.528767,0,7.923288
5028,0,0,1992-04-01,2017-12-31,0,2017-12-01,0.082192,25.767124,1,1433.0,1,1964-02-01,2017-12-31,1992-06-01,25.600000,53.950684,1.0,0.0,0.0,0.0,2017-09-30,1.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,0.252055,0,28.183561
5029,1,0,1992-08-01,2017-12-31,0,2017-12-01,0.082192,25.432877,1,1553.0,2,1979-09-01,2017-12-31,2007-01-01,11.005480,38.358906,1.0,0.0,0.0,0.0,2017-07-06,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,0.487671,0,12.926027
5030,1,0,1991-05-01,2017-12-31,0,2017-12-01,0.082192,26.687672,1,0.0,1,1976-11-01,2017-12-31,2000-06-12,17.564384,41.191780,1.0,0.0,0.0,0.0,2017-05-26,0.0,2.0,0.0,0.0,0.0,0.0,0.50,0.000000,1,0.600000,0,14.504109
5031,1,0,1994-07-01,2017-12-31,0,2017-12-04,0.073973,23.517809,1,2146.0,2,1981-02-01,2017-12-31,2006-03-15,11.805479,36.936985,1.0,0.0,0.0,0.0,2017-01-15,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.958904,0,13.419178
5032,1,0,1994-11-01,2017-12-31,0,2017-12-07,0.065753,23.180822,1,1332.0,1,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,0.0,0.0,2017-05-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.589041,0,22.934246
5033,1,0,1991-09-01,2017-12-31,0,2017-12-15,0.043836,26.350685,1,1553.0,2,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.00,2.000000,1,0.000000,0,19.764383
5034,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,1553.0,2,1971-12-01,2017-12-31,2005-07-01,12.509589,46.115070,1.0,0.0,0.0,0.0,2014-12-07,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,3.068493,0,21.101370
5035,1,0,1994-09-01,2017-12-31,0,2017-12-12,0.052055,23.347944,1,1332.0,1,1971-12-01,2017-12-31,2011-06-01,6.589041,46.115070,1.0,0.0,0.0,0.0,2017-06-24,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,0.520548,0,22.767124
5036,1,0,1993-01-01,2017-12-31,0,2017-12-15,0.043836,25.013699,1,892.0,2,1979-09-01,2017-12-31,2004-04-01,13.758904,38.358906,1.0,0.0,0.0,0.0,2015-04-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,2.000000,0,2.673973,0,13.345205
5037,1,0,1990-05-01,2017-12-31,0,2017-12-15,0.043836,27.687672,1,1553.0,2,1983-08-01,2017-12-31,2007-10-01,10.257534,34.441097,1.0,0.0,0.0,0.0,2014-06-30,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,3.506849,0,6.753425
5038,1,0,1991-12-01,2017-12-31,0,2018-01-01,-0.002740,26.101370,1,1403.0,2,1969-03-01,2017-12-31,1992-04-01,25.767124,48.868492,1.0,0.0,0.0,0.0,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.000000,0,22.767124

In [2621]:
DropCol = [
'Manager Serial',
'Birth Date',
'Action Date',
'Entry Date',
'SUP Birth Date',
'SUP Action Date',
'SUP Entry Date',
'Last Grad Date']
MAIN.drop(DropCol, axis=1, inplace=True)

MAIN

,BSC Indicator,Resigned,Is Re-Entry,Exp at Action,Age at Action,Is MPT,SUP Gender,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation,EMP Gender,Year After Grad,SUP Older Than EMP,Age Diff SUPvsEMP
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,43.778084,60.126026,1,1,17.597260,45.115070,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,45.863014,1,-15.010959
2,0,0,0,38.356163,56.205479,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,41.356163,-1,0.000000
3,0,0,0,39.654793,60.041096,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,46.446575,-1,0.000000
4,0,0,0,38.273972,58.202740,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,41.191780,-1,0.000000
5,0,0,0,39.079453,61.120548,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,39.945206,-1,0.000000
6,0,0,0,37.939728,60.126026,0,2,20.227398,52.706848,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,47.030136,1,-7.419178
7,0,0,0,37.947945,61.126026,1,0,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.449314,-1,0.000000
8,0,0,0,36.824657,59.712330,1,1,32.356163,59.794521,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.024658,0,0.082192
9,0,0,0,35.778084,61.041096,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,50.035618,-1,0.000000
10,0,0,0,37.931507,57.369862,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.356163,-1,0.000000
11,0,0,0,37.693150,60.123287,1,1,31.936987,58.706848,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,9.676712,1,-1.416438
12,0,1,0,35.257534,53.367123,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,35.304111,-1,0.000000
13,0,0,0,40.860275,60.123287,0,1,14.093151,42.030136,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,1.454545,0,43.778084,1,-18.093151
14,0,1,0,36.276711,54.372604,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,37.783562,-1,0.000000
15,0,1,0,34.676712,54.789040,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,35.024658,-1,0.000000
16,0,0,0,34.189041,60.126026,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,34.857533,-1,0.000000
17,0,0,0,35.271233,56.956165,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,10.926027,-1,0.000000
18,0,0,0,34.013699,61.117809,1,1,17.926027,40.693150,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.186302,1,-20.424658
19,0,0,0,34.356163,55.871231,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,8.753425,-1,0.000000
20,0,0,0,34.526028,58.709591,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,35.778084,-1,0.000000
21,0,0,0,36.024658,60.123287,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,33.358906,-1,0.000000
22,0,0,0,35.106850,60.123287,1,1,11.076713,39.857533,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,35.695889,1,-20.265753
23,0,0,0,32.991779,57.868492,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,37.520550,-1,0.000000
24,0,0,0,33.490410,57.287670,0,1,-11.597260,33.684933,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,42.523289,1,-23.602739
25,0,1,0,32.060272,54.534248,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,33.602741,-1,0.000000
26,0,0,0,33.772602,59.536987,1,1,21.016438,45.947945,1.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,36.126026,1,-13.589041
27,0,0,0,32.356163,59.794521,1,0,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,32.775341,-1,0.000000
28,0,0,0,33.353424,59.706848,1,1,14.254794,51.868492,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,24.769863,1,-7.838356
29,0,0,0,33.334248,58.454796,1,1,14.926027,42.276711,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,34.942467,1,-16.178082
30,0,0,0,36.320549,60.123287,1,1,10.923287,41.109589,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,41.279453,1,-19.013699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,1,0,0,0.126027,24.600000,1,2,14.175343,40.443836,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,1.504110,0,15.843836
5010,1,0,0,0.164384,23.600000,1,2,15.008219,37.693150,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,4.0,1.0,1.00,1.000000,1,1.504110,0,14.093151
5011,1,0,0,0.164384,22.684931,1,2,15.008219,37.693150,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1,0.553425,0,15.008219
5012,1,0,0,0.164384,23.600000,1,1,10.238357,33.605480,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.666667,1,0.504110,0,10.005480
5013,1,0,0,0.164384,25.931507,1,2,15.008219,37.693150,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,3.589041,0,11.761643
5014,1,0,0,0.126027,26.931507,1,2,12.509589,46.115070,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.5,0.00,1.000000,0,0.504110,0,19.183561
5015,1,0,0,0.164384,27.602739,1,2,10.257534,34.441097,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,0.504110,0,6.838356
5016,1,0,0,0.126027,23.517809,1,2,25.767124,49.868492,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.500000,1,0.589041,0,26.350685
5017,1,0,0,0.164384,23.600000,1,2,12.676712,40.528767,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,6.000000,1,1.046575,0,16.928766
5018,1,0,0,0.164384,25.013699,1,2,15.008219,37.693150,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.333333,1,2.583562,0,12.679452
5019,1,0,0,0.126027,24.517809,1,2,13.424658,47.449314,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.75,1.400000,1,0.613699,0,22.931507
5020,1,0,0,0.126027,24.098631,1,2,10.591781,38.109589,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.547945,0,14.010959
5021,1,0,0,0.082192,25.347944,1,2,13.758904,38.358906,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.50,5.000000,1,2.608219,0,13.010959
5022,1,0,0,0.126027,23.265753,1,1,27.520548,53.871231,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.000000,0,0.586301,0,30.605480
5023,1,0,0,0.082192,22.684931,1,2,13.052054,40.695889,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.333333,1,0.547945,0,18.010960
5024,0,0,0,0.126027,26.435616,1,2,9.336987,34.356163,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,4.506849,0,7.920548
5025,1,0,0,0.128767,22.517809,1,2,8.383562,34.106850,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,0.649315,0,11.589041
5026,1,0,0,0.082192,31.353424,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1,9.172603,-1,0.000000
5027,1,0,0,0.082192,25.767124,1,2,9.986301,33.690411,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.75,0.500000,1,0.528767,0,7.923288
5028,0,0,0,0.082192,25.767124,1,1,25.600000,53.950684,1.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,0.252055,0,28.183561
5029,1,0,0,0.082192,25.432877,1,2,11.005480,38.358906,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,0.487671,0,12.926027
5030,1,0,0,0.082192,26.687672,1,1,17.564384,41.191780,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.50,0.000000,1,0.600000,0,14.504109
5031,1,0,0,0.073973,23.517809,1,2,11.805479,36.936985,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.958904,0,13.419178
5032,1,0,0,0.065753,23.180822,1,1,6.589041,46.115070,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.589041,0,22.934246
5033,1,0,0,0.043836,26.350685,1,2,12.509589,46.115070,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,2.000000,1,0.000000,0,19.764383
5034,1,0,0,0.043836,25.013699,1,2,12.509589,46.115070,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,3.068493,0,21.101370
5035,1,0,0,0.052055,23.347944,1,1,6.589041,46.115070,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,0.520548,0,22.767124
5036,1,0,0,0.043836,25.013699,1,2,13.758904,38.358906,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,2.000000,0,2.673973,0,13.345205
5037,1,0,0,0.043836,27.687672,1,2,10.257534,34.441097,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,3.506849,0,6.753425
5038,1,0,0,-0.002740,26.101370,1,2,25.767124,48.868492,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.000000,0,22.767124

In [2622]:
MAIN.describe()

,Resigned,Is Re-Entry,Exp at Action,Age at Action,Is MPT,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation,EMP Gender,Year After Grad,SUP Older Than EMP,Age Diff SUPvsEMP
count,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000,5038.000000
mean,0.477769,0.031957,10.029904,35.858677,0.785232,12.417790,33.512405,0.800119,0.130210,0.134974,0.301509,0.231441,2.136761,1.294963,1.619071,0.701858,0.857973,0.996970,1.089977,0.546249,11.956354,-0.000595,4.822358
std,0.499555,0.175903,9.975163,10.537692,0.410702,9.288199,17.658733,0.399950,0.336568,0.341730,0.458959,0.421795,0.785107,9.893904,6.709320,3.174613,5.334129,1.682376,0.914418,0.497906,12.588236,0.621403,9.791031
min,0.000000,0.000000,-7.630137,20.764383,0.000000,-16.797260,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.397260,-1.000000,-30.608219
25%,0.000000,0.000000,2.180822,27.271233,1.000000,5.276027,32.126028,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.032877,0.000000,0.000000
50%,0.000000,0.000000,6.250685,32.934246,1.000000,11.679452,38.109589,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.916667,1.190045,1.000000,7.669863,0.000000,3.917808
75%,1.000000,0.000000,14.093151,42.945206,1.000000,18.908218,45.780823,1.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,1.000000,1.187500,1.500000,1.000000,17.801370,0.000000,11.509589
max,1.000000,1.000000,43.778084,61.126026,1.000000,37.616440,65.383560,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,127.000000,33.000000,103.000000,137.000000,28.500000,13.000000,1.000000,201.389038,1.000000,35.942467

In [2623]:
MAIN.dtypes

BSC Indicator          object
Resigned                int64
Is Re-Entry             int64
Exp at Action         float32
Age at Action         float32
Is MPT                  int64
SUP Gender             object
SUP Exp at Action     float32
SUP Age at Action     float32
SUP Is MPT            float64
Is SUP                float64
EDU Allowance         float64
House Loan            float64
Is STEM               float64
MAX Degree            float64
VAC_DependentCare     float64
VAC_Maternity         float64
VAC_Others            float64
VAC_Personal          float64
VAC_Sick              float64
VAC_Vacation          float64
EMP Gender              int64
Year After Grad       float32
SUP Older Than EMP      int64
Age Diff SUPvsEMP     float32
dtype: object

In [2625]:
MAIN.to_csv('MAIN.csv')

In [2626]:
#MODEL

In [2627]:
X = MAIN.drop('Resigned',axis=1)

X

,BSC Indicator,Is Re-Entry,Exp at Action,Age at Action,Is MPT,SUP Gender,SUP Exp at Action,SUP Age at Action,SUP Is MPT,Is SUP,EDU Allowance,House Loan,Is STEM,MAX Degree,VAC_DependentCare,VAC_Maternity,VAC_Others,VAC_Personal,VAC_Sick,VAC_Vacation,EMP Gender,Year After Grad,SUP Older Than EMP,Age Diff SUPvsEMP
Serial Number,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,43.778084,60.126026,1,1,17.597260,45.115070,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,45.863014,1,-15.010959
2,0,0,38.356163,56.205479,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,41.356163,-1,0.000000
3,0,0,39.654793,60.041096,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,46.446575,-1,0.000000
4,0,0,38.273972,58.202740,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,41.191780,-1,0.000000
5,0,0,39.079453,61.120548,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,39.945206,-1,0.000000
6,0,0,37.939728,60.126026,0,2,20.227398,52.706848,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,47.030136,1,-7.419178
7,0,0,37.947945,61.126026,1,0,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.449314,-1,0.000000
8,0,0,36.824657,59.712330,1,1,32.356163,59.794521,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.024658,0,0.082192
9,0,0,35.778084,61.041096,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,50.035618,-1,0.000000
10,0,0,37.931507,57.369862,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.356163,-1,0.000000
11,0,0,37.693150,60.123287,1,1,31.936987,58.706848,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,9.676712,1,-1.416438
12,0,0,35.257534,53.367123,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,35.304111,-1,0.000000
13,0,0,40.860275,60.123287,0,1,14.093151,42.030136,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,1.454545,0,43.778084,1,-18.093151
14,0,0,36.276711,54.372604,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,37.783562,-1,0.000000
15,0,0,34.676712,54.789040,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,35.024658,-1,0.000000
16,0,0,34.189041,60.126026,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,34.857533,-1,0.000000
17,0,0,35.271233,56.956165,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,10.926027,-1,0.000000
18,0,0,34.013699,61.117809,1,1,17.926027,40.693150,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,38.186302,1,-20.424658
19,0,0,34.356163,55.871231,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,8.753425,-1,0.000000
20,0,0,34.526028,58.709591,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,35.778084,-1,0.000000
21,0,0,36.024658,60.123287,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,33.358906,-1,0.000000
22,0,0,35.106850,60.123287,1,1,11.076713,39.857533,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,35.695889,1,-20.265753
23,0,0,32.991779,57.868492,0,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,37.520550,-1,0.000000
24,0,0,33.490410,57.287670,0,1,-11.597260,33.684933,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,42.523289,1,-23.602739
25,0,0,32.060272,54.534248,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,33.602741,-1,0.000000
26,0,0,33.772602,59.536987,1,1,21.016438,45.947945,1.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,36.126026,1,-13.589041
27,0,0,32.356163,59.794521,1,0,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,32.775341,-1,0.000000
28,0,0,33.353424,59.706848,1,1,14.254794,51.868492,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,24.769863,1,-7.838356
29,0,0,33.334248,58.454796,1,1,14.926027,42.276711,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,34.942467,1,-16.178082
30,0,0,36.320549,60.123287,1,1,10.923287,41.109589,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,41.279453,1,-19.013699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,1,0,0.126027,24.600000,1,2,14.175343,40.443836,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,1.504110,0,15.843836
5010,1,0,0.164384,23.600000,1,2,15.008219,37.693150,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,4.0,1.0,1.00,1.000000,1,1.504110,0,14.093151
5011,1,0,0.164384,22.684931,1,2,15.008219,37.693150,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1,0.553425,0,15.008219
5012,1,0,0.164384,23.600000,1,1,10.238357,33.605480,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.666667,1,0.504110,0,10.005480
5013,1,0,0.164384,25.931507,1,2,15.008219,37.693150,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,3.589041,0,11.761643
5014,1,0,0.126027,26.931507,1,2,12.509589,46.115070,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.5,0.00,1.000000,0,0.504110,0,19.183561
5015,1,0,0.164384,27.602739,1,2,10.257534,34.441097,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,0.504110,0,6.838356
5016,1,0,0.126027,23.517809,1,2,25.767124,49.868492,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.500000,1,0.589041,0,26.350685
5017,1,0,0.164384,23.600000,1,2,12.676712,40.528767,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,6.000000,1,1.046575,0,16.928766
5018,1,0,0.164384,25.013699,1,2,15.008219,37.693150,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.333333,1,2.583562,0,12.679452
5019,1,0,0.126027,24.517809,1,2,13.424658,47.449314,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.75,1.400000,1,0.613699,0,22.931507
5020,1,0,0.126027,24.098631,1,2,10.591781,38.109589,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.547945,0,14.010959
5021,1,0,0.082192,25.347944,1,2,13.758904,38.358906,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.50,5.000000,1,2.608219,0,13.010959
5022,1,0,0.126027,23.265753,1,1,27.520548,53.871231,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.000000,0,0.586301,0,30.605480
5023,1,0,0.082192,22.684931,1,2,13.052054,40.695889,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.00,1.333333,1,0.547945,0,18.010960
5024,0,0,0.126027,26.435616,1,2,9.336987,34.356163,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,4.506849,0,7.920548
5025,1,0,0.128767,22.517809,1,2,8.383562,34.106850,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,0.649315,0,11.589041
5026,1,0,0.082192,31.353424,1,0,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,1.00,0.000000,1,9.172603,-1,0.000000
5027,1,0,0.082192,25.767124,1,2,9.986301,33.690411,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.75,0.500000,1,0.528767,0,7.923288
5028,0,0,0.082192,25.767124,1,1,25.600000,53.950684,1.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,0.252055,0,28.183561
5029,1,0,0.082192,25.432877,1,2,11.005480,38.358906,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,0.487671,0,12.926027
5030,1,0,0.082192,26.687672,1,1,17.564384,41.191780,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.50,0.000000,1,0.600000,0,14.504109
5031,1,0,0.073973,23.517809,1,2,11.805479,36.936985,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.958904,0,13.419178
5032,1,0,0.065753,23.180822,1,1,6.589041,46.115070,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.589041,0,22.934246
5033,1,0,0.043836,26.350685,1,2,12.509589,46.115070,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,2.000000,1,0.000000,0,19.764383
5034,1,0,0.043836,25.013699,1,2,12.509589,46.115070,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,3.068493,0,21.101370
5035,1,0,0.052055,23.347944,1,1,6.589041,46.115070,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,0,0.520548,0,22.767124
5036,1,0,0.043836,25.013699,1,2,13.758904,38.358906,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,2.000000,0,2.673973,0,13.345205
5037,1,0,0.043836,27.687672,1,2,10.257534,34.441097,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.00,0.000000,1,3.506849,0,6.753425
5038,1,0,-0.002740,26.101370,1,2,25.767124,48.868492,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1.000000,1,0.000000,0,22.767124

In [2628]:
y = MAIN['Resigned']

y

Serial Number
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      1
13      0
14      1
15      1
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      1
26      0
27      0
28      0
29      0
30      0
       ..
5009    0
5010    0
5011    0
5012    0
5013    0
5014    0
5015    0
5016    0
5017    0
5018    0
5019    0
5020    0
5021    0
5022    0
5023    0
5024    0
5025    0
5026    0
5027    0
5028    0
5029    0
5030    0
5031    0
5032    0
5033    0
5034    0
5035    0
5036    0
5037    0
5038    0
Name: Resigned, Length: 5038, dtype: int64

In [2629]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

In [2630]:
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)
predictions = dtree.predict(X_test)

print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))

             precision    recall  f1-score   support

          0       0.80      0.85      0.82      1036
          1       0.83      0.77      0.80       980

avg / total       0.81      0.81      0.81      2016

[[885 151]
 [225 755]]

In [2631]:
rfc = RandomForestClassifier(n_estimators=400)
rfc.fit(X_train, y_train)
rfc_pred = rfc.predict(X_test)

print(classification_report(y_test,rfc_pred))
print(confusion_matrix(y_test,rfc_pred))

             precision    recall  f1-score   support

          0       0.83      0.91      0.87      1036
          1       0.90      0.81      0.85       980

avg / total       0.86      0.86      0.86      2016

[[944  92]
 [188 792]]

In [2632]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, y_train) * 100, 2)

print(acc_log)
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

80.61
             precision    recall  f1-score   support

          0       0.77      0.86      0.81      1036
          1       0.83      0.73      0.78       980

avg / total       0.80      0.80      0.79      2016

[[890 146]
 [266 714]]

In [2633]:
coeff_df = pd.DataFrame(MAIN.columns.delete(0))
coeff_df.columns = ['Resigned']
coeff_df["Correlation"] = pd.Series(logreg.coef_[0])
coeff_df.sort_values(by='Correlation', ascending=False)

              Resigned  Correlation
4               Is MPT     0.626370
13          MAX Degree     0.248472
14   VAC_DependentCare     0.018817
7    SUP Age at Action     0.017599
21     Year After Grad     0.004497
17        VAC_Personal     0.000562
16          VAC_Others    -0.015917
23   Age Diff SUPvsEMP    -0.020110
1          Is Re-Entry    -0.021286
15       VAC_Maternity    -0.023051
10       EDU Allowance    -0.025750
6    SUP Exp at Action    -0.030323
2        Exp at Action    -0.054681
3        Age at Action    -0.079817
22  SUP Older Than EMP    -0.096724
18            VAC_Sick    -0.110477
20          EMP Gender    -0.148251
12             Is STEM    -0.231149
8           SUP Is MPT    -0.473512
5           SUP Gender    -0.495433
9               Is SUP    -0.496168
19        VAC_Vacation    -0.526271
11          House Loan    -0.985788
0             Resigned    -1.823177

In [2634]:
svc = SVC()
svc.fit(X_train, y_train)
svc_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, y_train) * 100, 2)

print(acc_svc)
print(classification_report(y_test,svc_pred))
print(confusion_matrix(y_test,svc_pred))

93.02
             precision    recall  f1-score   support

          0       0.74      0.87      0.80      1036
          1       0.84      0.68      0.75       980

avg / total       0.79      0.78      0.78      2016

[[904 132]
 [311 669]]